<kendo-multiselect
  kendoMultiSelectSummaryTag
  size="small"
  [checkboxes]="true"
  [autoClose]="false"
  [data]="data()"
  [(value)]="values"
  adaptiveMode="auto"
  (valueChange)="changed($event)"
>
  <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
    @if (dataItems.length == data().length) {
    {{ "General.All" | translate }}
    } @else {
    <span class="tx-12">
      {{ dataItems | projectStatusList | translateList }}
    </span>
    }
  </ng-template>
  <ng-template kendoMultiSelectItemTemplate let-dataItem>
    <div class="role-item">
      <span class="d-inline-block wd-150">
        {{ dataItem | projectStatus | translate }}
      </span>
      <a class="tx-10" (click)="only($event, dataItem)">
        {{ "General.Only" | translate }}
      </a>
    </div>
  </ng-template>
</kendo-multiselect>
