<nav
  aria-label="breadcrumb"
  style="margin-top: 20px"
  *ngIf="path$ | async; let path"
>
  <ol class="breadcrumb breadcrumb-style mg-b-0" *ngIf="path === root">
    <li class="breadcrumb-item active">
      {{ "General.Settings" | translate }}
    </li>
  </ol>
  <ol class="breadcrumb breadcrumb-style mg-b-0" *ngIf="path !== root">
    <li class="breadcrumb-item">
      <a [routerLink]="root">
        {{ "General.Settings" | translate }}
      </a>
    </li>
    <ng-template ngFor let-crumb [ngForOf]="crumbs$ | async">
      <li *ngIf="crumb.url" class="breadcrumb-item">
        <a [routerLink]="crumb.url">
          {{ crumb.text | translate }}
        </a>
      </li>
      <li *ngIf="!crumb.url" class="breadcrumb-item active">
        {{ crumb.text | translate }}
      </li>
    </ng-template>
  </ol>
</nav>
