@if (opened()) {
<kendo-dialog
  [width]="dialogWidth()"
  [height]="dialogHeight()"
  [title]="'General.TaskDetails' | translate"
  (close)="closed()"
>
  <div class="pd-10">
    <router-outlet />
  </div>
  <kendo-dialog-actions layout="start">
    <div class="d-flex w-100">
      <div class="tx-left flex-grow-1">
        @if (task()?.previousTaskId; as taskId) {
        <a class="btn btn-outline-dark" [routerLink]="[taskId, 'about']">
          {{ "General.Previous" | translate }}
        </a>
        }
      </div>
      <div class="tx-right flex-grow-1">
        @if (task()?.nextTaskId; as taskId) {
        <a class="btn btn-outline-dark" [routerLink]="[taskId, 'about']">
          {{ "General.Next" | translate }}
        </a>
        }
      </div>
    </div>
  </kendo-dialog-actions>
</kendo-dialog>
}
