@let claims = projectStore.claims(); @if (showDialog()) {
<kendo-dialog height="95%" width="95%" (close)="showDialog.set(false)">
  <kendo-dialog-titlebar class="bg-gray-200">
    {{ "General.Tasks" | translate }}
  </kendo-dialog-titlebar>
  <div
    [(wbsHeight)]="dialogContainerHeight"
    class="pd-0 d-flex flex-column h-100"
  >
    @if (view() === 'phases') {
    <wbs-project-phase-tree
      [(view)]="view"
      [(wbsAbs)]="wbsAbs"
      [isFullScreen]="true"
      [claims]="claims"
      [containerHeight]="dialogContainerHeight()"
      (exitFullScreen)="showDialog.set(false)"
    />
    } @else if (view() === 'disciplines') {
    <wbs-project-discipline-tree
      [(view)]="view"
      [(wbsAbs)]="wbsAbs"
      [isFullscreen]="true"
      [containerHeight]="dialogContainerHeight()"
      (exitFullScreen)="showDialog.set(false)"
    />
    }
  </div>
</kendo-dialog>
}
<div [(wbsHeight)]="containerHeight" class="d-flex flex-column h-100">
  @if (view() === 'phases') {
  <wbs-project-phase-tree
    [(view)]="view"
    [(wbsAbs)]="wbsAbs"
    [isFullScreen]="false"
    [claims]="claims"
    [containerHeight]="containerHeight()"
    (goFullScreen)="showDialog.set(true)"
  />
  } @else if (view() === 'disciplines') {
  <wbs-project-discipline-tree
    [(view)]="view"
    [(wbsAbs)]="wbsAbs"
    [isFullscreen]="false"
    [containerHeight]="containerHeight()"
    (goFullScreen)="showDialog.set(true)"
  />
  }
</div>
