<div
  *ngIf="!hideUnselected || cat.selected"
  class="list-group-item d-flex pd-l-0 flex-align-center"
>
  <div class="wd-60 tx-semibold tx-center tx-28" style="flex: 0 0 60px">
    <span *ngIf="cat.selected"> {{ cat.number }}. </span>
  </div>
  <div class="flex-grow-1">
    <div class="tx-16">
      {{ cat.label | translate }}
    </div>
    <div class="tx-12 font-italic">
      {{ cat.description | translate }}
    </div>
  </div>
  <div class="pd-t-5">
    <wbs-switch
      [(value)]="cat.selected"
      [confirmMessage]="cat.confirm?.label"
      [confirmData]="cat.confirm?.data"
      (valueChange)="changed.emit()"
    />
  </div>
</div>
