<div
  *ngIf="tree$ | async; let tree"
  appFillElement
  [paddingBottom]="20"
  kendoPopoverContainer
  showOn="hover"
  filter=".node-level"
  [popover]="levelPopup"
>
  <kendo-treelist
    #treelist
    [kendoTreeListFlatBinding]="tree"
    parentIdField="parentId"
    idField="id"
    kendoTreeListExpandable
    [initiallyExpanded]="true"
    [(expandedKeys)]="expandedKeys"
    (expand)="onToggle()"
    (close)="onToggle()"
  >
    <ng-template *ngIf="toolbar" kendoTreeListToolbarTemplate>
      <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </ng-template>
    <kendo-treelist-column
      field="levelText"
      [title]="'Wbs.Level' | translate"
      [width]="100"
      class="level-column"
      headerClass="level-header-column"
    >
      <ng-template kendoTreeListCellTemplate let-dataItem>
        <span [id]="dataItem.id" class="node-level">
          {{ dataItem.levelText }}
        </span>
      </ng-template>
    </kendo-treelist-column>
    <kendo-treelist-column
      [expandable]="true"
      field="title"
      [title]="'General.Name' | translate"
    >
    </kendo-treelist-column>
    <kendo-treelist-column
      field="disciplines"
      [width]="150"
      class="discipline-column"
      headerClass="discipline-column"
    >
      <ng-template
        kendoTreeListHeaderTemplate
        kendoPopoverContainer
        showOn="hover"
        filter="fa-duotone-icon"
        [popover]="legendPopup"
      >
        {{ "Wbs.Disciplines" | translate }} &nbsp;
        <fa-duotone-icon [icon]="faCircleQuestion"></fa-duotone-icon>
      </ng-template>
      <ng-template kendoTreeListCellTemplate let-dataItem>
        <wbs-discipline-icon-list [disciplines]="dataItem.disciplines">
        </wbs-discipline-icon-list>
      </ng-template>
    </kendo-treelist-column>
  </kendo-treelist>
</div>

<kendo-popover
  #levelPopup
  position="right"
  [callout]="true"
  [title]="'Wbs.NodeLevelStats' | translate"
  [templateData]="getContextData"
  [height]="150"
  [animation]="{ duration: 100, type: 'slide', direction: 'right' }"
>
  <ng-template kendoPopoverBodyTemplate let-anchor let-data="data">
    <wbs-level-popover [data]="data"></wbs-level-popover>
  </ng-template>
</kendo-popover>

<kendo-popover
  #legendPopup
  position="left"
  [callout]="true"
  [height]="150"
  [ngClass]="'legend-popup'"
  [animation]="{ duration: 100, type: 'slide', direction: 'left' }"
>
  <ng-template kendoPopoverBodyTemplate let-anchor>
    <wbs-legend-discipline [ids]="project?.categories?.discipline ?? []">
    </wbs-legend-discipline>
  </ng-template>
</kendo-popover>
