/* ###### 9.7 Position   ###### */

.child-hoverer {
  .child-to-show {
    display: none !important;
  }
  .child-to-show.nevermind {
    display: block !important;
  }
}

.child-hoverer:hover {
  .child-to-show {
    display: block !important;
  }
}

.hover-visible:hover {
  .child-to-show {
    visibility: visible;
  }
}

.hover-visible {
  .child-to-show {
    visibility: hidden;
  }
}

.hoverer {
  display: none !important;
}

.hoverer:hover {
  display: block !important;
}

.flex-flow-col {
  flex-flow: column;
}

.flex-flow-row {
  flex-flow: row;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: start;
}

.flex-align-end {
  align-items: end;
}

.flex-row {
  flex-direction: row;
}

.flex-row-f {
  flex-direction: row !important;
}

.flex-column-f {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.pos-fixed {
  position: fixed;
}

.pos-static {
  position: static;
}

.pos-absolute-f {
  position: absolute !important;
}

.pos-relative-f {
  position: relative !important;
}

.pos-fixed-f {
  position: fixed !important;
}

.pos-static-f {
  position: static !important;
}

.float-left {
  float: left;
}

.z-index-0 {
  z-index: 0;
}

.z-index-10 {
  z-index: 10;
}

.z-index-50 {
  z-index: 50;
}

.z-index-100 {
  z-index: 100;
}

.z-index-150 {
  z-index: 150;
}

.z-index-200 {
  z-index: 200;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}
