/* ###### 9.8 Typography   ###### */

.tx-bold {
  font-weight: 700;
}

.tx-semibold {
  font-weight: 600;
}

.tx-medium {
  font-weight: 500;
}

.tx-normal {
  font-weight: 400;
}

.tx-light {
  font-weight: 300;
}

.tx-thin {
  font-weight: 200;
}

.tx-xthin {
  font-weight: 100;
}

.rotate-90 {
  transform: rotate(90deg);
}

.tx-sserif {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tx-roboto {
  font-family: "Roboto", sans-serif;
}

.tx-white {
  color: $white;
}

.tx-black {
  color: $black;
}

.tx-primary {
  color: $primary;
}

.tx-primary-f {
  color: $primary !important;
}

.tx-success {
  color: $success;
}

.tx-success-f {
  color: $success !important;
}

.tx-warning {
  color: $warning;
}

.tx-danger {
  color: $danger;
}

.tx-danger-f {
  color: $danger !important;
}

.tx-danger-f {
  color: $danger !important;
}

.tx-info {
  color: $info;
}

.tx-inverse {
  color: #7987a1;
}

.tx-teal {
  color: $teal;
}

.tx-dark {
  color: $gray-900;
}

.tx-indigo {
  color: $primary;
}

.tx-purple {
  color: $purple;
}

.tx-orange {
  color: $orange;
}

.tx-pink {
  color: $pink;
}

.tx-gray-100 {
  color: $gray-100;
}

.tx-gray-200 {
  color: $gray-200;
}

.tx-gray-300 {
  color: $gray-300;
}

.tx-gray-400 {
  color: $gray-400;
}

.tx-gray-500 {
  color: $gray-500;
}

.tx-gray-600 {
  color: $gray-600;
}

.tx-gray-600-f {
  color: $gray-600 !important;
}

.tx-gray-700 {
  color: $gray-700;
}

.tx-gray-800 {
  color: $gray-800;
}

.tx-gray-900 {
  color: $gray-900;
}

.tx-white-2 {
  color: $white-2;
}

.tx-white-3 {
  color: $white-3;
}

.tx-white-4 {
  color: $white-4;
}

.tx-white-5 {
  color: $white-5;
}

.tx-white-6 {
  color: $white-6;
}

.tx-white-7 {
  color: $white-7;
}

.tx-white-8 {
  color: $white-8;
}

.tx-spacing-1 {
  letter-spacing: 0.5px;
}

.tx-spacing-2 {
  letter-spacing: 1px;
}

.tx-spacing-3 {
  letter-spacing: 1.5px;
}

.tx-spacing-4 {
  letter-spacing: 2px;
}

.tx-spacing-5 {
  letter-spacing: 2.5px;
}

.tx-spacing-6 {
  letter-spacing: 3px;
}

.tx-spacing-7 {
  letter-spacing: 3.5px;
}

.tx-spacing-8 {
  letter-spacing: 4px;
}

.tx-spacing--1 {
  letter-spacing: -0.5px;
}

.tx-spacing--2 {
  letter-spacing: -1px;
}

.tx-spacing--3 {
  letter-spacing: -1.5px;
}

.tx-spacing--4 {
  letter-spacing: -2px;
}

.tx-spacing--5 {
  letter-spacing: -2.5px;
}

.tx-spacing--6 {
  letter-spacing: -3px;
}

.tx-spacing--7 {
  letter-spacing: -3.5px;
}

.tx-spacing--8 {
  letter-spacing: -4px;
}

.tx-uppercase {
  text-transform: uppercase;
}

.tx-lowercase {
  text-transform: lowercase;
}

.tx-transform-none {
  text-transform: none;
}

.tx-center {
  text-align: center;
}

.tx-right {
  text-align: right;
}

.tx-left {
  text-align: left;
}

.tx-italic {
  font-style: italic;
}

.tx-style-normal {
  font-style: normal;
}

.lh-base {
  line-height: 1.5;
}

.lh-normal {
  line-height: normal;
}

.lh-0 {
  line-height: 0;
}

.lh--1 {
  line-height: 0.1;
}

.lh--2 {
  line-height: 0.2;
}

.lh--3 {
  line-height: 0.3;
}

.lh--4 {
  line-height: 0.4;
}

.lh--5 {
  line-height: 0.5;
}

.lh--6 {
  line-height: 0.6;
}

.lh--7 {
  line-height: 0.7;
}

.lh--8 {
  line-height: 0.8;
}

.lh--9 {
  line-height: 0.9;
}

.lh-1 {
  line-height: 1.1;
}

.lh-2 {
  line-height: 1.2;
}

.lh-3 {
  line-height: 1.3;
}

.lh-4 {
  line-height: 1.4;
}

.lh-5 {
  line-height: 1.5;
}

.lh-6 {
  line-height: 1.6;
}

.lh-7 {
  line-height: 1.7;
}

.lh-8 {
  line-height: 1.8;
}

.lh-9 {
  line-height: 1.9;
}

.lh-10 {
  line-height: 2;
}

.lh-11 {
  line-height: 2.1;
}

.lh-12 {
  line-height: 2.2;
}

.lh-13 {
  line-height: 2.3;
}

.lh-14 {
  line-height: 2.4;
}

.lh-15 {
  line-height: 2.5;
}

.valign-top {
  vertical-align: top;
}

.valign-middle {
  vertical-align: middle;
}

.valign-bottom {
  vertical-align: baseline;
}

.valign-top-f {
  vertical-align: top;
}

.valign-middle-f {
  vertical-align: middle;
}

.valign-bottom-f {
  vertical-align: baseline;
}

.tx-base {
  font-size: 0.875rem;
}

.tx-8 {
  font-size: 8px;
}

.tx-8-f {
  font-size: 8px !important;
}

.tx-9 {
  font-size: 9px;
}

.tx-9-f {
  font-size: 9px !important;
}

.tx-10 {
  font-size: 10px;
}

.tx-10-f {
  font-size: 10px !important;
}

.tx-11 {
  font-size: 11px;
}

.tx-11-f {
  font-size: 11px !important;
}

.tx-12 {
  font-size: 12px;
}

.tx-12-f {
  font-size: 12px !important;
}

.tx-13 {
  font-size: 13px;
}

.tx-13-f {
  font-size: 13px !important;
}

.tx-14 {
  font-size: 14px;
}

.tx-14-f {
  font-size: 14px !important;
}

.tx-15 {
  font-size: 15px;
}

.tx-15-f {
  font-size: 15px !important;
}

.tx-16 {
  font-size: 16px;
}

.tx-16-f {
  font-size: 16px !important;
}

.tx-17 {
  font-size: 17px;
}

.tx-18 {
  font-size: 18px;
}

.tx-18-f {
  font-size: 18px !important;
}

.tx-20 {
  font-size: 20px;
}

.tx-20-f {
  font-size: 20px !important;
}

.tx-21 {
  font-size: 21px;
}

.tx-21-f {
  font-size: 21px !important;
}

.tx-22 {
  font-size: 22px;
}

.tx-22-f {
  font-size: 22px !important;
}

.tx-24 {
  font-size: 24px;
}

.tx-24-f {
  font-size: 24px !important;
}

.tx-26 {
  font-size: 26px;
}

.tx-26-f {
  font-size: 26px !important;
}

.tx-28 {
  font-size: 28px;
}

.tx-28-f {
  font-size: 28px !important;
}

.tx-30 {
  font-size: 30px;
}

.tx-30-f {
  font-size: 30px;
}

.tx-32 {
  font-size: 32px;
}

.tx-32-f {
  font-size: 32px;
}

.tx-34 {
  font-size: 34px;
}

.tx-34-f {
  font-size: 34px;
}

.tx-36 {
  font-size: 36px;
}

.tx-36-f {
  font-size: 36px;
}

.tx-38 {
  font-size: 38px;
}

.tx-38-f {
  font-size: 38px;
}

.tx-40 {
  font-size: 40px;
}

.tx-40-f {
  font-size: 40px;
}

.tx-42 {
  font-size: 42px;
}

.tx-42-f {
  font-size: 42px;
}

.tx-44 {
  font-size: 44px;
}

.tx-44-f {
  font-size: 44px;
}

.tx-46 {
  font-size: 46px;
}

.tx-46-f {
  font-size: 46px;
}

.tx-48 {
  font-size: 48px;
}

.tx-48-f {
  font-size: 48px;
}

.tx-50 {
  font-size: 50px;
}

.tx-50-f {
  font-size: 50px;
}

.tx-52 {
  font-size: 52px;
}

.tx-52-f {
  font-size: 52px;
}

.tx-54 {
  font-size: 54px;
}

.tx-54-f {
  font-size: 54px;
}

.tx-56 {
  font-size: 56px;
}

.tx-56-f {
  font-size: 56px;
}

.tx-58 {
  font-size: 58px;
}

.tx-58-f {
  font-size: 58px;
}

.tx-60 {
  font-size: 60px;
}

.tx-60-f {
  font-size: 60px;
}

.tx-62 {
  font-size: 62px;
}

.tx-62-f {
  font-size: 62px;
}

.tx-64 {
  font-size: 64px;
}

.tx-64-f {
  font-size: 64px;
}

.tx-66 {
  font-size: 66px;
}

.tx-66-f {
  font-size: 66px;
}

.tx-68 {
  font-size: 68px;
}

.tx-68-f {
  font-size: 68px;
}

.tx-70 {
  font-size: 70px;
}

.tx-70-f {
  font-size: 70px;
}

.tx-72 {
  font-size: 72px;
}

.tx-72-f {
  font-size: 72px;
}

.tx-74 {
  font-size: 74px;
}

.tx-74-f {
  font-size: 74px;
}

.tx-76 {
  font-size: 76px;
}

.tx-76-f {
  font-size: 76px;
}

.tx-78 {
  font-size: 78px;
}

.tx-78-f {
  font-size: 78px;
}

.tx-80 {
  font-size: 80px;
}

.tx-80-f {
  font-size: 80px;
}

.tx-82 {
  font-size: 82px;
}

.tx-82-f {
  font-size: 82px;
}

.tx-84 {
  font-size: 84px;
}

.tx-84-f {
  font-size: 84px;
}

.tx-86 {
  font-size: 86px;
}

.tx-86-f {
  font-size: 86px;
}

.tx-88 {
  font-size: 88px;
}

.tx-88-f {
  font-size: 88px;
}

.tx-90 {
  font-size: 90px;
}

.tx-90-f {
  font-size: 90px;
}

.tx-92 {
  font-size: 92px;
}

.tx-92-f {
  font-size: 92px;
}

.tx-94 {
  font-size: 94px;
}

.tx-94-f {
  font-size: 94px;
}

.tx-96 {
  font-size: 96px;
}

.tx-96-f {
  font-size: 96px;
}

.tx-98 {
  font-size: 98px;
}

.tx-98-f {
  font-size: 98px;
}

.tx-100 {
  font-size: 100px;
}

.tx-100-f {
  font-size: 100px;
}

.tx-102 {
  font-size: 102px;
}

.tx-102-f {
  font-size: 102px;
}

.tx-104 {
  font-size: 104px;
}

.tx-104-f {
  font-size: 104px;
}

.tx-106 {
  font-size: 106px;
}

.tx-106-f {
  font-size: 106px;
}

.tx-108 {
  font-size: 108px;
}

.tx-108-f {
  font-size: 108px;
}

.tx-110 {
  font-size: 110px;
}

.tx-110-f {
  font-size: 110px;
}

.tx-112 {
  font-size: 112px;
}

.tx-112-f {
  font-size: 112px;
}

.tx-114 {
  font-size: 114px;
}

.tx-114-f {
  font-size: 114px;
}

.tx-116 {
  font-size: 116px;
}

.tx-116-f {
  font-size: 116px;
}

.tx-118 {
  font-size: 118px;
}

.tx-118-f {
  font-size: 118px;
}

.tx-120 {
  font-size: 120px;
}

.tx-120-f {
  font-size: 120px;
}

.tx-122 {
  font-size: 122px;
}

.tx-122-f {
  font-size: 122px;
}

.tx-124 {
  font-size: 124px;
}

.tx-124-f {
  font-size: 124px;
}

.tx-126 {
  font-size: 126px;
}

.tx-126-f {
  font-size: 126px;
}

.tx-128 {
  font-size: 128px;
}

.tx-128-f {
  font-size: 128px;
}

.tx-130 {
  font-size: 130px;
}

.tx-130-f {
  font-size: 130px;
}

.tx-132 {
  font-size: 132px;
}

.tx-132-f {
  font-size: 132px;
}

.tx-134 {
  font-size: 134px;
}

.tx-134-f {
  font-size: 134px;
}

.tx-136 {
  font-size: 136px;
}

.tx-136-f {
  font-size: 136px;
}

.tx-138 {
  font-size: 138px;
}

.tx-138-f {
  font-size: 138px;
}

.tx-140 {
  font-size: 140px;
}

.tx-140-f {
  font-size: 140px;
}

@media (min-width: 480px) {
}

@media (min-width: 576px) {
  .tx-sm-12 {
    font-size: 12px;
  }

  .tx-sm-12-f {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .tx-md-normal {
    font-weight: 400;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.text-justify {
  text-align: justify !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-lighter {
  font-weight: lighter;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-bolder {
  font-weight: bolder;
}

.font-italic {
  font-style: italic;
}

.text-white {
  color: $white !important;
}

.text-white-80 {
  color: $white;
  opacity: 0.8;
}

.text-primary {
  color: $primary !important;
}

a.text-primary {
  &:hover,
  &:focus {
    color: $primary-hover !important;
  }
}

.text-secondary {
  color: $secondary !important;
}

a.text-secondary {
  &:hover,
  &:focus {
    color: #f5436c !important;
  }
}

.text-success {
  color: $success !important;
}

a.text-success {
  &:hover,
  &:focus {
    color: #0f9e86 !important;
  }
}

.text-info {
  color: $info !important;
}

a.text-info {
  &:hover,
  &:focus {
    color: #37b8eb !important;
  }
}

a.text-warning {
  &:hover,
  &:focus {
    color: #faae3d !important;
  }
}

.text-purple {
  color: $purple !important;
}

a.text-purple {
  &:hover,
  &:focus {
    color: $purple !important;
  }
}

.text-danger {
  color: $danger !important;
}

a.text-danger {
  &:hover,
  &:focus {
    color: rgb(167, 13, 28) !important;
  }
}

.text-pink {
  color: $pink !important;
}

a.text-pink {
  &:hover,
  &:focus {
    color: #e61078 !important;
  }
}

.text-orange {
  color: $orange !important;
}

a.text-orange {
  &:hover,
  &:focus {
    color: #e46f0e !important;
  }
}

.text-light {
  color: $gray-100 !important;
}

a.text-light {
  &:hover,
  &:focus {
    color: #c5cbda !important;
  }
}

.text-teal {
  color: $teal !important;
}

a.text-teal {
  &:hover,
  &:focus {
    color: #06c1c1 !important;
  }
}

.text-dark {
  color: $gray-800 !important;
}

a.text-dark {
  &:hover,
  &:focus {
    color: #1e2533 !important;
  }
}

.text-body {
  color: $default-color;
}

.text-muted {
  color: #7987a1 !important;
}

.text-black-50 {
  color: $black-5;
}

.text-white-50 {
  color: $white-5;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

.text-reset {
  color: inherit;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}
