<div
  *ngIf="tree(); let tree"
  class="d-flex flex-column"
  appFillElement
  [paddingBottom]="30"
>
  <div class="tx-italic tx-10">
    {{ "Projects.TreeInstructions" | translate }}
  </div>
  <div class="flex-fill">
    <kendo-treelist
      #treelist
      class="h-100"
      kendoTreeListExpandable
      kendoTreeListSelectable
      [kendoTreeListFlatBinding]="tree"
      parentIdField="treeParentId"
      idField="treeId"
      [rowReorderable]="rowReorderable"
      [initiallyExpanded]="false"
      [(expandedKeys)]="expandedKeys2"
      [selectable]="settings"
      [columns]="columns"
      (selectionChange)="rowSelected($event)"
      (rowReorder)="rowReordered($event)"
      (dblclick)="showDetails.emit(clickedId)"
      (cellClick)="clickedId = $event.dataItem.id"
    >
      <ng-template *ngIf="menuItems" kendoTreeListToolbarTemplate>
        <div class="d-ib pd-r-20" *ngFor="let menu of menuItems">
          <wbs-action-buttons
            [items]="menu"
            (clicked)="actionClicked.emit($event)"
          />
        </div>
      </ng-template>
      <!--
      <kendo-treelist-rowreorder-column *ngIf="rowReorderable" [width]="40" />
      <kendo-treelist-column
        field="levelText"
        [title]="'Wbs.Level' | translate"
        [width]="100"
        class="level-column"
        headerClass="level-header-column"
      />
      <kendo-treelist-column
        *ngIf="view === 'discipline'"
        field="sameAsLevelText"
        title="Same As"
        [width]="100"
        class="level-column"
        headerClass="level-header-column"
      >
        <ng-template kendoTreeListCellTemplate let-dataItem>
          <span *ngIf="dataItem.sameAsIndex" class="same-level">
            {{ dataItem.sameAsLevelText }}
          </span>
        </ng-template>
      </kendo-treelist-column>
      <kendo-treelist-column
        [expandable]="true"
        field="title"
        [title]="'Wbs.Task' | translate"
      />
      <kendo-treelist-column
        *ngIf="view === 'phase' && (width ?? 0) > 800"
        field="disciplines"
        [width]="150"
        class="discipline-column"
        headerClass="discipline-column"
      >
        <ng-template kendoTreeListHeaderTemplate>
          <wbs-tree-discipline-legend
            [idsOrCats]="project?.disciplines ?? []"
          />
        </ng-template>
        <ng-template kendoTreeListCellTemplate let-dataItem>
          <wbs-discipline-icon-list [disciplines]="dataItem.disciplines" />
        </ng-template>
      </kendo-treelist-column>
      -->
    </kendo-treelist>
  </div>
</div>
