@if (record(); as record) { @if (record.type === 'link') {
<a
  class="text-decoration-none tx-black"
  [href]="record.resource!"
  target="_blank"
>
  <fa-icon [icon]="faEye" />
</a>
} @else {
<a class="pointer text-decoration-none tx-black" (click)="open(content)">
  <fa-icon [icon]="faEye" />
</a>
}
<ng-template #content>
  <kendo-dialog
    [title]="record.name"
    width="90%"
    height="90%"
    (close)="close()"
  >
    @if (record.type === 'image') {
    <img
      class="w-100"
      [src]="([owner(), record.id] | resourceObject | async)! | resourceImage"
    />
    } @else if (record.type === 'pdf') {
    <div class="modal-body">
      @if (record.resource) {
      <kendo-pdfviewer
        style="height: 100%"
        [tools]="tools"
        [url]="record.resource"
        [saveFileName]="record.name + '.pdf'"
      />
      } @else {
      <kendo-pdfviewer
        style="height: 100%"
        [tools]="tools"
        [arrayBuffer]="([owner(), record.id] | resourceObject | async)!"
        [saveFileName]="record.name + '.pdf'"
      />
      }
    </div>
    } @else if (record.type === 'youtube') {
    <div class="modal-body tx-center">
      <iframe
        frameborder="0"
        [wbsYouTubeSizer]="record.resource!"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    }
  </kendo-dialog>
</ng-template>
}
