<div #target class="pointer">
  <wbs-header-profile-picture [picture]="user().picture" />
</div>
<kendo-contextmenu
  showOn="click"
  [target]="target"
  [alignToAnchor]="true"
  [anchorAlign]="{ horizontal: 'right', vertical: 'bottom' }"
  (select)="itemClicked($event)"
>
  <kendo-menu-item [disabled]="true" cssClass="opacity-1">
    <ng-template kendoMenuItemTemplate>
      <wbs-header-profile-header [user]="user()" [roles]="roles()" />
    </ng-template>
  </kendo-menu-item>
  <kendo-menu-item data="profile">
    <ng-template kendoMenuItemTemplate>
      <fa-icon [icon]="faUser" /> &nbsp;&nbsp;
      {{ "ProfileEditor.Title" | translate }}
    </ng-template>
  </kendo-menu-item>
  <kendo-menu-item url="/logout">
    <ng-template kendoMenuItemTemplate>
      <fa-icon [icon]="faRightFromBracket" /> &nbsp;&nbsp;
      {{ "General.LogOut" | translate }}
    </ng-template>
  </kendo-menu-item>
</kendo-contextmenu>

<wbs-profile-editor [(show)]="showProfileEditor" />
