<div class="main-header side-header sticky nav nav-item">
  <div class="main-container container-fluid">
    <div class="main-header-left">
      <div class="responsive-logo">
        <a routerLink="/" class="header-logo">
          <img
            src="./assets/img/brand/logo.png"
            class="mobile-logo logo-1"
            alt="logo"
          />
          <img
            src="./assets/img/brand/logo-white.png"
            class="mobile-logo dark-logo-1"
            alt="logo"
          />
        </a>
      </div>
      <div class="app-sidebar__toggle" data-bs-toggle="sidebar">
        <a appSidemenuToggle class="open-toggle" href="javascript:void(0);">
          <fa-icon [icon]="faAlignLeft" class="header-icon"></fa-icon>
        </a>
        <a appSidemenuToggle class="close-toggle" href="javascript:void(0);">
          <fa-icon [icon]="faX" class="header-icon"></fa-icon>
        </a>
      </div>
      <div class="logo-horizontal">
        <a routerLink="/dashboard/dashboard01" class="header-logo">
          <img
            src="./assets/img/brand/logo.png"
            class="mobile-logo logo-1"
            alt="logo"
          />
          <img
            src="./assets/img/brand/logo-white.png"
            class="mobile-logo dark-logo-1"
            alt="logo"
          />
        </a>
      </div>
    </div>
    <div class="main-header-right">
      <!--<kendo-dropdownbutton
        [data]="settings"
        fillMode="outline"
        size="small"
        rounded="full"
        icon="plus"
        themeColor="success"
        (itemClick)="navigate($event.url)"
      >
        <ng-template kendoDropDownButtonItemTemplate let-dataItem>
          <span>{{ dataItem.text | translate }}</span>
        </ng-template>
      </kendo-dropdownbutton>-->
      <button
        class="navbar-toggler navresponsive-toggler d-md-none ms-auto"
        type="button"
        (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed"
      >
        <span class="navbar-toggler-icon fe fe-more-vertical"></span>
      </button>
      <div
        class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0"
      >
        <div
          class="collapse navbar-collapse"
          id="navbarSupportedContent-4"
          #collapse="ngbCollapse"
          [(ngbCollapse)]="isCollapsed"
        >
          <ul
            class="nav nav-item header-icons navbar-nav-right ms-md-auto ms-3 flex-nowrap"
          >
            <li ngbDropdown class="nav-item">
              <a
                class="new nav-link theme-layout nav-link-bg layout-setting"
                appToggleTheme
              >
                <span class="dark-layout">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="header-icon-svgs"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z"
                    />
                  </svg>
                </span>
                <span class="light-layout"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="header-icon-svgs"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z"
                    />
                  </svg>
                </span>
              </a>
            </li>

            <li class="nav-item full-screen fullscreen-button">
              <a class="new nav-link full-screen-link" appFullscreen
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="header-icon-svgs"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M5 5h5V3H3v7h2zm5 14H5v-5H3v7h7zm11-5h-2v5h-5v2h7zm-2-4h2V3h-7v2h5z"
                  />
                </svg>
              </a>
            </li>
            <li
              ngbDropdown
              class="main-profile-menu nav nav-item nav-link ps-lg-2"
            >
              <a
                class="new nav-link profile-user display-flex"
                href="javascript:;"
                ngbDropdownToggle
              >
                <fa-icon
                  [icon]="faUserCircle"
                  style="font-size: 1.2rem"
                  size="2x"
                  [ngClass]="['profile-icon']"
                >
                </fa-icon>
              </a>
              <div ngbDropdownMenu>
                <div class="menu-header-content p-3 border-bottom">
                  <div class="display-flex wd-100p">
                    <div class="main-img-user">
                      <fa-icon
                        [icon]="faUserCircle"
                        style="font-size: 1.2rem"
                        size="2x"
                        [ngClass]="['profile-icon']"
                      >
                      </fa-icon>
                    </div>
                    <div class="ms-3 my-auto">
                      <h6 class="tx-15 font-weight-semibold mb-0">
                        {{ fullName$ | async }}
                      </h6>
                      <span class="dropdown-title-text subtext op-6 tx-12">
                        {{ roles$ | async | layoutRoleList: true }}
                      </span>
                    </div>
                  </div>
                </div>
                <!--
                <a ngbDropdownItem routerLink="/pages/profile">
                  <i class="far fa-user-circle"></i>Profile
                </a>
                
                <a ngbDropdownItem routerLink="/mail/chat"
                  ><i class="far fa-smile"></i> chat</a
                >
                <a ngbDropdownItem routerLink="/mail/read-mail"
                  ><i class="far fa-envelope"></i>Inbox</a
                >
                <a ngbDropdownItem routerLink="/mail/mail"
                  ><i class="far fa-comment-dots"></i>Messages</a
                >-->
                <a
                  *ngIf="isAdmin$ | async"
                  ngbDropdownItem
                  routerLink="/settings"
                >
                  <fa-icon [icon]="faCog" class="dd-icon"></fa-icon>
                  {{ "General.Settings" | translate }}
                </a>
                <a ngbDropdownItem href="/logout">
                  <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon>
                  {{ "General.LogOut" | translate }}
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
