<div class="horizontalMenucontainer">
  <div class="page">
    <div>
      <wbs-header />
      <wbs-sidebar
        appHoverEffectSidebar
        [isAdmin]="membershipRoles() | isAdmin"
        [projects]="projects()"
      />
    </div>
    <div
      id="main-content"
      class="main-content app-content"
      #body
      appMainContent
    >
      <div
        class="main-container container-fluid"
        (click)="toggleSwitcherBody()"
      >
        <router-outlet />
      </div>
    </div>
    <wbs-footer />
  </div>
</div>
