<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="custom-card main-content-body-profile">
      <div class="main-content-body tab-pane">
        <div class="card">
          <div class="card-body p-0 border-0 p-0 rounded-10">
            <div class="pane-content" style="padding: 15px">
              <wbs-tree
                view="phase"
                [width]="width$ | async"
                [nodes]="phases$ | async"
                [project]="project$ | async"
                [expandedKeys]="(phaseIds$ | async) ?? []"
                [menuItems]="phases$ | async | taskMenu: taskId"
                [isDraggable]="true"
                [detailsUrlPrefix]="['../../', 'task']"
                (actionClicked)="service.action($event, taskId!)"
                (reordered)="service.reordered($event)"
                (selectedChanged)="taskId = $event.id"
                (showDetails)="navigate.toTask($event)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<wbs-task-modal />
