<div class="display-flex pd-b-15" *ngIf="user">
  <div class="text-primary pd-t-6">
    <fa-stack size="lg">
      <fa-icon [icon]="faCircle" stackItemSize="2x" />
      <fa-icon [icon]="faFaceSmile" stackItemSize="1x" [inverse]="true" />
    </fa-stack>
  </div>
  <div>
    <div class="tx-16">
      <a [href]="'mailto:' + user.email" class="tx-black">
        {{ user.name }}
      </a>
    </div>
    <div class="tx-12 tx-italic">
      {{ user.roles | roleTitle : true }}
    </div>
  </div>
</div>
