<div class="display-flex mg-t-20 mg-b-16 w-100p">
  <div class="flex-fill main-content-title mg-b-0 mg-b-lg-1">
    {{ "Pages.Projects" | translate | uppercase }}
    &nbsp; ({{ (projects$ | async)?.length }})
  </div>
  <div class="flex-fill tx-right">
    <div
      *ngIf="status$ | async; let projectStatus"
      role="group"
      aria-label="Basic example"
      class="btn-group display-flex flex-wrap"
    >
      <button
        type="button"
        *ngFor="let status of stati"
        class="btn btn-outline-primary btn-sm"
        [routerLinkActive]="'active'"
        [routerLink]="['../', status]"
      >
        {{ status | projectStatus }}
      </button>
    </div>
  </div>
</div>
<div *ngIf="projects$ | async; let projects" class="wd-100p mg-t-20">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="projects.length === 0" class="col-12">
        <div class="card">
          <div class="card-body tx-center pd-y-20">No Projects Found</div>
        </div>
      </div>
      <div
        *ngFor="let project of projects | projectSort : 'name'"
        class="col-lg-3 col-md-4 col-sm-6"
      >
        <a [routerLink]="['/projects', project.id, 'view']">
          <div class="card">
            <div class="card-body">
              <div style="min-height: 100px">
                <div class="tx-14 tx-semibold">{{ project.title }}</div>
                <div class="tx-10">
                  {{ project.category | categoryLabel }}
                </div>
              </div>
              <div class="tx-right tx-10 tx-gray-600">
                {{ project.lastModifiedOn | editedDateText }}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
