<div class="pd-15 text-center">
  <div class="d-inline-block wd-400 text-center card dashboard-card">
    <div class="card-header">
      {{ "ProjectUpload.Options" | translate }}
    </div>
    <div class="card-body pd-15">
      <p class="pd-y-20">
        {{ "ProjectUpload.OptionsMessage" | translate }}
      </p>
      <div>
        <button
          type="button"
          class="btn btn-primary mg-r-10"
          (click)="select('overwrite')"
        >
          {{ "General.Overwrite" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-primary mg-l-10"
          (click)="select('append')"
        >
          {{ "General.Append" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
