<button
  #anchor
  kendoButton
  themeColor="base"
  rounded="small"
  size="small"
  class="mg-y-4"
  (click)="toggle()"
>
  @if (uiVersion() === 'v1') {
  <fa-icon [icon]="faBoltLightning" class="mg-r-5" />
  {{ "General.Actions" | translate }}
  } @else {
  <fa-icon [icon]="menuIcon" />
  }
</button>
@if (show()) {
<kendo-popup
  #popup
  [anchor]="anchor"
  (anchorViewportLeave)="toggle()"
  [anchorAlign]="
    uiVersion() === 'v1'
      ? { horizontal: 'right', vertical: 'bottom' }
      : { horizontal: 'left', vertical: 'bottom' }
  "
  [popupAlign]="
    uiVersion() === 'v1'
      ? { horizontal: 'right', vertical: 'top' }
      : { horizontal: 'left', vertical: 'bottom' }
  "
>
  <div class="wd-200">
    <kendo-menu
      [items]="menu() ?? []"
      [vertical]="true"
      style="display: inline-block"
    >
      <ng-template kendoMenuItemTemplate let-item="item">
        <div class="d-inline-block wd-20 text-center">
          <fa-icon [icon]="item.faIcon!" />
        </div>
        {{ item.text! | translate }}
      </ng-template>
    </kendo-menu>
  </div>
</kendo-popup>
}
