<button
  #anchor
  kendoButton
  themeColor="base"
  size="small"
  [rounded]="rounded()"
  [ngClass]="buttonClass()"
>
  @if (customContent()) {
  <ng-content />
  } @else {
  <fa-icon [icon]="menuIcon" />
  }
</button>
<kendo-contextmenu
  showOn="click"
  [alignToAnchor]="true"
  [anchorAlign]="{ horizontal: 'left', vertical: 'bottom' }"
  [target]="anchor"
  [items]="menu() ?? []"
  (select)="selected($event.item)"
>
  <ng-template kendoMenuItemTemplate let-item="item">
    <div class="d-flex tx-14" style="margin-left: -5px">
      @if (item.faIcon) {
      <div class="wd-30 text-center">
        <fa-icon [icon]="item.faIcon" />
      </div>
      } @if (item.text) { {{ item.text }} } @else if (item.resource) {
      {{ item.resource | translate }} }
    </div>
  </ng-template>
</kendo-contextmenu>
