@if (record.type === 'link') {
<a
  class="text-decoration-none tx-black"
  [href]="record.resource!"
  target="_blank"
>
  <fa-icon [icon]="faEye" />
</a>
} @else {
<a class="pointer text-decoration-none tx-black" (click)="open(content)">
  <fa-icon [icon]="faEye" />
</a>
}
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ record.name }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('')"
    ></button>
  </div>
  @if (record.type === 'image') {
  <div class="modal-body">
    <img class="w-100" [src]="record.resource" />
  </div>
  } @else if (record.type === 'pdf') {
  <div class="modal-body">
    @if (record.resource) {
    <kendo-pdfviewer
      style="height: 100%"
      [tools]="tools"
      [url]="record.resource"
      [saveFileName]="record.name + '.pdf'"
    />
    } @else {
    <kendo-pdfviewer
      style="height: 100%"
      [tools]="tools"
      [arrayBuffer]="([owner, record.id] | resourceObject | async)!"
      [saveFileName]="record.name + '.pdf'"
    />
    }
  </div>
  } @else if (record.type === 'youtube') {
  <div class="modal-body tx-center">
    <iframe
      frameborder="0"
      [wbsYouTubeSizer]="record.resource!"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  }
</ng-template>
