<div class="card dashboard-card mg-10">
  <div class="d-flex card-header flex-align-center">
    <div>
      {{ "General.Settings" | translate }} >
      {{ "General.Roles" | translate }}
    </div>
    <div class="flex-fill text-end">
      <wbs-fading-message
        [icon]="checkIcon"
        message="General.Saved"
        [show]="saveState() === 'saved'"
        cssClass="tx-success tx-12 mg-r-10"
      />
    </div>
  </div>
  <div class="card-body w-100 tx-center">
    @if (isLoading()) {
    <div class="mg-t-50">
      <fa-duotone-icon [icon]="spinnerIcon" size="5x" animation="spin" />
      <h3 class="pd-t-20">
        {{ "General.Loading" | translate }}
      </h3>
    </div>
    } @else {
    <wbs-project-roles
      [members]="members()"
      [approverIds]="approverIds()"
      [pmIds]="pmIds()"
      [smeIds]="smeIds()"
      [mustConfirm]="true"
      [approvalEnabled]="approvalEnabled()!"
      (addUserToRole)="add($event.role, $event.user)"
      (removeUserToRole)="remove($event.role, $event.user)"
    />
    }
  </div>
</div>
