@import "src/styles/variables";

.editor-fields {
  padding: 8px;
  .field {
    font-size: 14px;

    > .field-header {
      font-size: 12px;
      font-weight: bold;
      display: block;
    }
  }
}
