
_playground/
_theme/Documentation
_theme/Nowa
**/node_modules
**/bin
**/obj
**/dist
**/.mf/
**/data/**/config*.*
.vs/
.vscode/

.angular
.env
.wrangler
*.vars

**/.DS_store

/example

**/appsettings.Development.json
site/package-lock.json

test-app/**