
_playground/
_theme/Documentation
_theme/Nowa
**/node_modules
**/bin
**/obj
**/dist
**/.mf/
**/.data/
**/data/**/config*.*
.vs/
.vscode/

**/deps.png
.angular
.env
.wrangler
*.vars

**/.DS_store

/example

**/appsettings.Development.json
package-lock.json
