<div class="wd-500 h-100 border d-flex flex-column">
  <div
    class="ht-30 d-flex flex-align-center bg-primary bd-solid bd-1 bd-gray-900 tx-16"
  >
    <div class="flex-fill pd-10">
      {{ "General.Approval" | translate }} &nbsp;-&nbsp;
      {{ approval.id | projectApprovalWindowTitle }}
    </div>
    <div class="wd-30 tx-center">
      <a (click)="closeApprovalWindow()">
        <fa-icon class="pointer" [icon]="faX" />
      </a>
    </div>
  </div>
  <div class="flex-fill d-flex flex-column bd-solid bd-1 bd-gray-900">
    <div class="ht-40 align-center" *ngIf="claims | check : canApproveClaims">
      <div class="d-ib wd-50p tx-center pd-t-5">
        <button
          *ngIf="
            approval.isApproved === false || approval.isApproved == undefined
          "
          class="btn btn-sm btn-outline-success"
          (click)="approvalChanged(true)"
        >
          {{ "General.Approve" | translate }}
        </button>
        <button
          *ngIf="approval.isApproved === true"
          class="btn btn-sm btn-success"
          (click)="approvalChanged(true)"
        >
          {{ "General.Approved" | translate }}
        </button>
      </div>
      <div class="d-ib wd-50p tx-center pd-t-5">
        <button
          *ngIf="
            approval.isApproved === true || approval.isApproved == undefined
          "
          class="btn btn-sm btn-outline-danger"
          (click)="approvalChanged(false)"
        >
          {{ "General.Reject" | translate }}
        </button>
        <button
          *ngIf="approval.isApproved === false"
          class="btn btn-sm btn-danger"
          (click)="approvalChanged(false)"
        >
          {{ "General.Rejected" | translate }}
        </button>
      </div>
    </div>
    <div
      class="ht-100 align-center"
      *ngIf="!(claims | check : canApproveClaims)"
    ></div>
    <kendo-chat
      [messages]="chat"
      [user]="{ id: userId }"
      class="flex-fill w-100 h-100"
      [ngClass]="{ 'readonly-chat': !(claims | check : canCommentClaims) }"
      (sendMessage)="sendMessage($event)"
    />
  </div>
</div>
