@import "src/styles/variables";

$level-width: 100px;
$discipline-width: 120px;

.k-grid-drag-hint {
  background-color: #c2bebe;
}
.dark-theme {
  .k-grid-drag-hint {
    background-color: #216259 !important;
  }
  .k-grid th.k-state-selected,
  .k-grid td.k-state-selected,
  .k-grid tr.k-state-selected > td {
    color: white;
  }
  .k-toolbar {
    background-color: $dark-background;
  }
}

.node-level,
.same-level {
  display: inline-block;
  width: 60px;
}

.same-level {
  cursor: pointer;
}

.level-header-column {
}

.discipline-column {
  display: table-cell;
}

.level-column {
  width: $level-width;
  font-size: 12px;
}

.calendar-text {
  margin-top: 0.3em;
}
