<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="custom-card main-content-body-profile">
      <div class="main-content-body tab-pane">
        <div class="card">
          <div class="card-body p-0 border-0 p-0 rounded-10">
            <div class="pane-content">
              <wbs-timeline
                [timeline]="timeline$ | async"
                (loadMoreClicked)="service.loadMoreTimeline()"
                (menuItemClicked)="service.timelineAction($event, projectId)"
              ></wbs-timeline>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
