<ng-template [ngIf]="title">
  <h5
    *ngIf="!(edit$ | async)"
    kendoTooltip
    filter="a"
    class="task-title edit-pencil-parent font-weight-semibold ms-md-4 ms-0 mb-1 pb-0"
  >
    {{ title }}
    <wbs-edit-pencil placeholder="Projects.EditTaskTitle" (click)="edit()">
    </wbs-edit-pencil>
  </h5>
  <div
    *ngIf="edit$ | async"
    class="ms-md-4 ms-0 mb-1 pb-0"
    kendoTooltip
    filter="button"
  >
    <wbs-title-editor
      [(value)]="editValue"
      (cancel)="edit$.next(false)"
      (save)="saveTitle()"
    ></wbs-title-editor>
  </div>
</ng-template>
