<ng-template [ngIf]="title">
  <h4
    *ngIf="!(edit$ | async)"
    kendoTooltip
    filter="a"
    class="task-title edit-pencil-parent ms-md-4 ms-0 mb-1 pb-0"
  >
    {{ title }}
    <wbs-edit-pencil
      class="pos-relative t--15"
      placeholder="Projects.EditTaskTitle"
      (click)="edit()"
    >
    </wbs-edit-pencil>
  </h4>
  <div
    *ngIf="edit$ | async"
    class="ms-md-4 ms-0 mb-1 pb-0"
    kendoTooltip
    filter="button"
  >
    <wbs-title-editor
      [value]="editValue"
      (cancel)="edit$.next(false)"
      (save)="saveTitle($event)"
    ></wbs-title-editor>
  </div>
</ng-template>
