<div class="container-fluid">
  <div class="row mg-b-5">
    <div
      class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1"
    >
      <wbs-membership-rollup />
    </div>
  </div>
  @if (store.isLoading()) {
  <div class="row">
    <div class="col-12 tx-center mg-t-50">
      <fa-duotone-icon [icon]="faSpinner" size="5x" animation="spin" />
      <h3 class="pd-t-20">
        {{ "General.Loading" | translate }}
      </h3>
    </div>
  </div>
  } @else {
  <div class="row">
    <div class="col-12">
      <div class="row mg-b-20">
        <div class="col-6">
          <wbs-member-list-switch [view]="view()" />
        </div>
        <div class="col-6 tx-right">
          @if (store.canAdd() && store.hasAddAccess()) {
          <button
            kendoButton
            size="small"
            themeColor="primary"
            (click)="startInvite()"
          >
            <fa-icon [icon]="faPlus" />
            <span class="d-none d-sm-inline">
              {{ "OrgSettings.InviteMembers" | translate }}
            </span>
          </button>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-7 col-md-12 mg-b-20">
          <kendo-textbox
            class="w-100"
            [(ngModel)]="textFilter"
            placeholder="Search by name or email"
          />
        </div>
        <div class="col-xl-4 col-lg-5 col-md-12 mg-b-20">
          <wbs-role-filter-list (valueChanged)="roleFilters.set($event)" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          @if (view() === 'users') {
          <wbs-member-list
            [filteredRoles]="roleFilters()"
            [textFilter]="textFilter"
          />
          } @else if (view() === 'invites') {
          <wbs-invitation-list
            [filteredRoles]="roleFilters()"
            [textFilter]="textFilter"
          />
          }
        </div>
      </div>
    </div>
  </div>
  }
</div>
