{{ "Wbs.Disciplines" | translate }} &nbsp;
<a
  placement="right"
  popoverClass="legend-popover"
  [popoverTitle]="'Wbs.DisciplineLegend' | translate"
  [ngbPopover]="legendContent"
  container="body"
  placement="left"
>
  <fa-duotone-icon [icon]="faCircleQuestion" />
</a>
<ng-template #legendContent>
  @if (idsOrCats){
  <ul class="list-group wd-400">
    @for( idsOrCat of idsOrCats; track $index) {
    <li class="list-group-item">
      <span class="icon-wrapper">
        <i class="fa-solid" [ngClass]="idsOrCat | disciplineIcon"></i>
      </span>
      {{ idsOrCat | categoryLabel | translate }}
    </li>
    }
  </ul>
  }
</ng-template>
