<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4fd6c9e3-9a98-4bec-9db5-f1358f329dbc/resourceGroups/wbs-atlanta/providers/Microsoft.Web/sites/pm-empower-qa</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://pm-empower-qa.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://pm-empower-qa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$pm-empower-qa</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>