<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    {{ "Projects.DeleteTask" | translate }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <select
    [(ngModel)]="reason"
    class="form-select w-100"
    [title]="'Wbs.DeleteTaskMessage' | translate"
    [attr.aria-label]="'Wbs.DeleteTaskMessage' | translate"
  >
    <option value="none" selected disabled hidden>
      {{ "Wbs.DeleteTaskMessage" | translate }}
    </option>

    <option *ngFor="let r of reasons$ | async" [value]="r.id">
      {{ r.label | translate }}
    </option>
  </select>
  <div [style.display]="reason === dOtherId ? 'block' : 'none'" class="mg-t-10">
    <label class="tx-10 font-italic">
      {{ "Wbs.PleaseSpecify" | translate }}:
    </label>
    <textarea #otherText class="form-control w-100" resizable="auto">
    </textarea>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="reason === 'none' || (reason === dOtherId && !otherText.value)"
    (click)="finishDelete(reason, otherText.value)"
  >
    {{ "General.Confirm" | translate }}
  </button>
</div>
