<kendo-dialog
  width="90%"
  maxHeight="90%"
  class="bg-light"
  [title]="'Projects.CreateTask' | translate"
  (close)="dialog.close()"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-8">
        <div class="card border border-gray-500">
          <div class="card-header bg-gray-200">
            {{ "General.Basics" | translate }}
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">
                {{ "Projects.TaskTitle" | translate }}
              </label>
              <input
                #titleTextBox
                kendoTextBox
                [(ngModel)]="title"
                (keydown.enter)="save(false)"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">
                {{ "Projects.TaskDescription" | translate }}
              </label>

              <kendo-editor [(ngModel)]="description" [resizable]="true" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <div class="card border border-gray-500">
          <div class="card-header bg-gray-200">
            {{ "General.Disciplines" | translate }}
          </div>
          <div class="card-body">
            <wbs-discipline-editor
              [(categories)]="disciplines"
              sizeCss="tx-14"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <kendo-dialog-actions layout="end">
    <button
      class="btn btn-primary"
      [disabled]="title() === ''"
      (click)="save(true)"
    >
      {{ "General.SaveAndView" | translate }}
    </button>
    <button
      class="btn btn-primary"
      [disabled]="title() === ''"
      (click)="save(false)"
    >
      {{ "General.Save" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
