<kendo-dialog
  actionsLayout="normal"
  [title]="'Projects.UploadTasks' | translate"
  [width]="450"
  (close)="close()"
>
  <p class="tx-12">
    {{ "Projects.UploadTaskIntro" | translate }}
  </p>
  <kendo-fileselect
    [multiple]="false"
    [showFileList]="false"
    (select)="selected($event)"
  >
  </kendo-fileselect>
  <div class="ht-300 tx-12 tx-danger tx-bold mg-t-10-f">
    <div *ngIf="loading$ | async">
      <img src="assets/img/loader.svg" class="loader-img" alt="loader" />
    </div>
    <div *ngIf="errors$ | async; let errors">
      <p>
        {{ "Projects.UploadTaskErrors" | translate }}
      </p>
      <ul>
        <li *ngFor="let e of errors">{{ e }}</li>
      </ul>
      <p>
        {{ "Projects.UploadTaskErrorPrefix" | translate }}
      </p>
    </div>
  </div>
</kendo-dialog>
