<div class="card-header">
  <div class="d-flex flex-align-center">
    <div class="text-uppercase">
      {{ "General.Disciplines" | translate }}
    </div>

    @if (canEdit()) {
    <div class="flex-fill tx-right">
      <fa-icon
        size="lg"
        class="pointer"
        [icon]="faPencil"
        [routerLink]="editRoute()"
        [title]="'General.Edit' | translate"
      />
    </div>
    }
  </div>
</div>

@if (selectedList(); as list) {
<div class="card-body">
  @if (list.length === 0) {
  <wbs-alert
    [type]="alertIfEmpty() ? 'warning' : 'info'"
    [dismissible]="false"
    [message]="noDisciplinesLabel()"
  />
  } @else {
  <wbs-discipline-list [fullList]="fullList()" [selectedList]="list" />
  }
</div>
}
