<div class="card border">
  <div class="card-body d-flex">
    <div class="wd-50 tx-center mg-r-20">
      <fa-icon [icon]="faDiagramSubtask" size="3x" />
    </div>
    <h4 class="w-100 pd-5 mg-b-0">
      {{ current()?.title }}
    </h4>
  </div>
  <div class="card-footer py-0">
    <wbs-project-navigation
      [links]="links"
      [userRoles]="roles()"
      [permissions]="permissions()"
    />
  </div>
</div>
<div class="card border">
  <div class="card-body pd-15">
    <router-outlet />
  </div>
</div>
