<div class="main-content-body tab-pane">
  <div class="card">
    <div class="card-body p-0 border-0 p-0 rounded-10">
      <div class="p-4">
        <h4 class="tx-15 text-uppercase mb-3">BIOdata</h4>
        <p class="m-b-5">
          Hi I'm Teri Dactyl,has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type. Donec
          pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
          justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
          felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus
          elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
          ligula, porttitor eu, consequat vitae, eleifend ac, enim.
        </p>
        <div class="m-t-30">
          <div class="p-t-10">
            <h5 class="text-primary m-b-5 tx-14">Lead designer / Developer</h5>
            <p class="">websitename.com</p>
            <p><b>2010-2015</b></p>
            <p class="text-muted tx-13 m-b-0">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
          </div>

          <div class="">
            <h5 class="text-primary m-b-5 tx-14">Senior Graphic Designer</h5>
            <p class="">coderthemes.com</p>
            <p><b>2007-2009</b></p>
            <p class="text-muted tx-13 mb-0">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
          </div>
        </div>
      </div>
      <div class="border-top"></div>
      <div class="p-4">
        <label class="main-content-label tx-13 mg-b-20"> Statistics???? </label>
        <div class="profile-cover__info ms-4 ms-auto p-0">
          <ul class="nav p-0 border-bottom-0 mb-0">
            <li class="border p-2 br-5 bg-light wd-100 ht-70">
              <span class="border-0 mb-0 pb-0"> 113 </span>
              Projects
            </li>
            <li class="border p-2 br-5 bg-light wd-100 ht-70">
              <span class="border-0 mb-0 pb-0"> 245 </span>
              Followers
            </li>
            <li class="border p-2 br-5 bg-light wd-100 ht-70">
              <span class="border-0 mb-0 pb-0"> 128 </span>
              Following
            </li>
          </ul>
        </div>
      </div>
      <div class="border-top"></div>
      <div class="p-4">
        <label class="main-content-label tx-13 mg-b-20"> Contacts </label>
        <div class="d-sm-flex">
          <div *ngFor="let ur of roles" class="mg-sm-r-20 mg-b-10">
            <wbs-project-role [role]="ur.role" [userId]="ur.userId">
            </wbs-project-role>
          </div>
        </div>
      </div>
      <!--
    <div class="border-top"></div>
    <div class="p-4">
      <label class="main-content-label tx-13 mg-b-20">
        Social
      </label>
      <div class="display-flex flex-wrap">
        <div class="mg-md-r-20 mg-b-10">
          <div class="main-profile-social-list">
            <div class="media">
              <div
                class="media-icon bg-primary-transparent text-primary"
              >
                <i class="icon ion-logo-github"></i>
              </div>
              <div class="media-body">
                <span>Github</span>
                <a href="javascript:void(0);"
                  >github.com/spruko</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="mg-md-r-20 mg-b-10">
          <div class="main-profile-social-list">
            <div class="media">
              <div
                class="media-icon bg-success-transparent text-success"
              >
                <i class="icon ion-logo-twitter"></i>
              </div>
              <div class="media-body">
                <span>Twitter</span>
                <a href="javascript:void(0);"
                  >twitter.com/spruko.me</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="mg-md-r-20 mg-b-10">
          <div class="main-profile-social-list">
            <div class="media">
              <div
                class="media-icon bg-info-transparent text-info"
              >
                <i class="icon ion-logo-linkedin"></i>
              </div>
              <div class="media-body">
                <span>Linkedin</span>
                <a href="javascript:void(0);"
                  >linkedin.com/in/spruko</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="mg-md-r-20 mg-b-10">
          <div class="main-profile-social-list">
            <div class="media">
              <div
                class="media-icon bg-danger-transparent text-danger"
              >
                <i class="icon ion-md-link"></i>
              </div>
              <div class="media-body">
                <span>My Portfolio</span>
                <a href="javascript:void(0);">spruko.com/</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    </div>
  </div>
</div>
