<div class="d-flex">
  <div
    class="border-end pd-r-20 d-none d-lg-block"
    appFillElement
    [paddingBottom]="5"
  >
    <div class="wd-250">
      <wbs-project-list-filters [(filters)]="filters" position="side" />
    </div>
  </div>
  <div class="mg-t-20 mg-b-16 flex-grow-1">
    <div class="container-fluid">
      <div class="row mg-b-15 d-none d-lg-block">
        <div class="col-12">
          <wbs-page-header />
        </div>
      </div>
      <div class="row mg-b-15 d-md-block d-lg-none">
        <div class="col-6">
          <button
            class="btn btn-dark btn-block"
            (click)="filterToggle = !filterToggle"
          >
            <fa-icon [icon]="faFilters" />
          </button>
        </div>
        <div class="col-6">
          <wbs-page-header />
        </div>
      </div>
      <div class="row mg-b-15 d-md-block d-lg-none">
        <div
          class="col-12 animate__animated animate__faster"
          [ngClass]="{
            'd-none': !filterToggle,
            animate__slideInUp: filterToggle,
          }"
        >
          <wbs-project-list-filters [(filters)]="filters" position="top" />
        </div>
      </div>
      @if (projects() | projectFilter : filters; as projects) {
      <div class="row">
        @if (!loading() && projects.length === 0) {
        <div class="col-12 pd-t-100 tx-20 tx-center">
          <fa-icon [icon]="faCactus" size="2xl" />
          <br />
          <br />
          {{ "Projects.NoProjectsFound" | translate }}
        </div>
        } @for (project of projects; track project.id) {
        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <a
            class="tx-black text-decoration-none"
            [routerLink]="['/', owner, 'projects', 'view', project.id]"
          >
            <div class="card">
              <div class="card-body">
                <div style="min-height: 100px">
                  <div class="tx-14 tx-semibold">{{ project.title }}</div>
                  <div class="tx-10">
                    {{ project.category | projectCategoryLabel | translate }}
                  </div>
                </div>
                <div class="tx-right tx-10 tx-gray-600">
                  {{ project.lastModified | editedDateText }}
                </div>
              </div>
            </div>
          </a>
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
