<div class="mg-t-20 mg-b-16 w-100 tx-right pd-r-20">
  <!--<a kendoButton [routerLink]="['/', 'projects', 'create']">
    <fa-icon [icon]="faPlus" size="xs" />
  </a>-->
  <div
    *ngIf="status(); let projectStatus"
    role="group"
    class="btn-group"
  >
    <button
      type="button"
      *ngFor="let status of stati"
      class="btn btn-outline-primary btn-sm wd-120"
      [routerLinkActive]="'active'"
      [routerLink]="['../', status]"
    >
      {{ status | projectStatus }}
    </button>
  </div>
</div>
<div
  *ngIf="
    projects() | projectTypeFilter : (type()) | projectStatusFilter : (status());
    let projects
  "
  class="wd-100p mg-t-20"
>
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="projects.length === 0" class="col-12">
        <div class="card">
          <div
            *ngIf="loading(); else noProjects"
            class="card-body display-flex flex-flow-col flex-align-center justify-content-center"
            appFillElement
            [paddingBottom]="30"
          >
            <kendo-loader
              type="infinite-spinner"
              themeColor="primary"
              size="large"
            />
            <h2 class="k-loading-panel-text">
              {{ "General.Loading" | translate }}...
            </h2>
          </div>
          <ng-template #noProjects>
            <div class="card-body tx-center pd-y-20">
              {{ "Projects.NoProjectsFound" | translate }}
            </div>
          </ng-template>
        </div>
      </div>
      <div
        *ngFor="let project of projects"
        class="col-lg-3 col-md-4 col-sm-6"
      >
        <a [routerLink]="['/', owner(), 'projects', 'view', project.id]">
          <div class="card">
            <div class="card-body">
              <div style="min-height: 100px">
                <div class="tx-14 tx-semibold">{{ project.title }}</div>
                <div class="tx-10">
                  {{ project.category | categoryLabel }}
                </div>
              </div>
              <div class="tx-right tx-10 tx-gray-600">
                {{ project.lastModified | editedDateText }}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
