<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    {{ title ?? "" | translate }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <app-category-list-editor
    [(categories)]="categories"
    [categoryType]="categoryType"
  ></app-category-list-editor>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="save()">
    {{ "General.Save" | translate }}
  </button>
</div>
