<kendo-buttongroup selection="single">
  <button
    kendoButton
    size="small"
    [toggleable]="true"
    [selected]="view() === 'table'"
    (click)="view.set('table')"
  >
    <fa-icon [icon]="tableIcon" class="mg-r-5" />
    {{ "General.Table" | translate }}
  </button>
  <button
    kendoButton
    size="small"
    [toggleable]="true"
    [selected]="view() === 'grid'"
    (click)="view.set('grid')"
  >
    <fa-icon [icon]="gridIcon" class="mg-r-5" />
    {{ "General.Grid" | translate }}
  </button>
</kendo-buttongroup>
