<div class="pd-15 text-center">
  <div class="d-inline-block w-100 mx-wd-xs-500 text-start card dashboard-card">
    <div class="d-flex card-header flex-align-center">
      <div class="flex-fill">
        {{ "General.Settings" | translate }} >
        {{ "General.Disciplines" | translate }}
      </div>
      <div class="text-end">
        <wbs-fading-message
          [icon]="checkIcon"
          message="General.Saved"
          [show]="saveService().state() === 'saved'"
          cssClass="tx-success tx-12 mg-r-10"
        />
        @if (canAdd()) {
        <button
          kendoButton
          size="small"
          themeColor="dark"
          class="mg-r-10"
          (click)="add()"
        >
          <fa-icon [icon]="plus" class="mg-r-5" />
          {{ "General.Add" | translate }}
        </button>
        }
        <wbs-save-button
          size="small"
          [isSaving]="saveService().state() === 'saving'"
          (click)="saveClicked.emit()"
        />
      </div>
    </div>
    <div class="card-body">
      <div class="tx-italic text-center pd-b-10 pd-l-10">
        {{ "Projects.DisciplineSettingsInfoProject" | translate }}
      </div>
      <wbs-discipline-editor [(categories)]="disciplines" />
    </div>
  </div>
</div>
