<div *ngIf="threads$ | async; let threads" class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="custom-card main-content-body-profile">
      <div class="main-content-body tab-pane">
        <div class="card">
          <div class="card-body p-0 border-0 p-0 rounded-10">
            <div *ngIf="threads.length === 0" class="p-4 w-100 text-center">
              <div>
                <fa-icon [icon]="faTriangleExclamation" size="5x"></fa-icon>
              </div>
              <div class="tx-24 mg-t-20">It's Empty In here!</div>
              <div class="tx-12 mg-t-20">
                Do you have a question or conversation you want to start?
              </div>
              <div class="mg-t-20">
                <button class="btn btn-primary" (click)="createThread()">
                  <fa-icon [icon]="faPlus"></fa-icon>
                  <span class="mg-l-10">Start Discussion</span>
                </button>
              </div>
            </div>
            <div *ngIf="threads.length > 0">
              <div class="mg-10">
                <button class="btn btn-primary" (click)="createThread()">
                  <fa-icon [icon]="faPlus"></fa-icon>
                  <span class="mg-l-10">Start Discussion</span>
                </button>
              </div>
              <div
                class="d-flex w-100 pd-y-5 pd-x-10 bd-gray-400 bd-l bd-r bd-b bg-gray-400"
              >
                <div class="pd-y-5 flex-grow-1">
                  Title
                </div>
                <div class="pd-y-5 text-center wd-100">
                  Created By
                </div>
                <div class="pd-y-5 text-center wd-100">
                  Last Changed
                </div>
                <div class="pd-y-5 text-center wd-80">
                  Replies
                </div>
              </div>
              <div
                *ngFor="let thread of threads$ | async; let index = index"
                class="d-flex w-100 pd-y-5 pd-x-10 bd-gray-400 bd-l bd-r bd-b"
                [ngClass]="{ 'bd-t': index === 0 }"
                [routerLink]="[thread.id]"
              >
                <div class="pd-y-5 flex-grow-1">
                  {{ thread.title }}
                </div>
                <div class="pd-y-5 text-center wd-100 tx-9">
                  {{ thread.writtenBy | userName }}
                </div>
                <div class="pd-y-5 text-center wd-100 tx-9">
                  {{ thread.lastUpdated | dateText }}
                </div>
                <div class="pd-y-5 text-center wd-80">
                  {{ thread.replies }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #threadEditor let-modal>
  <div class="modal-header" *ngIf="modalTitle">
    <h4 class="modal-title" id="modal-basic-title">
      {{ modalTitle | translate }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body mg-x-10">
    <form #forumForm [formGroup]="form">
      <div class="mb-3 mb-x-5">
        <label for="title" class="form-label">Title</label>
        <input
          id="title"
          type="email"
          class="form-control"
          formControlName="title"
        />
      </div>
      <div class="mb-3 mb-x-5">
        <label for="message" class="form-label">Message</label>
        <kendo-editor appEditorFixer formControlName="message" style="height: 300px;" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div style="flex-grow: 1" class="tx-left">
      <button
        type="button"
        class="btn btn-primary w-100"
        [disabled]="!form.valid"
        (click)="submit()"
      >
        Submit
      </button>
    </div>
  </div>
</ng-template>
