<kendo-multiselect
  kendoMultiSelectSummaryTag
  *ngIf="data"
  [checkboxes]="true"
  [autoClose]="false"
  [data]="data()"
  [value]="values()"
  adaptiveMode="auto"
  [textField]="textField()"
  [valueField]="valueField()"
  [valuePrimitive]="true"
  (valueChange)="valueChange($event)"
>
  <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
    <span *ngIf="dataItems.length == data.length; else notAll">
      {{ allLabel() | translate }}
    </span>
    <ng-template #notAll>
      {{ dataItems | translateList : textField() }}
    </ng-template>
  </ng-template>
  <ng-template kendoMultiSelectItemTemplate let-dataItem>
    <div class="checkbox-list-item">
      <span class="d-ib" [style.width.px]="labelWidth">
        {{ dataItem[textField()] | translate }}
      </span>
      <a class="tx-10" (click)="onlyClicked($event, dataItem)">
        {{ "General.Only" | translate }}
      </a>
    </div>
  </ng-template>
</kendo-multiselect>
