@import "../assets/scss/_variables";

$theme-type: dark;
$grid-border: $white-6;
@import "./kendoui-dependencies";

.dark-theme {
  .k-dialog {
    .k-content {
      background-color: $light-grey;
    }
  }
}
