<kendo-dialog (close)="dialog.close()">
  <kendo-dialog-titlebar class="bg-gray-200">
    {{ "Upload.DeleteConfirm" | translate }}
  </kendo-dialog-titlebar>
  <p>
    <button
      kendoButton
      class="w-100"
      [disabled]="!canDelete()"
      (click)="deleteTask(true)"
    >
      {{ "Upload.Delete-WithSubTasks" | translate }}
    </button>
  </p>
  <p>
    <button
      kendoButton
      class="w-100"
      [disabled]="!canDelete()"
      (click)="deleteTask(false)"
    >
      {{ "Upload.Delete-WithoutSubTasks" | translate }}
    </button>
  </p>
  <p>
    <button kendoButton class="w-100" (click)="dialog.close()">
      {{ "General.Nevermind" | translate }}
    </button>
  </p>
</kendo-dialog>
