@import "../../../../assets/scss/variables";

::ng-deep {
  @media screen and (max-width: 767.9px) {
    .horizontal .breadcrumb-header {
      margin-top: 78px;
    }
  }
}

.justify-content-between {
  justify-content: space-between !important;
}

.breadcrumb-header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 16px;
  width: 100%;

  .breadcrumb {
    background: transparent !important;
    padding: 0;
    margin-bottom: 0;
    font-size: 13px;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

@media (max-width: 633px) {
  .breadcrumb-header {
    display: block;
  }
}

@media (max-width: 380px) {
  .breadcrumb-right .btn-outline-primary {
    display: none;
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 7px;
}

.breadcrumb-item {
  a {
    color: #7987a1;
  }
  + .breadcrumb-item {
    padding-left: 0.5rem;

    &::before {
      display: inline-block;
      padding-right: 0.5rem;
      color: #e3e6e8b0;
      content: "/";
    }

    &:hover::before {
      text-decoration: underline;
      text-decoration: none;
    }
  }

  &.active {
    color: $primary;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  float: none;
  padding-right: 0.5rem;
  color: #d6dfe7;
  content: var(--bs-breadcrumb-divider, ">");
  font-family: "feather" !important;
}

a {
  text-decoration: none;
}
