<div class="d-flex flex-flow-col h-100">
  <div class="mg-t-10 tx-center w-100 flex-fill">
    <div class="tx-12 text-start">
      <wbs-alert
        type="info"
        [dismissible]="false"
        message="ProjectCreate.Roles_Description"
      />
    </div>
    @if (isLoading()) {
    <div class="w-100 mg-t-50">
      <fa-duotone-icon [icon]="faSpinner" size="5x" animation="spin" />
      <h3 class="pd-t-20">
        {{ "General.Loading" | translate }}
      </h3>
    </div>
    } @else {
    <wbs-project-roles
      [members]="members()"
      [approverIds]="store.approverIds()"
      [pmIds]="store.pmIds()"
      [smeIds]="store.smeIds()"
      [mustConfirm]="false"
      [approvalEnabled]="approvalEnabled()!"
      (addUserToRole)="add($event.role, $event.user.user_id)"
      (removeUserToRole)="remove($event.role, $event.user.user_id)"
    />
    }
  </div>
</div>
