<div class="container-fluid">
  @if (view() === 'list') { @if (list().length > 0 && (claims() | check :
  addClaim())) {
  <div class="row">
    <div class="col-12 tx-right">
      <button class="btn btn-outline-dark" (click)="launchEditor()">
        <fa-icon [icon]="faPlus" />
        &nbsp; {{ "Resources.AddResource" | translate }}
      </button>
    </div>
  </div>
  } @if (list().length === 0) {
  <div class="row">
    <div class="col-12 mg-t-40 text-center tx-20">
      <div>{{ "Resources.NoResourcesFound" | translate }}</div>
      @if (claims() | check : addClaim()) {
      <button class="btn btn-outline-dark mg-t-20" (click)="launchEditor()">
        <fa-icon [icon]="faPlus" />
        &nbsp; {{ "General.Add" | translate }}
      </button>
      }
    </div>
  </div>
  } @else {
  <div class="row">
    <div class="col-12 mg-t-10">
      <wbs-record-resource-list
        [claims]="claims()"
        [list]="list()"
        [apiUrlPrefix]="apiUrlPrefix()"
        (save)="saveRecords.emit($event)"
        (edit)="launchEditor($event)"
      />
    </div>
  </div>
  } } @else {
  <div class="row">
    <div class="col-12 offset-lg-1 col-lg-10">
      <wbs-record-resource-editor
        [(vm)]="vm"
        (saveClicked)="saveClicked()"
        (cancelClicked)="cancelEditor()"
      />
    </div>
  </div>
  }
</div>
