@if (phaseList(); as phaseList) {
<div class="w-100 text-center">
  <fa-icon [icon]="faList" size="5x" />
  <h3 class="pd-t-20">{{ "ProjectUpload.Page_Phases" | translate }}</h3>
  <ngb-alert type="info">
    <h4 class="alert-heading">{{ "ProjectUpload.Why" | translate }}</h4>
    <p>
      {{ "ProjectUpload.PhaseMessage" | translate }}
    </p>
  </ngb-alert>
  <div class="list-group text-start w-100 pd-t-20">
    @for (cat of phaseList; let i = $index; track i) {
    <div
      class="list-group-item d-flex flex-row-f"
      [class.bg-gray-200]="!cat.isEditable"
    >
      <div class="pd-t-1 wd-60 d-ib">
        <fa-layers [fixedWidth]="true">
          <fa-icon size="2x" [icon]="faCircle" />
          <fa-layers-text [content]="(i + 1).toString()" transform="right-6" />
        </fa-layers>
      </div>
      @if (cat.isEditable) {
      <div style="font-size: 12px; padding-right: 30px">
        {{ cat.text }}
      </div>
      <div class="flex-grow-1 text-end tx-10">
        <wbs-category-match-list
          [categories]="phases()"
          [(value)]="cat.sameAs"
        />
      </div>
      } @else {
      <div style="font-size: 12px">
        {{ cat.idOrCat | phaseLabel : project()!.phases | translate }}
      </div>
      }
    </div>
    }
  </div>
  <br />
  <a class="btn btn-primary mg-y-20" (click)="nav(phaseList)">
    {{ "General.Continue" | translate }}
  </a>
</div>
}
