<div class="card-header">
  <div class="d-flex flex-align-center">
    <div>
      {{ "General.Description" | translate }} &nbsp;
      <wbs-approval-badge [approval]="approval()" />
    </div>

    @if (!editMode()) {
    <div class="flex-fill tx-right">
      <wbs-fading-message
        [icon]="checkIcon"
        message="General.Saved"
        [show]="saveState() === 'saved'"
        cssClass="tx-success tx-12 mg-r-10"
      />
      <fa-icon
        size="lg"
        class="pointer"
        [icon]="faPencil"
        (click)="edit()"
        [title]="'General.Edit' | translate"
      />
    </div>
    }
  </div>
</div>
@if (editMode()) {
<div class="card-body text-center">
  <div class="d-ib w-100" style="max-width: 1000px">
    <div class="d-flex w-100 text-end mg-b-10">
      <div class="text-start flex-align-center flex-fill tx-18">
        {{ "General.DescriptionEditor" | translate }}
      </div>
      <div>
        <button class="btn btn-primary tx-12" (click)="askAi.set(true)">
          <fa-icon [icon]="faComment" class="mg-r-5" />
          {{ "General.AskAi" | translate }}
        </button>
      </div>
      <wbs-save-button
        cssClass="mg-l-15 tx-12 "
        [isSaving]="saveState() === 'saving'"
        (click)="save(editDescription)"
      />
      <div>
        <button class="btn btn-danger mg-l-15 tx-12" (click)="cancel()">
          <fa-icon [icon]="faXmark" class="mg-r-5" />
          {{ "General.Cancel" | translate }}
        </button>
      </div>
    </div>
    <kendo-editor class="form-control" [(ngModel)]="editDescription" />
    <div class="w-100 text-start">
      <label class="tx-italic">
        {{ "Library.DescriptionHelpEntry" | translate }}
      </label>
    </div>
  </div>
</div>
} @else if (description() !== '') {
<div class="card-body" [innerHTML]="description() | safeHtml"></div>
} @else {
<div class="card-body">
  <wbs-alert
    type="warning"
    [dismissible]="false"
    [message]="noDescriptionLabel()"
  />
</div>

}
