@if (current(); as task) {
<div class="two-column-grid pd-20 mn-ht-100p fs-6" resizedCss>
  <wbs-task-details-card
    ngClass="card dashboard-card"
    [project]="project()!"
    [parent]="parent()"
    [task]="task"
  />
  <wbs-discipline-card
    ngClass="card dashboard-card"
    [splitLimit]="750"
    [alertIfEmpty]="true"
    [items]="task?.disciplines ?? []"
    noDisciplinesLabel="Library.NoDisciplinesTask"
    [canEdit]="claims() | check : UPDATE_CLAIM"
    [editRoute]="['../', 'settings', 'disciplines']"
  />
  <wbs-description-card
    ngClass="card dashboard-card"
    [(askAi)]="askAi"
    [(editMode)]="descriptionEditMode"
    [saveState]="descriptionSave.state()"
    [description]="task.description ?? ''"
    [canEdit]="claims() | check : UPDATE_CLAIM"
    noDescriptionLabel="Library.NoDescriptionTask"
    (descriptionChange)="descriptionChange($event)"
  />
</div>

@if (askAi()) {
<wbs-description-ai-dialog
  [description]="task.description"
  [startingDialog]="descriptionAiStartingDialog()"
  (descriptionChange)="aiChangeSaved($event)"
  (closed)="askAi.set(false)"
/>
} }
