<div class="display-ib wd-100p">
  <div
    *ngIf="view === 'b-c' || view === 'c-c'; else elseBlock"
    class="wd-100p tx-center"
  >
    <button
      *ngIf="view === 'b-c'"
      [disabled]="disableBack"
      class="btn btn-warning"
      (click)="back()"
    >
      {{ "General.Back" | translate }}
    </button>
    <button
      *ngIf="view === 'c-c'"
      class="btn btn-primary"
      [disabled]="disableContinue"
      (click)="continueClicked.emit()"
    >
      {{ "General.Continue" | translate }}
    </button>
  </div>
  <ng-template #elseBlock>
    <div class="display-ib wd-50p text-start">
      <button
        *ngIf="view === 'b' || view === 'bc'"
        [disabled]="disableBack"
        class="btn btn-warning"
        (click)="back()"
      >
        {{ "General.Back" | translate }}
      </button>
    </div>
    <div class="display-ib wd-50p text-end">
      <button
        *ngIf="view === 'c' || view === 'bc'"
        class="btn btn-primary"
        [disabled]="disableContinue"
        (click)="continueClicked.emit()"
      >
        {{ "General.Continue" | translate }}
      </button>
    </div>
  </ng-template>
</div>
