@import "src/styles/variables";

$header-panel-height: 56px;

$border-dark: solid 1px white;

.page-header {
  display: flex;
  flex-direction: row;

  > .page-header-actions {
    flex-grow: 1;
    text-align: right;
    height: 40px;
    line-height: 40px;
  }
}

.general-body {
  height: 400px;
  line-height: 400px;
}

.editor-body {
  display: flex;
  flex-direction: column;

  > .header-panel {
    height: $header-panel-height;
    display: flex;

    .header-label {
      display: inline-block;
      flex-grow: 1;
    }
  }
}

.editor-fields {
  padding: 8px;
  .field {
    font-size: 14px;

    > .field-header {
      font-size: 12px;
      font-weight: bold;
      display: block;
    }
  }
}

.other-panel {
  margin-top: 10px;

  > label {
    font-size: 10px;
    font-style: italic;
  }
}

.dark-theme {
  .editor-body {
    color: white;
    background-color: $dark-background;
  }
}
