<div class="pd-y-20 page-header">
  <span class="main-content-title mg-b-0 mg-b-lg-1">
    {{ (project$ | async)?.title }}
  </span>
  <div class="page-header-actions">
    <div class="btn-group" *ngIf="viewProject$ | async; let pView">
      <button
        type="button"
        class="btn"
        *ngFor="
          let info of [
            ['general', 'General.General'],
            ['wbs', 'Wbs.WBS']
          ]
        "
        [class.btn-white]="pView !== info[0]"
        [class.btn-outline-primary]="pView !== info[0]"
        [class.btn-success]="pView === info[0]"
        (click)="viewChanged(info[0])"
      >
        {{ info[1] | translate }}
      </button>
    </div>
  </div>
</div>
<div class="row row-sm">
  <div class="col-lg-12">
    <div class="card custom-card">
      <div class="card-body">
        <div
          *ngIf="(viewProject$ | async) === 'general'"
          class="general-body tx-center"
        >
          Coming Soon...
        </div>
        <div
          *ngIf="(viewProject$ | async) === 'wbs'"
          class="table-responsive deleted-table"
        >
          <kendo-splitter orientation="horizontal">
            <kendo-splitter-pane [collapsible]="false">
              <div class="pane-content" *ngIf="project$ | async; let project">
                <wbs-tree
                  [view]="viewNode$ | async"
                  [nodes]="nodeViews$ | async"
                  [project]="project"
                  [toolbar]="toolbar"
                  (reordered)="reordered($event)"
                  (selectedChanged)="nodeSelected($event)"
                >
                </wbs-tree>
              </div>
            </kendo-splitter-pane>
            <kendo-splitter-pane *ngIf="show$ | async" min="300px" size="40%">
              <div class="editor-body" appFillElement>
                <ng-template [ngIf]="node$ | async" let-node>
                  <div class="header-panel pd-t-10">
                    <div class="header-label">
                      <wbs-node-editor-categories></wbs-node-editor-categories>
                    </div>
                    <div
                      class="display-ib wd-50 tx-right pointer pd-t-5 pd-r-15"
                    >
                      <fa-icon [icon]="faX" (click)="close()"></fa-icon>
                      <!--<wbs-node-actions-menu
                        (menuClicked)="nodeMenuClicked($event, node)"
                      ></wbs-node-actions-menu>-->
                    </div>
                  </div>
                  <div appFillElement class="main-panel">
                    <wbs-node-editor></wbs-node-editor>
                  </div>
                </ng-template>
              </div>
            </kendo-splitter-pane>
          </kendo-splitter>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #toolbar>
  <div class="btn-group" *ngIf="viewNode$ | async; let nView">
    <button
      type="button"
      class="btn"
      *ngFor="
        let info of [
          ['phase', 'Wbs.Phase'],
          ['discipline', 'Wbs.Discipline']
        ]
      "
      [class.btn-white]="nView !== info[0]"
      [class.btn-outline-primary]="nView !== info[0]"
      [class.btn-success]="nView === info[0]"
      (click)="nodeViewChanged(info[0])"
    >
      {{ info[1] | translate }}
    </button>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="btn-group" *ngIf="(viewNode$ | async) === 'phase'">
    <button
      type="button"
      class="btn btn-white btn-outline-primary"
      (click)="action('download')"
    >
      <fa-icon [icon]="faDownload"></fa-icon>
      {{ "General.Download" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-white btn-outline-primary"
      (click)="action('upload')"
    >
      <fa-icon [icon]="faUpload"></fa-icon>
      {{ "General.Upload" | translate }}
    </button>
  </div>
</ng-template>
