<div class="pd-15 text-center bg-white">
  <div class="d-ib w-100 text-start card dashboard-card">
    <div class="d-flex card-header flex-align-center">
      <div class="flex-fill">
        {{ "General.Settings" | translate }} >
        {{ "General.Phases" | translate }}
      </div>
      <div class="text-end">
        <wbs-fading-message
          [icon]="checkIcon"
          message="General.Saved"
          [show]="saveState() === 'saved'"
          cssClass="tx-success tx-12 mg-r-10"
        />
        <button
          class="btn btn-sm btn-dark mg-r-10"
          (click)="showAddDialog.set(true)"
        >
          <fa-icon [icon]="plusIcon" />&nbsp; {{ "General.Add" | translate }}
        </button>
        <wbs-save-button
          size="sm"
          [isSaving]="saveState() === 'saving'"
          (click)="save()"
        />
      </div>
    </div>
    <div class="card-body">
      <div class="tx-italic text-center pd-b-10 pd-l-10">
        {{ "Projects.PhaseSettingsInfo" | translate }}
      </div>

      <wbs-phase-editor [(categories)]="phases" />
    </div>
  </div>
</div>

@if (showAddDialog()) {
<wbs-category-dialog
  titleText="Wbs.AddDiscipline"
  [includeIcons]="false"
  (closed)="create($event)"
/>
}
