<ng-template [ngIf]="current$ | async" let-current>
  <app-page-header
    title="TASK DETAILS"
    [items]="[
      { route: [''], label: 'General.Projects' },
      { route: '', label: (project$ | async)?.title ?? '' }
    ]"
    [active_item]="current.title!"
  ></app-page-header>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card custom-card">
        <div class="card-body d-md-flex">
          <div class="display-flex flex-row my-md-auto mt-4 w-100">
            <div style="flex-grow: 1">
              <h4 class="font-weight-semibold ms-md-4 ms-0 mb-1 pb-0">
                {{ current.title }}
              </h4>
              <p class="tx-13 text-muted ms-md-4 ms-0 mb-2 pb-2">
                <span class="me-3" *ngFor="let disc of current.disciplineIds">
                  <fa-icon [icon]="disc | disciplineIcon"></fa-icon>
                  {{ disc | categoryLabel }}
                </span>
              </p>
            </div>
            <div>
              <button #target class="btn btn-primary">
                <fa-icon [icon]="faCogs"></fa-icon>
              </button>
              <kendo-contextmenu
                [target]="target"
                [items]="actions"
                showOn="click"
                [alignToAnchor]="true"
                [anchorAlign]="{ horizontal: 'right', vertical: 'bottom' }"
                [popupAlign]="{ horizontal: 'right', vertical: 'top' }"
                (select)="actionClicked($event.item.action)"
                [ngStyle]="{ padding: '0 !important', margin: '0 !important' }"
              >
                <ng-template kendoMenuItemTemplate let-item="item">
                  <fa-icon [icon]="item.icon"></fa-icon>
                  {{ item.text }}
                </ng-template>
              </kendo-contextmenu>
            </div>
          </div>
        </div>
        <div class="card-footer py-0">
          <div class="profile-tab tab-menu-heading border-bottom-0">
            <ul
              ngbNav
              class="main-nav-line p-0 tabs-menu profile-nav-line border-0 br-5 mb-0"
              [activeId]="pageView$ | async"
            >
              <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
                <a ngbNavLink [routerLink]="['../', link.fragment]">
                  {{ link.title }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pageView$ | async; let pageView" class="row row-sm">
    <div class="col-lg-12 col-md-12">
      <div class="custom-card main-content-body-profile">
        <div class="main-content-body tab-pane">
          <div class="card">
            <div class="card-body p-0 border-0 p-0 rounded-10">
              <wbs-task-about
                *ngIf="pageView === 'about'"
                [current]="current$ | async"
                [discipline]="viewDiscipline$ | async"
                [phase]="viewPhase$ | async"
                [subTasks]="subTasks$ | async"
              >
              </wbs-task-about>
              <wbs-task-sub-tasks
                *ngIf="pageView === 'sub-tasks'"
                [subTasks]="subTasks$ | async"
                [project]="project$ | async"
                [width]="width$ | async"
              ></wbs-task-sub-tasks>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
