<ng-template [ngIf]="project()" let-project>
  <div class="px-4 py-2">
    <h4 class="tx-15 text-uppercase mb-3">Basic Information</h4>
    <p class="text-muted ms-md-4 ms-0 mb-2">
      <span class="tx-semibold display-ib wd-80 tx-right mg-r-10">
        {{ "General.Category" | translate }} :
      </span>
      <span>
        {{ project.category | categoryLabel }}
      </span>
    </p>
    <p class="text-muted ms-md-4 ms-0 mb-2">
      <span class="tx-semibold display-ib wd-80 tx-right mg-r-10">
        {{ "General.Status" | translate }} :
      </span>
      <span>
        {{ project.status | projectStatus }},
        {{ project.lastModified | editedDateText | lowercase }}
      </span>
    </p>
    <p class="text-muted ms-md-4 ms-0 mb-2">
      <span class="tx-semibold display-ib wd-80 tx-right mg-r-10">
        {{ "General.Disciplines" | translate }} :
      </span>
      <span class="display-ib pd-l-3">
        <label class="me-3" *ngFor="let disc of project.categories.discipline">
          <i class="fa-solid" [ngClass]="disc | disciplineIcon"></i>
          {{ disc | categoryLabel }}
        </label>
      </span>
    </p>
  </div>
  <div class="border-top"></div>
  <div class="p-4">
    <h4 class="tx-15 text-uppercase mb-3">
      {{ "General.Description" | translate }}
    </h4>
    <div [innerHTML]="project.description | safeHtml"></div>
  </div>
  <div class="border-top"></div>
  <div class="p-4">
    <h4 class="tx-15 text-uppercase mb-3">
      {{ "General.Contacts" | translate }}
    </h4>
    <ul class="list-group">
      <li
        *ngFor="let user of users()"
        class="list-group-item bd-gray-400 bd-t-1-f"
      >
        {{ user.name }} - {{ user.roles | roleTitle : true }}
      </li>
    </ul>
  </div>
  <div class="border-top"></div>
  <div class="px-4 py-2">
    <h4 class="tx-15 text-uppercase mb-3">Path To Success</h4>
    <div class="text-muted m-t-30">
      <wbs-project-checklist [checklist]="checklist()" />
    </div>
  </div>
  <div class="border-top"></div>
  <div class="p-4">
    <h4 class="tx-15 text-uppercase mb-3">
      {{ "General.Statistics" | translate }}
    </h4>
    <div class="profile-cover__info ms-4 ms-auto p-0">
      <ul class="nav p-0 border-bottom-0 mb-0">
        <li class="border p-2 br-5 bg-light wd-150 ht-70">
          <span class="border-0 mb-0 pb-0">
            {{ project.categories.phase.length }}
          </span>
          {{ "General.Phases" | translate }}
        </li>
        <li class="border p-2 br-5 bg-light wd-150 ht-70">
          <span class="border-0 mb-0 pb-0">
            {{ project.categories.discipline.length }}
          </span>
          {{ "General.Disciplines" | translate }}
        </li>
        <li class="border p-2 br-5 bg-light wd-150 ht-70">
          <span class="border-0 mb-0 pb-0"> {{ taskCount() }} </span>
          {{ "Projects.TaskCount" | translate }}
        </li>
        <!--
        <li class="border p-2 br-5 bg-light wd-150 ht-70 border-danger">
          <span class="border-0 mb-0 pb-0"> 0 </span>
          Cash Flow Tasks
        </li>-->
      </ul>
    </div>
  </div>
</ng-template>
