<div class="mg-t-10 w-100 tx-center">
  <div class="d-inline-block wd-50p tx-left">
    @if (showBack()) {
    <button
      class="btn btn-warning"
      [disabled]="disableBack()"
      (click)="backClicked.emit()"
    >
      {{ backText() | translate }}
    </button>
    }
  </div>
  <div class="d-inline-block wd-50p tx-right">
    @if (showContinue()) {
    <button
      class="btn btn-primary"
      [disabled]="disableContinue()"
      (click)="continueClicked.emit()"
    >
      {{ continueText() | translate }}
    </button>
    }
  </div>
</div>
