@import "src/variables";

$primary: $aqua-blue;
$primary-palette-name: $aqua-blue;
$theme-type: light;

@import "~@progress/kendo-theme-bootstrap/scss/button/_index.scss";
@import "~@progress/kendo-theme-bootstrap/scss/icons/_index.scss";
@import "~@progress/kendo-theme-bootstrap/scss/treelist/_index.scss";
