//
// Colors
//
$dark-grey: #4f4e4e;
$aqua-blue: #17b7bb;
$dark-blue: #00427a;
$dark-blue2: #002f59;
$light-grey: #f2f2f2;
//
//  Fonts
//
$font-bold: "Proxima Nova Bold";
$font-bold-extra: "Proxima Nova Extra Bold";
$font-bold-semi: "Proxima Nova Semi Bold";
$font-light: "Proxima Nova Light";
$font-regular: "Proxima Nova";
//
//  Layout stuff
//
$aside-width: 260px;
//
//  Table stuff
//
$table-border: solid 1px $dark-blue;
$seperator: solid 2px $aqua-blue !important;
//
//  Image stuff
//
$dsma-logo-width: 140px;
//
//  Button stuff
//
$round-button-size: 30px;
