::ng-deep{
    app-profile{
        .profile-online {
            bottom: 0;
            top: auto;
        }
        .w-fitcont{
            width: fit-content;
        }
    }
    .cdk-overlay-container {
        z-index: 999999 !important;
    }
}