<div *ngIf="peopleList$ | async; let people" class="w-100 text-center">
  <fa-icon [icon]="faList" size="5x" />
  <h3 class="pd-t-20">Discipline Mapping</h3>
  <ngb-alert type="info">
    <h4 class="alert-heading">Why?</h4>
    <p>
      While we don't store who is assigned to certain tasks we can use this
      information to figure out what disciplines are assigned to each task. If
      you can define what disciplines each individual performs we will do the
      mapping.
    </p>
  </ngb-alert>
  <div class="list-group text-start w-100 pd-t-20">
    <div
      *ngFor="let person of people; let i = index"
      class="list-group-item d-flex flex-row-f"
    >
      <div class="pd-t-1 wd-60 d-ib">
        <fa-layers [fixedWidth]="true">
          <fa-icon size="2x" [icon]="faCircle" />
          <fa-layers-text [content]="(i + 1).toString()" transform="right-6" />
        </fa-layers>
      </div>
      <div style="font-size: 12px; padding-right: 30px">
        {{ person.name }}
      </div>
      <div class="flex-grow-1 text-end tx-10">
        <kendo-multiselect
          size="small"
          textField="label"
          valueField="id"
          [ngStyle]="{ 'max-width': '300px' }"
          [data]="(categories$ | async) ?? []"
          [valuePrimitive]="true"
          [(ngModel)]="person.disciplineIds"
          kendoMultiSelectSummaryTag
        >
          <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
            <span class="k-icon k-i-caret-alt-down"></span>
            {{ dataItems | join : "label" }}
          </ng-template>
        </kendo-multiselect>
      </div>
    </div>
  </div>
  <br />
  <a class="btn btn-primary mg-y-20" (click)="nav(people)">
    {{ "General.Continue" | translate }}
  </a>
</div>
