<ul class="list-group">
  <li
    *ngFor="let item of checklist()"
    class="list-group-item"
    [ngClass]="{
      'list-group-item-success': item.result === 'pass',
      'list-group-item-warning': item.result === 'warn',
      'list-group-item-danger': item.result === 'fail',
    }"
  >
    <fa-icon
      [icon]="
        item.result === 'pass'
          ? faCheck
          : item.result === 'warn'
          ? faWarning
          : faX
      "
      [ngClass]="{
        'text-success': item.result === 'pass',
        'text-warning': item.result === 'warn',
        'text-danger': item.result === 'fail',
      }"
    />
    &nbsp;
    {{ item.description | translate }}
  </li>
</ul>
