<div class="p-t-10">
  <h5 class="text-primary m-b-5 tx-14">Lead designer / Developer</h5>
  <p class="">websitename.com</p>
  <p><b>2010-2015</b></p>
  <p class="text-muted tx-13 m-b-0">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book.
  </p>
</div>

<div class="">
  <h5 class="text-primary m-b-5 tx-14">Senior Graphic Designer</h5>
  <p class="">coderthemes.com</p>
  <p><b>2007-2009</b></p>
  <p class="text-muted tx-13 mb-0">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book.
  </p>
</div>
