<div *ngIf="breadcrumbs(); let crumbs" class="w-100 breadcrumb-header tx-right">
  <div class="d-ib">
    <ol class="breadcrumb">
      <li
        class="breadcrumb-item"
        *ngFor="let item of crumbs; let index = index"
        [ngClass]="{ active: crumbs.length === index + 1 }"
      >
        <a *ngIf="item.route && item.isText" [routerLink]="item.route">
          {{ item.text }}
        </a>
        <a *ngIf="item.route && !item.isText" [routerLink]="item.route">
          {{ item.text! | translate }}
        </a>
        <span *ngIf="!item.route && item.isText">
          {{ item.text }}
        </span>
        <span *ngIf="!item.route && !item.isText">
          {{ item.text! | translate }}
        </span>
      </li>
    </ol>
  </div>
</div>
