<div *ngIf="header(); let header" class="w-100 breadcrumb-header tx-right">
  <div class="display-ib">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let item of header.breadcrumbs">
        <a *ngIf="item.isText" [routerLink]="item.route">{{ item.label }}</a>
        <a *ngIf="!item.isText" [routerLink]="item.route">
          {{ item.label | translate }}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ header.activeItem }}
      </li>
    </ol>
  </div>
</div>
