@let vm = task();

<div class="d-inline-block">
  <div class="d-flex flex-align-start">
    <span> {{ vm.levelText }} &nbsp;-&nbsp; {{ vm.title }} </span>
    <span class="child-to-show" [ngClass]="{ nevermind: forcedShow() }">
      @if (canEdit()) {
      <fa-icon
        size="sm"
        class="pointer mg-l-10"
        [icon]="editIcon"
        (click)="edit.emit()"
        [title]="'General.Edit' | translate"
      />

      }

      <a #menuTarget class="pointer mg-l-10 pd-h-5">
        <fa-icon
          size="sm"
          [icon]="menuIcon"
          (click)="buildMenu()"
          [title]="'General.Options' | translate"
        />
      </a>
    </span>
    <kendo-contextmenu
      showOn="click"
      [items]="menu()"
      [target]="menuTarget"
      (popupOpen)="forcedShow.set(true)"
      (popupClose)="forcedShow.set(false)"
      (select)="menuItemSelected.emit($event.item.action)"
    >
      <ng-template kendoMenuItemTemplate let-item="item">
        <wbs-context-menu-item [item]="item" />
      </ng-template>
    </kendo-contextmenu>
  </div>
</div>
