<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    {{ "Projects.CreateTask" | translate }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss()"
  ></button>
</div>
<div class="modal-body w-100">
  <div>
    <label class="form-label">
      {{ "Projects.TaskTitle" | translate }}
    </label>
    <input
      #titleTextBox
      type="text"
      class="form-control"
      [(ngModel)]="title"
      (keydown.enter)="save(false)"
    />
  </div>
  <br />
  <br />
  <div class="wd-100p tx-right">
    <button class="btn btn-sm btn-primary" (click)="more.set(!more())">
      {{ (more() ? "General.Less" : "General.More") | translate }}
    </button>
  </div>
  @if (more()) {
  <label class="form-label">
    {{ "Projects.TaskDescription" | translate }}
  </label>

  <kendo-editor [(value)]="description" [resizable]="true" />
  <br />
  <br />
  <label class="form-label">
    {{ "Projects.TaskDisciplines" | translate }}
  </label>
  <wbs-category-list-editor
    [showButtons]="false"
    [(categories)]="disciplines"
    [categoryType]="discipline"
  />
  }
</div>

<div class="modal-footer">
  <button
    class="btn btn-primary"
    [disabled]="title === ''"
    (click)="save(true)"
  >
    {{ "General.SaveAndView" | translate }}
  </button>
  <button
    class="btn btn-primary"
    [disabled]="title === ''"
    (click)="save(false)"
  >
    {{ "General.Save" | translate }}
  </button>
</div>
