@if (showDialog()) {
<kendo-dialog
  width="80%"
  maxHeight="90%"
  [title]="'Projects.CreateTask' | translate"
  (close)="cancel()"
>
  <div class="w-100 scroll">
    <label class="form-label">
      {{ "Projects.TaskTitle" | translate }}
    </label>
    <input
      #titleTextBox
      type="text"
      class="form-control"
      [(ngModel)]="title"
      (keydown.enter)="save(false)"
    />
    <br />
    <br />
    <div class="wd-100p tx-right">
      <button class="btn btn-sm btn-primary" (click)="more.set(!more())">
        {{ (more() ? "General.Less" : "General.More") | translate }}
      </button>
    </div>
    @if (more()) {
    <label class="form-label">
      {{ "Projects.TaskDescription" | translate }}
    </label>

    <kendo-editor [(ngModel)]="description" [resizable]="true" />
    <br />
    <br />
    <label class="form-label">
      {{ "Projects.TaskDisciplines" | translate }}
    </label>
    <wbs-discipline-editor [(categories)]="disciplines" />
    }
  </div>

  <kendo-dialog-actions layout="end">
    <button
      class="btn btn-primary"
      [disabled]="title() === ''"
      (click)="save(true)"
    >
      {{ "General.SaveAndView" | translate }}
    </button>
    <button
      class="btn btn-primary"
      [disabled]="title() === ''"
      (click)="save(false)"
    >
      {{ "General.Save" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
}
