<!--<div class="custom-toolbar">
  <button
    kendoButton
    icon="menu"
    look="flat"
    (click)="drawer.toggle()"
  ></button>
  <span class="mail-box">Mail Box</span>
</div>
<kendo-drawer-container>
  <kendo-drawer
    #drawer
    [items]="items"
    mode="push"
    [mini]="true"
    [expanded]="false"
    (select)="onSelect($event)"
  >
  </kendo-drawer>

  <kendo-drawer-content>
    Hello
    <br />
    <br />
    <kendo-buttongroup selection="single">
      <button
        kendoButton
        [toggleable]="true"
        (click)="viewChanged('phase')"
        [selected]="(view$ | async) === 'phase'"
      >
        {{ "General.Phase" | translate }}
      </button>
      <button
        kendoButton
        [toggleable]="true"
        (click)="viewChanged('discipline')"
        [selected]="(view$ | async) === 'discipline'"
      >
        {{ "General.Discipline" | translate }}
      </button>
    </kendo-buttongroup>
    <br />-->
<!--
  </kendo-drawer-content>
</kendo-drawer-container>
-->
<div style="height: 100%">
  {{ device.type }}
  <br />
  <br />
  <button (click)="hello()">Hello</button>
  <!--<router-outlet></router-outlet>
-->
  <kendo-bottomnavigation
    *ngIf="device.type === 'Mobile'"
    [items]="bItems"
    positionMode="fixed"
    [border]="true"
    (select)="navigate($event)"
  >
    <ng-template kendoBottomNavigationItemTemplate let-item>
      <!--<kendo-badge-container>
      <kendo-icon [name]="item.icon" size="medium"></kendo-icon>
      <kendo-badge *ngIf="item.notifications">
        {{ item.notifications }}
      </kendo-badge>
    </kendo-badge-container>-->
      <fa-icon [icon]="item.icon" size="lg"></fa-icon>
      {{ item.text }}
    </ng-template>
  </kendo-bottomnavigation>
</div>
