<div class="container-fluid mg-t-10">
  <div class="row">
    <div
      class="offset-xl-3 col-xl-6 offset-lg-1 col-lg-10 offset-md-2 col-md-8 col-sm-12"
    >
      <div class="card border-1 bd-primary">
        <div *ngIf="mode() === 'description'" class="card-body">
          <p *ngIf="reasonCode() === 'other'">
            {{ "ProjectUpload.TicketOtherMessage" | translate }}
          </p>
          <p *ngIf="reasonCode() === 'error'">
            {{ "ProjectUpload.TicketErrormessage" | translate }}
          </p>
          <div class="mg-t-15 mg-b-5">
            {{ "ProjectUpload.TicketDescription" | translate }}
          </div>
          <kendo-textarea
            #description
            class="w-100"
            placeholder="Enter your name"
            size="large"
            rounded="large"
            fillMode="outline"
          />

          <div class="w-100 tx-right mg-t-10">
            <a
              *ngIf="!sending()"
              class="mg-r-15 btn btn-outline-primary"
              [routerLink]="[
                '/' + project.owner,
                'projects',
                'view',
                project.id
              ]"
            >
              {{ "General.NoThankYou" | translate }}
            </a>
            <a
              *ngIf="!sending()"
              class="mg-r-15 btn btn-outline-primary"
              [routerLink]="['../../start']"
            >
              {{ "General.TicketDifferentFile" | translate }}
            </a>
            <button
              [disabled]="sending() || !description.value"
              class="btn btn-primary"
              (click)="go(description.value)"
            >
              <kendo-loader size="small" *ngIf="sending()" />
              <span *ngIf="!sending()">
                {{ "General.Submit" | translate }}
              </span>
              <span *ngIf="sending()">
                {{ "General.Submitting" | translate }}
              </span>
            </button>
          </div>
        </div>
        <div *ngIf="mode() === 'thank-you'" class="card-body tx-center">
          <div class="d-ib mg-t-15 mg-b-15">
            {{ "ProjectUpload.TicketSubmitted" | translate }}
          </div>

          <a
            class="btn btn-primary"
            [routerLink]="['/' + project.owner, 'projects', 'view', project.id]"
          >
            {{ "ProjectUpload.ReturnToProject" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
