<div class="pd-l-15 d-flex flex-flow-col w-100 h-100">
  <div class="tx-bold d-flex ht-40 flex-align-center">
    <span>{{ "General.Description" | translate }}:</span>
  </div>
  <wbs-editor class="flex-fill" cssClass="h-100" [(value)]="proposal" />
  <kendo-buttongroup class="w-100">
    <button
      kendoButton
      class="w-100 pd-8"
      (click)="actionSelected.emit('clear')"
    >
      <fa-icon [icon]="faEraser" />
      {{ "General.Clear" | translate }}
    </button>
    <button
      kendoButton
      class="w-100 pd-8"
      (click)="actionSelected.emit('revert')"
    >
      <fa-icon [icon]="faArrowRotateBack" />
      {{ "General.Revert" | translate }}
    </button>
    <button
      kendoButton
      class="w-100 pd-8"
      (click)="actionSelected.emit('accept')"
    >
      <fa-icon [icon]="faThumbsUp" />
      {{ "General.AcceptAndClose" | translate }}
    </button>
  </kendo-buttongroup>
</div>
