<kendo-dialog
  minWidth="250px"
  [title]="'General.Add' | translate"
  (close)="dialog.close()"
>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="title"> {{ "General.Name" | translate }} </label>
      <input
        #title
        type="text"
        kendoTextBox
        formControlName="title"
        class="form-control"
        required
      />
      @if (form.controls.title.errors?.['required']) {
      <div class="invalid-feedback">
        {{ "General.ErrorNameRequired" | translate }}
      </div>
      }
    </div>
    @if (showDescription()) {
    <div class="form-group">
      <label for="description"> {{ "General.Description" | translate }} </label>
      <input
        #description
        type="text"
        kendoTextBox
        formControlName="description"
        class="form-control"
      />
    </div>
    }
  </form>
  <kendo-dialog-actions>
    <button class="btn btn-warning" (click)="dialog.close()">
      {{ "General.Nevermind" | translate }}
    </button>
    <button class="btn btn-success" [disabled]="!form.valid" (click)="close()">
      {{ "General.Add" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
