<div class="modal-header">
  <h5 class="modal-title" id="modal-title">
    {{ "General.Add" | translate }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (submit)="close()">
    <div class="form-group">
      <label for="title"> {{ "General.Name" | translate }} </label>
      <input
        #title
        type="text"
        kendoTextBox
        formControlName="title"
        class="form-control"
        required
      />
      @if (controls.title.errors?.['required']) {
      <div class="invalid-feedback">Error: Name is required</div>
      }
    </div>
    @if (showDescription) {
    <div class="form-group">
      <label for="description"> {{ "General.Description" | translate }} </label>
      <input
        #description
        type="text"
        kendoTextBox
        formControlName="description"
        class="form-control"
        required
      />
      @if (controls.description.errors?.['required']) {
      <div class="invalid-feedback">Error: Description is required</div>
      }
    </div>
    }
    <div class="modal-footer">
      <button class="btn btn-warning" (click)="modal.dismiss()">
        Nevermind
      </button>
      <button type="submit" class="btn btn-success" [disabled]="!form.valid">
        Add
      </button>
    </div>
  </form>
</div>
