<kendo-dialog width="500px" (close)="dialog.close()">
  <kendo-dialog-titlebar class="bg-gray-200">
    {{ "OrgSettings.SendInvite" | translate }}
  </kendo-dialog-titlebar>
  <div class="container-fluid">
    <div class="row mb-3">
      <label [for]="emails" class="col-sm-2 col-form-label">
        {{ "General.Emails" | translate }}
      </label>
      <div class="col-sm-10">
        <textarea #emails kendoTextArea class="w-100" rows="5"></textarea>
        <div id="emailHelp" class="form-text">
          {{ "OrgSettings.InviteEmailHint" | translate }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">
        {{ "General.Roles" | translate }}
      </label>
      <div class="col-sm-10">
        <kendo-buttongroup selection="multiple">
          @for (role of roles; track role.id) {
          <button
            kendoButton
            size="small"
            [selected]="selectedRoles().includes(role.id)"
            (click)="toggleRole(role.id)"
          >
            {{ role.abbreviation | translate }}
          </button>
          }
        </kendo-buttongroup>
      </div>
    </div>
    @let errorList = errors();
    <!---->
    @if (errorList.length > 0) {
    <div class="row mb-3 tx-danger">
      <label class="col-sm-2">
        {{ "General.Errors" | translate }}
      </label>
      <div class="col-sm-10">
        <p>{{ "OrgSettings.InviteErrorHeader" | translate }}:</p>
        <ul>
          @for (error of errorList; track $index) {
          <li>
            {{ error.email ? error.email + ": " : "" }}
            {{ error.error | translate }}
          </li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
  <kendo-dialog-actions layout="end">
    <wbs-save-button
      saveLabel="OrgSettings.SendInvite"
      savingLabel="OrgSettings.Sending"
      [isSaving]="saveState.isSaving()"
      (click)="submit(emails.value)"
    />
  </kendo-dialog-actions>
</kendo-dialog>
