<div
  class="h-100 w-100 pos-absolute top-0 pd-t-50"
  [ngClass]="{ 'd-none': !loading() }"
>
  <div
    class="h-100 w-100 pd-t-200 text-center op-9"
    style="z-index: 1"
    waitNotify
    [show]="loading()"
    message="General.Loading"
  ></div>
</div>
<div class="container-fluid mg-t-10" style="min-height: 300px">
  @if (timeline(); as timeline) {
  <div class="row">
    <div class="col-lg-12">
      <div class="vtimeline">
        @for (activity of timeline; track activity.id; let i = $index; let odd =
        $odd) {
        <div
          class="timeline-wrapper timeline-wrapper-primary"
          [ngClass]="{ 'timeline-inverted': odd }"
        >
          <div class="timeline-badge success tx-center pd-t-10">
            <i
              class="fa-solid fa-2x tx-white"
              [ngClass]="activity.actionIcon ?? ''"
            ></i>
          </div>
          <div class="timeline-panel bg-white border">
            <div class="timeline-heading">
              <div class="d-flex flex-row-f w-100">
                <div style="flex-grow: 1">
                  <h6 class="timeline-title mb-0 pd-t-3">
                    {{ activity.actionTitle ?? "" | translate }}
                  </h6>
                </div>
                <!--@if (activity.menu && activity.menu.length > 0) {
                <div ngbDropdown class="d-inline-block">
                  <button
                    type="button"
                    id="actionMenu"
                    ngbDropdownToggle
                  >
                    <i class="fa-solid fa-ellipsis"></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="actionMenu">
                    @for (item of activity.menu; track $index) {
                    <button
                      ngbDropdownItem
                      (click)="menuItemClicked.emit(item)"
                    >
                      <i class="fa-solid" [ngClass]="item.icon"></i>
                      &nbsp;
                      {{ item.title | translate }}
                    </button>
                    }
                  </div>
                </div>
                }-->
              </div>
              @if (activity.userId; as userId) {
              <label class="tx-italic tx-10">
                <wbs-user [userId]="userId" [organization]="owner()" />
              </label>
              }
            </div>
            <div class="timeline-body">
              <p>
                {{
                  activity.actionDescription ?? ""
                    | translate
                    | textTransform : activity.data
                }}
              </p>
            </div>
            <div class="timeline-footer d-flex align-items-center flex-wrap">
              <fa-layers
                [fixedWidth]="true"
                size="2x"
                [ngClass]="'pointer'"
                (click)="soon()"
              >
                <fa-icon [icon]="faComment" />
                <fa-layers-text
                  content="0"
                  transform="shrink-10"
                  [ngClass]="'comment-count'"
                />
              </fa-layers>
              <span class="timeline-footer-date ms-auto">
                {{ activity.timestamp | dateText }}
                <!--&nbsp;
                <fa-icon
                  size="1x"
                  [icon]="faCircleInfo"
                  [ngClass]="'pointer'"
                  [title]="(activity.timestamp | date : 'short') ?? ''"
                />-->
              </span>
            </div>
          </div>
        </div>
        }
      </div>
      @if (loaded() && timeline.length < (length() ?? 0)) {
      <div class="w-100 pd-10 tx-center">
        <button
          kendoButton
          themeColor="primary"
          (click)="loadMoreClicked.emit()"
        >
          Load More
        </button>
      </div>
      } @if (loaded() && timeline.length === (length() ?? 0)) {
      <div class="w-100 pd-10 tx-center tx-bold tx-20">The End</div>
      }
    </div>
  </div>
  }
</div>
