<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="wd-40">&nbsp;</th>
      <th scope="col" class="pointer" [sortable]="'invitee'" [state]="state()">
        {{ "OrgSettings.Invitee" | translate }} &nbsp;
        <wbs-sort-arrow [state]="state()" field="invitee" />
      </th>
      <th
        scope="col"
        class="pointer d-md-none d-lg-table-cell"
        [sortable]="'inviter'"
        [state]="state()"
      >
        {{ "OrgSettings.Inviter" | translate }} &nbsp;
        <wbs-sort-arrow [state]="state()" field="inviter" />
      </th>

      <th
        scope="col"
        class="pointer d-md-none d-lg-table-cell"
        [sortable]="'createdAt'"
        [state]="state()"
      >
        {{ "OrgSettings.TimeSent" | translate }} &nbsp;
        <wbs-sort-arrow [state]="state()" field="createdAt" />
      </th>

      <th
        scope="col"
        class="pointer d-md-none d-lg-table-cell"
        [sortable]="'expiredAt'"
        [state]="state()"
      >
        {{ "OrgSettings.TimeTilExpires" | translate }} &nbsp;
        <wbs-sort-arrow [state]="state()" field="expiredAt" />
      </th>

      <th scope="col">{{ "General.Roles" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    @for (invite of invites() | tableProcess : state(); track invite.id) {
    <tr>
      <td>
        <wbs-action-icon-list
          size="small"
          fillMode="link"
          [mainIcon]="faGear"
          [menuItems]="menu"
        />
      </td>
      <td class="d-md-none d-lg-table-cell">{{ invite.invitee }}</td>
      <td class="d-md-none d-lg-table-cell">{{ invite.inviter }}</td>
      <td>{{ invite.createdAt | dateText }}</td>

      @if (invite.expiresAt | isExpired) {
      <td class="tx-danger-f">{{ "General.Expired" | translate }}</td>
      } @else {
      <td>
        {{ invite.expiresAt | dateText : true }}
      </td>
      }
      <td>{{ invite.roles | roleList : true }}</td>
    </tr>
    }
  </tbody>
</table>
