@if (member(); as member) {
<kendo-dialog [title]="'OrgSettings.EditMember' | translate">
  <div class="container-fluid">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">
        {{ "General.Name" | translate }}
      </label>
      <div class="col-sm-10">
        <input
          disabled
          type="text"
          class="form-control"
          [value]="member.name"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">
        {{ "General.Email" | translate }}
      </label>
      <div class="col-sm-10">
        <input
          disabled
          type="text"
          class="form-control"
          [value]="member.email"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">
        {{ "General.Roles" | translate }}
      </label>
      <div class="col-sm-10">
        <kendo-buttongroup selection="multiple">
          @for (role of this.roles; track role.id) {
          <button
            kendoButton
            size="small"
            [selected]="member.roles.includes(role.id)"
            (click)="toggleRole(role.id)"
          >
            {{ role.abbreviation | translate }}
          </button>
          }
        </kendo-buttongroup>
      </div>
    </div>
  </div>

  <kendo-dialog-actions layout="end">
    <button kendoButton size="small" (click)="dialog.close()">
      {{ "General.Close" | translate }}
    </button>
    <button
      kendoButton
      size="small"
      themeColor="primary"
      (click)="dialog.close(member)"
    >
      {{ "General.Save" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
}
