<div class="w-100 text-center">
  <fa-icon [icon]="faQuestion" size="5x" />
  <h3 class="pd-t-20">{{ "ProjectUpload.Options" | translate }}</h3>
  <p class="pd-t-20">
    {{ "General.OptionsMessage" | translate }}
  </p>
  <div class="d-ib">
    <button
      type="button"
      class="btn btn-primary mg-r-10"
      (click)="select('overwrite')"
    >
      {{ "General.Overwrite" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-primary mg-l-10"
      (click)="select('append')"
    >
      {{ "General.Append" | translate }}
    </button>
  </div>
</div>
