<div class="w-100 text-center">
  <fa-icon [icon]="faQuestion" size="5x" />
  <h3 class="pd-t-20">Options</h3>
  <p class="pd-t-20">
    Do you want to overwrite any existing project plan with the uploaded one or
    append to the end?
  </p>
  <div class="display-ib">
    <button
      type="button"
      class="btn btn-primary mg-r-10"
      (click)="select('overwrite')"
    >
      Overwrite
    </button>
    <button
      type="button"
      class="btn btn-primary mg-l-10"
      (click)="select('append')"
    >
      Append
    </button>
  </div>
</div>
