<ng-template [ngIf]="current$ | async" let-current>
  <app-page-header
    *ngIf="project$ | async; let project"
    title="TASK DETAILS"
    [items]="[
      { route: ['/projects', 'list', 'my'], label: 'General.Projects' },
      { route: ['/projects', project.id, 'view'], label: project.title }
    ]"
    [active_item]="current.title!"
  ></app-page-header>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card custom-card">
        <div class="card-body display-flex">
          <div class="wd-100 tx-center edit-pencil-parent">
            <span class="fa-layers fa-6x">
              <i class="fa-solid fa-square"></i>
              <i
                class="fa-solid fa-diagram-subtask fa-inverse"
                data-fa-transform="shrink-7"
              ></i>
            </span>
          </div>
          <div class="display-flex flex-row w-100">
            <div style="flex-grow: 1">
              <wbs-title-editor
                [title]="current.title"
                (titleChange)="saveTitle($event)"
              ></wbs-title-editor>
              <p class="tx-13 text-muted ms-md-4 ms-0 mb-2 pb-2">
                <label class="me-3" *ngFor="let disc of current.disciplineIds">
                  <i class="fa-solid" [ngClass]="disc | disciplineIcon"></i>
                  {{ disc | categoryLabel }}
                </label>
              </p>
            </div>
            <app-project-action-menu
              [menu]="actions"
              (itemClicked)="actionClicked($event)"
            ></app-project-action-menu>
          </div>
        </div>
        <div class="card-footer py-0">
          <div class="profile-tab tab-menu-heading border-bottom-0">
            <ul
              ngbNav
              class="main-nav-line p-0 tabs-menu profile-nav-line border-0 br-5 mb-0"
              [activeId]="pageView$ | async"
            >
              <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
                <a ngbNavLink [routerLink]="['../', link.fragment]">
                  {{ link.title | translate }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pageView$ | async; let pageView" class="row row-sm">
    <div class="col-lg-12 col-md-12">
      <div class="custom-card main-content-body-profile">
        <div class="main-content-body tab-pane">
          <div class="card">
            <div class="card-body p-0 border-0 p-0 rounded-10">
              <wbs-task-about
                *ngIf="pageView === 'about'"
                [current]="current$ | async"
                [discipline]="viewDiscipline$ | async"
                [phase]="viewPhase$ | async"
                [subTasks]="subTasks$ | async"
              >
              </wbs-task-about>
              <wbs-task-sub-tasks
                *ngIf="pageView === 'sub-tasks'"
                [subTasks]="subTasks$ | async"
                [project]="project$ | async"
                [width]="width$ | async"
              ></wbs-task-sub-tasks>
            </div>
            <div *ngIf="pageView === 'timeline'" class="pane-content">
              <wbs-timeline [timeline]="timeline$ | async"></wbs-timeline>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
