@if (loaded()) {
<div class="w-100 text-center pd-t-50">
  <wbs-loading
    [message]="
      'General.LoadingItem' | translate | textTransform : { item: recordId }
    "
  />
</div>
} @else { @if (store.project(); as project) {
<div class="d-flex flex-column h-100">
  <div class="mg-y-5">
    <div class="d-flex flex-align-center gap-10">
      <wbs-action-button
        [menu]="menu()"
        rounded="small"
        buttonClass="mg-y-4"
        (itemClicked)="menuService.handleAction($event)"
      />
      @if (project.category | projectCategoryIcon; as url) {
      <div class="wd-50 tx-center">
        <img
          [src]="url"
          [title]="project.category | projectCategoryLabel"
          class="wd-30 h-auto"
        />
      </div>
      }
      <span class="tx-20 tx-medium mg-r-10">
        {{ project.title }}
      </span>
      <!--@if (approvalEnabled()) {
      <wbs-approval-badge
        [approval]="approvals() | findById : 'project-title'"
      />
    }-->
    </div>
  </div>

  <div class="flex-fill">
    <router-outlet />
  </div>
  <!--
  @if (store.isApprovalEnabled() && approvalView() === 'project' && approval();
  as approval) {
  <wbs-project-approval-window
    [approval]="approval"
    [claims]="claims"
    [userId]="userId()"
    [owner]="project.owner"
    [isReadyOnly]="project.status !== 'approval'"
    [chat]="chat() ?? []"
    [hasChildren]="approvalHasChildren()!"
  />
  }-->
</div>
<!--<wbs-project-checklist-modal #checklist />  -->
} }
