@if (projectStore.project(); as project) {
<div class="d-flex flex-column h-100">
  <div class="mg-y-5">
    <div class="d-flex flex-align-center">
      <wbs-action-button
        [menu]="menu()"
        (itemClicked)="menuService.handleAction($event)"
      />
      @if (project.category | projectCategoryIcon; as url) {
      <div class="wd-50 tx-center">
        <img
          [src]="url"
          [title]="project.category | projectCategoryLabel"
          class="wd-30 h-auto"
        />
      </div>
      }
      <span class="tx-20 tx-medium mg-r-10">
        {{ project.title }}
      </span>
      <!--@if (approvalEnabled()) {
      <wbs-approval-badge
        [approval]="approvals() | findById : 'project-title'"
      />
    }-->
      <wbs-fading-message
        [icon]="checkIcon"
        message="General.Saved"
        [show]="titleSaveState() === 'saved'"
        cssClass="tx-success tx-14"
      />
    </div>
  </div>

  <div class="flex-fill">
    <router-outlet />
  </div>
  <!--
  @if (store.isApprovalEnabled() && approvalView() === 'project' && approval();
  as approval) {
  <wbs-project-approval-window
    [approval]="approval"
    [claims]="claims"
    [userId]="userId()"
    [owner]="project.owner"
    [isReadyOnly]="project.status !== 'approval'"
    [chat]="chat() ?? []"
    [hasChildren]="approvalHasChildren()!"
  />
  }-->
</div>
<wbs-project-checklist-modal #checklist />
}
