<div class="pd-l-15 d-flex flex-flow-col w-100 h-100">
  <div class="tx-bold d-flex ht-40 flex-align-center">
    <span>{{ "General.Description" | translate }}:</span>
  </div>
  <wbs-editor class="flex-fill" cssClass="h-100" [(value)]="proposal" />
  <kendo-buttongroup>
    <button
      kendoButton
      class="pd-8 w-100"
      (click)="actionSelected.emit('clear')"
    >
      <fa-icon [icon]="faEraser" class="mg-r-5" />
      Clear
    </button>
    <button
      kendoButton
      class="pd-8 w-100"
      (click)="actionSelected.emit('revert')"
    >
      <fa-icon [icon]="faArrowRotateBack" class="mg-r-5" />
      Revert
    </button>
    <button
      kendoButton
      class="pd-8 w-100"
      (click)="actionSelected.emit('accept')"
    >
      <fa-icon [icon]="faThumbsUp" class="mg-r-5" />
      Accept & Close
    </button>
  </kendo-buttongroup>
</div>
