<app-page-header title="Drag & Drop Demo"></app-page-header>
<div class="row row-sm">
  <div class="col-lg-12">
    <div class="card custom-card">
      <div class="card-body">
        <div
          *ngIf="view$ | async; let view"
          class="table-responsive deleted-table"
        >
          <kendo-splitter orientation="horizontal">
            <kendo-splitter-pane [collapsible]="false">
              <div class="pane-content" *ngIf="project$ | async; let project">
                <wbs-phase-tree
                  *ngIf="view === 'phase'"
                  [nodes]="nodes$ | async"
                  [project]="project"
                  [toolbar]="toolbar"
                  (selectedChanged)="nodeSelected(project, $event)"
                >
                </wbs-phase-tree>
                <wbs-discipline-tree
                  *ngIf="view === 'discipline'"
                  [nodes]="nodes$ | async"
                  [project]="project"
                  [toolbar]="toolbar"
                  (selectedChanged)="nodeSelected(project, $event)"
                >
                </wbs-discipline-tree>
              </div>
            </kendo-splitter-pane>

            <kendo-splitter-pane *ngIf="show$ | async" min="300px" size="40%">
              <div class="editor-body" appFillElement>
                <ng-template [ngIf]="node$ | async" let-node>
                  <div class="header-panel">
                    <div class="header-label">
                      <wbs-node-editor-categories></wbs-node-editor-categories>
                    </div>
                    <div class="header-actions">
                      <wbs-node-actions-menu
                        (menuClicked)="menuClicked($event)"
                      ></wbs-node-actions-menu>
                    </div>
                  </div>
                  <div appFillElement class="main-panel">
                    <wbs-node-editor></wbs-node-editor>
                  </div>
                </ng-template>
              </div>
            </kendo-splitter-pane>
          </kendo-splitter>
        </div>
      </div>
    </div>
  </div>
</div>
<wbs-node-delete-dialog
  [open]="showDeleteDialog"
  (nodeDeleted)="nodeDeleted($event)"
></wbs-node-delete-dialog>
<ng-template #toolbar>
  <kendo-buttongroup selection="single" *ngIf="view$ | async; let view">
    <button
      kendoButton
      [toggleable]="true"
      [selected]="view === 'phase'"
      (click)="viewChanged('phase')"
    >
      {{ 'Wbs.Phase' | translate }}
    </button>
    <button
      kendoButton
      [toggleable]="true"
      [selected]="view === 'discipline'"
      (click)="viewChanged('discipline')"
    >
      {{ 'Wbs.Discipline' | translate }}
    </button>
  </kendo-buttongroup>
</ng-template>
