<div
  class="display-flex flex-flow-col flex-align-stretch"
  appFillElement
  [paddingBottom]="20"
>
  <div class="pd-b-10" style="flex: 0 1 40px">
    <div class="display-ib wd-50p text-end pd-r-20">
      <button
        *ngIf="hideUnselected$.getValue()"
        class="btn btn-outline-primary"
        (click)="hideUnselected$.next(false)"
      >
        <fa-icon [icon]="faEye"></fa-icon>
        Show Unselected Phases
      </button>
      <button
        *ngIf="!hideUnselected$.getValue()"
        class="btn btn-outline-primary"
        (click)="hideUnselected$.next(true)"
      >
        <fa-icon [icon]="faEyeSlash"></fa-icon>
        Hide Unselected Phases
      </button>
    </div>
    <div class="display-ib wd-50p text-start pd-l-20">
      <button class="btn btn-outline-primary" (click)="showCreate()">
        <fa-icon [icon]="faPlus"></fa-icon>
        Add Custom Phase
      </button>
    </div>
  </div>
  <div class="scroll mg-b-10" style="flex: 1 1 auto">
    <kendo-sortable
      [kendoSortableBinding]="(cats$ | async) ?? []"
      [ngClass]="'list-group display-ib text-start wd-600'"
      [itemStyle]="{ cursor: 'move' }"
      [itemClass]="'opacity-1'"
      [emptyItemStyle]="{ height: '30px', border: '2px dashed black' }"
      [activeItemStyle]="{ border: '2px dashed black', opacity: '0.7' }"
      zone="innerZone"
      (dataMove)="changed()"
      (dragEnd)="changed()"
    >
      <ng-template let-cat="item">
        <div
          *ngIf="!(hideUnselected$ | async) || cat.selected"
          class="list-group-item d-flex flex-row"
        >
          <div class="pd-t-12 wd-60 ht-40">
            <fa-layers [fixedWidth]="true">
              <fa-icon size="3x" [icon]="faCircle"></fa-icon>
              <fa-layers-text
                *ngIf="cat.selected"
                [content]="cat.number!.toString()"
                transform="right-14"
              ></fa-layers-text>
            </fa-layers>
          </div>
          <div class="flex-grow-1">
            <div style="font-size: 16px">
              {{ cat.label }}
            </div>
            <div style="font-size: 12px; font-style: italic">
              {{ cat.description }}
            </div>
          </div>
          <div class="pd-t-5">
            <kendo-switch
              [(ngModel)]="cat.selected"
              (ngModelChange)="changed()"
            >
            </kendo-switch>
          </div>
        </div>
      </ng-template>
    </kendo-sortable>
  </div>
  <div class="w-100 text-center" style="flex: 0 1 20px">
    <div class="display-ib wd-600">
      <app-project-create-footer view="bc" (continueClicked)="nav()">
      </app-project-create-footer>
    </div>
  </div>
</div>
