<div class="d-flex">
  <div class="border-end pd-r-20 d-none d-lg-block">
    <div class="wd-250">
      <wbs-project-list-filters
        position="side"
        [(stati)]="stati"
        [(search)]="search"
        [(categories)]="categories"
        [(assignedToMe)]="assignedToMe"
      />
    </div>
  </div>
  <div class="mg-t-20 mg-b-16 flex-grow-1">
    <div class="container-fluid">
      <div class="row mg-b-15 d-none d-lg-flex">
        <div class="col-12 d-flex gap-20">
          <button
            kendoButton
            size="small"
            themeColor="dark"
            (click)="launchCreateProject()"
          >
            <fa-icon [icon]="plusIcon" class="mg-r-5" />
            {{ "General.Create" | translate }}
          </button>
          <wbs-project-view-toggle
            [view]="view()"
            (viewChange)="setView($event)"
          />
        </div>
      </div>
      <div class="row mg-b-15 d-lg-none flex-align-center">
        <div class="col-12 d-flex gap-20">
          <button
            kendoButton
            size="small"
            themeColor="dark"
            (click)="filterToggle.set(!filterToggle())"
          >
            <fa-icon [icon]="filterIcon" />
          </button>

          <button
            kendoButton
            size="small"
            themeColor="dark"
            (click)="launchCreateProject()"
          >
            <fa-icon [icon]="plusIcon" class="d-none d-sm-inline mg-r-5" />
            {{ "General.Create" | translate }}
          </button>
          <wbs-project-view-toggle
            [view]="view()"
            (viewChange)="setView($event)"
          />
        </div>
      </div>
      @if (filterToggle()) {
      <div class="row mg-b-15 d-lg-none">
        <div class="col-12">
          <wbs-project-list-filters
            position="top"
            [(stati)]="stati"
            [(search)]="search"
            [(categories)]="categories"
            [(assignedToMe)]="assignedToMe"
          />
        </div>
      </div>
      } @if (filteredList(); as projects) { @if (!loading() && projects.length
      === 0) {
      <div class="row">
        <div class="col-12 pd-t-100 tx-20 tx-center">
          <fa-icon [icon]="cactusIcon" size="2xl" />
          <br />
          <br />
          {{ "Projects.NoProjectsFound" | translate }}
        </div>
      </div>
      } @else if (view() === 'grid') {
      <div class="row">
        <div class="col-12">
          <wbs-project-grid [projects]="projects" />
        </div>
      </div>
      } @else {
      <div class="row">
        <div class="col-12">
          <!-- <app-tree-list-example /> -->
          <wbs-project-table [projects]="projects" />
        </div>
      </div>
      } }
    </div>
  </div>
</div>
