<div class="d-flex flex-column h-100">
  <div class="pe-none">
    <kendo-stepper
      [linear]="true"
      stepType="full"
      [steps]="steps()"
      [currentStep]="view()"
    >
      <ng-template kendoStepperIndicatorTemplate let-step>
        @if (step.icon) { <fa-icon [icon]="step.icon" /> }
      </ng-template>
      <ng-template kendoStepperLabelTemplate let-step>
        <div [ngClass]="stepLabelClass()">
          {{ step.label | translate }}
          @if (step.isOptional) { <span class="mg-l-5">*</span> }
        </div>
      </ng-template>
    </kendo-stepper>
  </div>
  <div [appScrollToTop]="view()" class="tx-center flex-fill pd-t-20 pd-x-10">
    <div
      [ngClass]="headerLabelClass()"
      class="w-100 text-center fw-bold pd-y-10 border-top border-bottom d-block d-lg-none mg-b-10"
    >
      {{ steps()[view()].label | translate }}
    </div>
    <ng-content />
  </div>
</div>
