<div class="d-flex flex-flow-col h-100">
  <div class="mg-t-10 tx-center w-100 flex-fill scroll">
    @if (isLoading()) {
    <div class="w-100 mg-t-50">
      <fa-duotone-icon [icon]="faSpinner" size="5x" [spin]="true" />
      <h3 class="pd-t-20">
        {{ "General.Loading" | translate }}
      </h3>
    </div>
    } @else {
    <wbs-project-roles
      [members]="members()"
      [approverIds]="approverIds()"
      [pmIds]="pmIds()"
      [smeIds]="smeIds()"
      [mustConfirm]="false"
      [approvalEnabled]="approvalEnabled()!"
      (addUserToRole)="add($event.role, $event.user.id)"
      (removeUserToRole)="remove($event.role, $event.user.id)"
    />
    }
  </div>
  <wbs-wizard-footer
    view="bc"
    [disableContinue]="pmIds().length === 0"
    (backClicked)="back()"
    (continueClicked)="continue()"
  />
</div>
