<kendo-dialog
  height="80%"
  width="80%"
  [title]="'LibraryCreate.TitleProject' | translate"
  (close)="dialog.close()"
>
  <div class="d-flex flex-column h-100">
    <kendo-stepper
      [steps]="steps"
      stepType="full"
      [(currentStep)]="view"
      [linear]="false"
    >
      <ng-template kendoStepperIndicatorTemplate let-step>
        @if (step.icon) { <fa-icon [icon]="step.icon" /> }
      </ng-template>
      <ng-template kendoStepperLabelTemplate let-step>
        {{ step.label | translate }}
        @if (step.isOptional) { <span class="mg-l-5">*</span> }
      </ng-template>
    </kendo-stepper>
    <div
      [appScrollToTop]="view()"
      class="tx-center flex-fill pd-t-20 pd-x-10 scroll"
    >
      @if (loading()) {
      <div class="w-100 mg-t-50">
        <fa-duotone-icon [icon]="faSpinner" size="5x" [spin]="true" />
        <h3 class="pd-t-20">
          {{ "General.Loading" | translate }}
        </h3>
      </div>
      } @else if (view() === 0) {
      <div
        class="d-inline-block w-100 mx-wd-800 tx-left animate__animated"
        [ngClass]="{ animate__slideInLeft: dir() === 'left' }"
      >
        <div class="pd-x-12 mb-3">
          <label for="templateTitle" class="form-label tx-18">
            Project Title
          </label>
          <input
            kendoTextBox
            name="templateTitle"
            id="templateTitle"
            [(ngModel)]="projectTitle"
          />
          <label class="d-inline-block tx-12 tx-italic mg-t-5">
            {{ "LibraryCreate.TemplateTitleDescriptionPhase" | translate }}
          </label>
        </div>
        <div class="pd-x-12">
          <label class="form-label tx-18">
            {{ "LibraryCreate.ProjectCategory" | translate }}
          </label>
          <wbs-project-category-dropdown [(category)]="category" />
        </div>
      </div>
      } @else if (view() === 1) {

      <div
        class="d-inline-block w-100 mx-wd-800 text-center animate__animated"
        [ngClass]="{
          animate__slideInLeft: dir() === 'left',
          animate__slideInRight: dir() === 'right'
        }"
      >
        <div class="pd-y-15 pd-x-30 tx-14">
          {{ "LibraryCreate.DisciplinesHeader" | translate }}
        </div>
        <div class="d-inline-block w-100" style="max-width: 500px">
          <wbs-discipline-editor
            [showAdd]="true"
            [(categories)]="disciplines"
          />
        </div>
      </div>
      } @else if (view() === 2) {

      <div
        class="d-inline-block w-100 text-center animate__animated"
        [ngClass]="{
          animate__slideInLeft: dir() === 'left',
          animate__slideInRight: dir() === 'right'
        }"
      >
        <div class="pd-y-15 pd-x-30 tx-14">
          {{ "General.Roles" | translate }}
        </div>
        <div class="d-inline-block w-100" style="max-width: 800px">
          <wbs-roles-section
            [(pmIds)]="pmIds"
            [(smeIds)]="smeIds"
            [(approverIds)]="approverIds"
            [approvalEnabled]="approvalEnabled()"
            [members]="members()"
          />
        </div>
      </div>
      } @else if (view() === 3) {

      <div
        class="d-inline-block w-100 mx-wd-800 animate__animated"
        [ngClass]="{
          animate__slideInLeft: dir() === 'left',
          animate__slideInRight: dir() === 'right'
        }"
      >
        <wbs-save-section
          [owner]="owner()!"
          [tasks]="tasks()"
          [newId]="newId"
          [pmIds]="pmIds()"
          [smeIds]="smeIds()"
          [approverIds]="approverIds()"
          [members]="members()"
          [approvalEnabled]="approvalEnabled()"
          [category]="(categories | findById : category()!)!"
          [disciplines]="disciplines()"
          [templateTitle]="projectTitle()"
          (done)="dialog.close(newId)"
        />
      </div>
      }
    </div>
  </div>

  <kendo-dialog-actions>
    @if (!loading()) {
    <div class="flex-grow-1 text-start">
      @if (view() > 0) {
      <button class="btn btn-warning" (click)="back()">
        {{ "General.Back" | translate }}
      </button>
      }
    </div>
    <div class="flex-grow-1 text-end">
      @if (view() < 3) {
      <button
        class="btn btn-primary"
        [disabled]="!canContinue()"
        (click)="next()"
      >
        {{ nextButtonLabel() | translate }}
      </button>
      }
    </div>
    }
  </kendo-dialog-actions>
</kendo-dialog>
