<div class="container-fluid">
  <div class="row row-sm">
    <div class="offset-lg-1 col-lg-4 col-md-6 col-sm-6">
      <div class="card tx-center border-1 bd-primary">
        <div class="card-body">
          <img
            class="wd-40 hd-40"
            src="https://imagedelivery.net/UNpURFLvIIdmk6NSmOg2Rg/03938691-2f23-4e7c-0637-252c5d95ee00/icon"
            alt="Library"
          />
          <h5 class="mg-t-10">
            {{ "ProjectCreate.PhaseFirst_Title" | translate }}
          </h5>
          <p class="card-text ht-60">
            {{ "ProjectCreate.PhaseFirst_Description" | translate }}
          </p>
          <button class="btn btn-primary w-100" (click)="phase()">
            {{ "General.Select" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="offset-lg-1 col-lg-4 col-md-6 col-sm-6">
      <div class="card tx-center border-1 bd-primary">
        <div class="card-body">
          <img
            class="wd-40 hd-40"
            src="https://imagedelivery.net/UNpURFLvIIdmk6NSmOg2Rg/3e3bdaa1-584a-453b-d0bb-c177698bd400/icon"
            alt="Library"
          />
          <h5 class="mg-t-10">
            {{ "ProjectCreate.DisciplineFirst_Title" | translate }}
          </h5>
          <p class="card-text ht-60">
            {{ "ProjectCreate.DisciplineFirst_Description" | translate }}
          </p>
          <button class="btn btn-primary w-100">Coming Soon...</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-project-create-footer view="b-c"></app-project-create-footer>
