<ng-template [ngIf]="project$ | async" let-project>
  <wbs-page-header
    title="PROJECT DETAILS"
    [items]="[{ route: '', label: 'General.Projects' }]"
    [active_item]="project.title"
  />
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card custom-card">
        <div class="card-body display-flex">
          <div class="wd-100 tx-center pd-t-15 edit-pencil-parent">
            <img
              *ngIf="project.category | categoryIcon; let url"
              [src]="url"
              class="wd-70 h-auto"
            />
          </div>
          <div class="display-flex flex-row w-100">
            <div style="flex-grow: 1">
              <h4
                kendoTooltip
                filter="a"
                class="edit-pencil-parent ms-md-4 ms-0 mb-1 pb-0"
              >
                {{ project.title }}
              </h4>
              <p class="tx-13 text-muted ms-md-4 ms-0 mb-2 pb-2">
                <label
                  class="me-3"
                  *ngFor="let disc of project.categories.discipline"
                >
                  <i class="fa-solid" [ngClass]="disc | disciplineIcon"></i>
                  {{ disc | categoryLabel }}
                </label>
              </p>

              <p class="text-muted ms-md-4 ms-0 mb-2">
                <span class="tx-semibold display-ib wd-80 tx-right mg-r-10">
                  {{ "General.Category" | translate }} :
                </span>
                <span class="edit-pencil-parent">
                  {{ project.category | categoryLabel }}
                  <wbs-edit-pencil class="pos-relative t--5" placeholder="Projects.EditProjectCategory" />
                </span>
              </p>
              <p class="text-muted ms-md-4 ms-0 mb-2">
                <span class="tx-semibold display-ib wd-80 tx-right mg-r-10">
                  {{ "General.Status" | translate }} :
                </span>
                <span>
                  {{ project.status | projectStatus }},
                  {{ project.lastModified | editedDateText | lowercase }}
                </span>
              </p>
            </div>
          </div>
          <div class="my-md-auto mt-4 prof-details"></div>
        </div>
        <div class="card-footer py-0">
          <div class="profile-tab tab-menu-heading border-bottom-0">
            <ul
              ngbNav
              class="main-nav-line p-0 tabs-menu profile-nav-line border-0 br-5 mb-0"
              [activeId]="pageView$ | async"
            >
            <ng-template ngFor [ngForOf]="links" let-link>
              <li *ngIf="!link.children" [ngbNavItem]="link.fragment">
                <a ngbNavLink [routerLink]="['./', link.fragment]">
                  {{ link.title | translate }}
                </a>
              </li>
              <li *ngIf="link.children" ngbDropdown class="nav-item" role="presentation">
                <a class="nav-link" [class.active]="link.fragment === (pageView$ | async)" ngbDropdownToggle> {{ link.title | translate }} </a>
                <div ngbDropdownMenu>
                  <a ngbDropdownItem *ngFor="let child of link.children" [routerLink]="['./', link.fragment, child.fragment]">
                    {{ child.title | translate }}
                  </a>
                </div>
              </li>
            </ng-template>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</ng-template>
