<div class="card mg-t-20">
  <div class="card-body display-flex">
    <div class="wd-50 tx-center">
      <img
        *ngIf="category() | categoryIcon; let url"
        [src]="url"
        class="wd-30 h-auto"
      />
    </div>
    <h4 class="w-100 pd-5 mg-b-0">
      {{ title() }}
    </h4>
  </div>
  <div class="card-footer py-0">
    <ul ngbNav [activeId]="pageView$ | async" class="tx-14 tx-medium">
      <ng-template ngFor [ngForOf]="links" let-link>
        <li *ngIf="!link.children" [ngbNavItem]="link.fragment">
          <a
            ngbNavLink
            [routerLink]="['./', link.fragment]"
            class="pd-y-5 pd-x-20"
          >
            {{ link.title | translate }}
          </a>
        </li>
        <li
          *ngIf="link.children"
          ngbDropdown
          class="nav-item"
          role="presentation"
        >
          <a
            class="nav-link pd-y-5 pd-x-20 pointer"
            [class.active]="link.fragment === (pageView$ | async)"
            ngbDropdownToggle
          >
            {{ link.title | translate }}
          </a>
          <div ngbDropdownMenu>
            <a
              ngbDropdownItem
              *ngFor="let child of link.children"
              [routerLink]="['./', link.fragment, child.fragment]"
            >
              {{ child.title | translate }}
            </a>
          </div>
        </li>
      </ng-template>
    </ul>
  </div>
</div>
<div class="card">
  <div
    class="card-body border-0 p-0 rounded-10 scroll"
    appFillElement
    [paddingBottom]="15"
  >
    <router-outlet />
  </div>
</div>
