@let list = tasks();
<kendo-treelist
  #treelist
  class="tx-12"
  kendoTreeListExpandable
  kendoTreeListSelectable
  [kendoTreeListFlatBinding]="list"
  parentIdField="parentId"
  idField="id"
  [rowHeight]="rowHeight"
  [pageSize]="pageSize()"
  [height]="containerHeight() - heightOffset"
  scrollable="virtual"
  [navigable]="true"
  [initiallyExpanded]="false"
  [(expandedKeys)]="treeService.expandedKeys"
>
  <ng-template kendoTreeListToolbarTemplate>
    <div class="w-100 d-flex flex-wrap row-column gap-10">
      <wbs-tree-type-button [(view)]="view" />
      <wbs-abs-button [(view)]="wbsAbs" />
      <wbs-tree-buttons-toggler
        (collapse)="treeService.collapseAll(treelist, list, 'id')"
        (expand)="treeService.expandAll(list, 'id')"
      />
      @if (!isFullscreen()) {
      <wbs-tree-buttons-fullscreen (click)="goFullScreen.emit()" />
      }
    </div>
  </ng-template>
  <kendo-treelist-column
    [expandable]="true"
    field="title"
    class="child-hoverer tree-column"
    headerClass="tx-14"
    [title]="'Wbs.Activity_Title' | translate"
  >
    <ng-template kendoTreeListCellTemplate let-dataItem>
      {{ dataItem.levelText }}&nbsp;-&nbsp;{{ dataItem.title }}
    </ng-template>
  </kendo-treelist-column>
</kendo-treelist>
