@if (current(); as task) {
<div class="p-4">
  <h4 class="tx-15-f text-uppercase mb-3">
    {{ "Projects.BasicInformation" | translate }}
  </h4>
  <p class="text-muted ms-md-4 ms-0 mb-2">
    <span class="tx-semibold d-ib wd-100 tx-right mg-r-10">
      {{ "General.Level" | translate }} :
    </span>
    <span>
      {{ task.levelText }}
    </span>
  </p>
  <p class="text-muted ms-md-4 ms-0 mb-2">
    <span class="tx-semibold d-ib wd-100 tx-right mg-r-10">
      {{ "General.Parent" | translate }} :
    </span>
    @if (!task.parent){
    <span>
      {{ "General.None" | translate }}
    </span>
    } @if (task.parent; as parent) {
    <a
      class="text-decoration-none"
      [routerLink]="['../../', parent.id, 'about']"
    >
      {{ parent.title }}
    </a>
    }
  </p>
  <p class="text-muted ms-md-4 ms-0 mb-2">
    <span class="tx-semibold d-ib wd-100 tx-right mg-r-10">
      {{ "General.LastModified" | translate }} :
    </span>
    <span>
      {{ task.lastModified | dateText }}
    </span>
  </p>
  <p class="text-muted ms-md-4 ms-0 mb-2">
    <span class="tx-semibold d-ib wd-80 tx-right mg-r-10">
      {{ "General.Disciplines" | translate }} :
    </span>
    @if (task.disciplines.length > 0) {
    <span class="d-ib pd-l-3">
      @for (disc of task.disciplines; track $index){
      <label class="me-3">
        <i class="fa-solid" [ngClass]="disc | disciplineIcon"></i>
        {{ disc | categoryLabel | translate }}
      </label>
      }
    </span>
    } @else {
    <span class="d-ib pd-l-3">
      <span class="text-danger">
        <fa-icon [icon]="faTriangleExclamation" />
        {{ "Projects.NoDisciplines" | translate }}
      </span>
      @if (isPlanning() && (claims | check : canEditClaim)){
      <a
        class="btn btn-small btn-dark pd-y-1 pd-x-8 mg-l-10"
        [routerLink]="['../', 'settings', 'disciplines']"
      >
        <fa-icon [icon]="faTools" size="sm" />
        {{ "Projects.Fix" | translate }}
      </a>
      }
    </span>
    }
  </p>
</div>
<div class="border-top"></div>
<div class="p-4">
  <h4 class="tx-15-f text-uppercase mb-3">
    {{ "General.Description" | translate }}
  </h4>
  @if (task.description) {
  <div [innerHTML]="task.description | safeHtml"></div>
  } @else {
  <div class="w-100 text-center ms-md-4 ms-0 tx-14">
    <span class="text-danger">
      <fa-icon [icon]="faTriangleExclamation" />
      {{ "Projects.NoDescription" | translate }}
    </span>
    @if (isPlanning() && (claims | check : canEditClaim)) {
    <a
      class="btn btn-small btn-dark pd-y-1 pd-x-8 mg-l-10"
      [routerLink]="['../', 'settings', 'general']"
    >
      <fa-icon [icon]="faTools" size="xs" />
      {{ "Projects.Fix" | translate }}
    </a>
    }
  </div>
  }
</div>

<div class="border-top"></div>
<div class="p-4">
  <h4 class="tx-15-f text-uppercase mb-3">
    {{ "General.Statistics" | translate }}
  </h4>
  <div class="d-flex">
    <wbs-project-statistic
      [stat]="task.subTasks.length"
      [label]="'# of Sub-Tasks'"
    />
    <wbs-project-statistic [stat]="task.levels.length" [label]="'Depth'" />
  </div>
</div>
}
