<div class="modal-header">
  <h4 class="modal-title">Invite Users</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('')"
  ></button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row mb-3">
      <label for="emails" class="col-sm-2 col-form-label">
        {{ "General.Emails" | translate }}
      </label>
      <div class="col-sm-10">
        <input
          #emails
          type="text"
          class="form-control"
          [autocomplete]="false"
        />
        <div id="emailHelp" class="form-text">
          {{ "OrgSettings.InviteEmailHint" | translate }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">
        {{ "General.Roles" | translate }}
      </label>
      <div class="col-sm-10">
        <div class="btn-group">
          <button
            *ngFor="let role of roleList()"
            class="btn"
            [ngClass]="{
              'btn-primary': roles.includes(role.id),
              'btn-outline-primary': !roles.includes(role.id),
            }"
            (click)="toggleRole(role.id)"
          >
            {{ role.abbreviation | translate }}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="errors.length > 0" class="row mb-3">
      <label class="col-sm-2 col-form-label">
        {{ "General.Errors" | translate }}
      </label>
      <div class="col-sm-10">
        <p>{{ "OrgSettings.InviteErrorHeader" | translate }}:</p>
        <ul class="tx-danger">
          <li *ngFor="let error of errors">
            {{ error.email ? error.email + ": " : "" }}
            {{ error.error | translate }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="modal.dismiss('')"
  >
    {{ "General.Close" | translate }}
  </button>
  <button type="button" class="btn btn-primary" (click)="submit(emails.value)">
    {{ "OrgSettings.SendInvite" | translate }}
  </button>
</div>
