@import "../../../../styles/variables";

.ai-chat-panel {
  .k-expander-header {
    padding-block: 0.2rem;
    background-color: #eeeeee;
  }
  .k-expander-title {
    color: black;
    font-size: 12px;
  }

  .content {
    height: 70vh;

    .ai-chat {
      height: 100%;
      min-width: 400px;
    }
  }
}

.ai-action-popup {
  .k-item:focus,
  .k-item.k-focus {
    > .k-link {
      box-shadow: none !important;
    }
  }
}

.k-message-list-content {
  font-size: 14px;
}

.k-chat .k-alt .k-chat-bubble {
  background-color: $aqua-blue;
}
