<kendo-dialog
  height="97%"
  [title]="'General.AskAi' | translate"
  [width]="modal.dialogWidth()"
  (close)="closed.emit()"
>
  @if (this.showChat()) {
  <wbs-ai-description-chat
    [model]="model()!"
    [description]="description()"
    [startingDialog]="startingDialogModel()"
    (descriptionChange)="descriptionChange.emit($event)"
  />
  } @else {
  <div class="d-flex flex-column h-100">
    <wbs-alert type="warning" message="AI.BetaNote" />
    <p class="text-medum">{{ getStartedLabel() | translate }}</p>
    <p class="tx-bold">{{ "AI.ChooseModel" | translate }}:</p>
    <kendo-dropdownlist
      [data]="models()"
      [(ngModel)]="model"
      valueField="model"
      textField="title"
    />
    <p class="pd-t-25">{{ "AI.StartConversation" | translate }}</p>
    <p class="pd-t-5 flex-fill">
      <kendo-textarea
        ngClass="h-100"
        [rows]="3"
        [(ngModel)]="startingDialogModel"
      />
    </p>
    <div class="w-100 text-end">
      <button kendoButton fillMode="outline" (click)="start()">
        {{ "General.GetStarted" | translate }}
      </button>
    </div>
  </div>
  }
</kendo-dialog>
