<div class="card-header tx-medium">
  {{ "General.Settings" | translate }} > {{ "General.General" | translate }}
</div>
<div class="pd-15">
  <form #generalForm [formGroup]="form" (ngSubmit)="save()">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">
        {{ "ProjectCreate.Category_Title" | translate }}
      </label>
      <div class="col-sm-10">
        <kendo-dropdownlist
          class="form-control"
          [data]="categories()"
          valueField="id"
          textField="label"
          [listHeight]="300"
          [valuePrimitive]="true"
          formControlName="category"
        >
          <ng-template kendoDropDownListValueTemplate let-dataItem>
            {{ dataItem.label | translate }}
          </ng-template>
          <ng-template kendoDropDownListItemTemplate let-dataItem>
            <wbs-project-category-dropdown-item [item]="dataItem" />
          </ng-template>
        </kendo-dropdownlist>
        <i>{{ "ProjectCreate.Category_Description" | translate }}</i>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">
        {{ "Projects.ProjectTitle" | translate }}
      </label>
      <div class="col-sm-10">
        <kendo-textbox
          class="form-control z-index-0"
          formControlName="title"
          [placeholder]="'Projects.ProjectTitle' | translate"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">
        {{ "Projects.ProjectDescription" | translate }}
      </label>
      <div class="col-sm-10">
        <kendo-editor
          #editor
          class="form-control"
          formControlName="description"
          [placeholder]="'Projects.ProjectDescription' | translate"
        />
      </div>
    </div>
    <div class="row md-3">
      <div class="offset-sm-2 col-sm-10">
        <button
          class="btn btn-primary mg-r-10"
          [disabled]="!form.valid"
          type="submit"
        >
          {{ "General.Save" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
