<div class="d-none d-xl-flex h-100">
  <div class="wd-500 d-flex h-100 flex-column">
    <div>
      <kendo-dropdownlist
        [data]="models()"
        [(value)]="model"
        valueField="model"
        textField="title"
      />
    </div>
    <div class="flex-fill">
      <wbs-ai-chat
        chatCss="h-100"
        [feed]="service.feed()"
        [you]="service.you"
        (send)="service.send($event)"
        (actionSelected)="setProposal($event)"
      />
    </div>
  </div>
  <div class="wd-700 h-100">
    <wbs-ai-description-editor
      [(proposal)]="proposal"
      (actionSelected)="actionSelected($event)"
    />
  </div>
</div>
<div class="d-xl-none h-100 w-500 wd-md-700">
  <kendo-tabstrip class="h-100 w-100" (tabSelect)="tabChanged($event.index)">
    <kendo-tabstrip-tab title="Chat" [selected]="view() === 'chat'">
      <ng-template kendoTabContent>
        <div class="w-100 h-100 text-center">
          <div class="wd-500 h-100 d-inline-block text-start">
            <div class="d-flex flex-column wd-500 h-100">
              <div>
                <kendo-dropdownlist
                  [data]="models()"
                  [value]="model()"
                  valueField="model"
                  textField="title"
                  (valueChange)="changeModel($event)"
                />
              </div>
              <div class="flex-fill">
                <wbs-ai-chat
                  [feed]="service.feed()"
                  [you]="service.you"
                  (send)="service.send($event)"
                  (actionSelected)="setProposal($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Editor" [selected]="view() === 'editor'">
      <ng-template kendoTabContent>
        <div class="d-flex w-100 h-100">
          <div class="flex-fill">
            <wbs-ai-description-editor
              [(proposal)]="proposal"
              (actionSelected)="actionSelected($event)"
            />
          </div>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>
