<div
  ngbDropdown
  *ngIf="user(); let user"
  class="profile-dropdown"
  container="body"
>
  <a class="pointer" ngbDropdownToggle>
    <wbs-header-profile-picture [picture]="user.picture" />
  </a>
  <div ngbDropdownMenu class="profile-menu">
    <div class="menu-header-content p-3 border-bottom">
      <div class="display-flex wd-100p">
        <div class="main-img-user">
          <wbs-header-profile-picture [picture]="user.picture" />
        </div>

        <div class="ms-3 my-auto">
          <h6 class="tx-15 font-weight-semibold mb-0">
            {{ user.name }}
          </h6>
          <span class="dropdown-title-text subtext op-6 tx-12">
            {{ roles() | roleList : true }}
          </span>
        </div>
      </div>
    </div>
    <a
      ngbDropdownItem
      class="bg-light-light pointer"
      (click)="launchProfileEditor()"
    >
      <kendo-svg-icon [icon]="userIcon" /> &nbsp;&nbsp;
      {{ "ProfileEditor.Title" | translate }}
    </a>
    <a ngbDropdownItem routerLink="/logout" class="bg-light-light">
      <kendo-svg-icon [icon]="logoutIcon" /> &nbsp;&nbsp;
      {{ "General.LogOut" | translate }}
    </a>
  </div>
</div>
