<div
  ngbDropdown
  *ngIf="user(); let user"
  class="profile-dropdown"
  container="body"
>
  <a class="pointer" ngbDropdownToggle>
    <wbs-header-profile-picture [picture]="user.picture" />
  </a>
  <div ngbDropdownMenu class="profile-menu pb-0 profile-shadow">
    <!--<div class="w-100 text-center" *ngIf="org.branding?.logo_url; let logo">
      <img class="logo" [src]="logo" />
    </div>-->
    <wbs-header-profile-header [user]="user" [roles]="roles()" />

    <a
      ngbDropdownItem
      class="bg-light-light pointer"
      (click)="launchProfileEditor()"
    >
      <kendo-svg-icon [icon]="userIcon" /> &nbsp;&nbsp;
      {{ "ProfileEditor.Title" | translate }}
    </a>
    <a ngbDropdownItem routerLink="/logout" class="bg-light-light">
      <kendo-svg-icon [icon]="logoutIcon" /> &nbsp;&nbsp;
      {{ "General.LogOut" | translate }}
    </a>
  </div>
</div>
