<div class="mg-t-10 w-100 tx-center">
  <div class="d-ib wd-600 mx-wd-100p">
    <div class="d-ib wd-50p tx-left">
      <button
        class="btn btn-warning"
        [disabled]="disableBack"
        (click)="backClicked.emit()"
      >
        {{ "General.Back" | translate }}
      </button>
    </div>
    <div class="d-ib wd-50p tx-right">
      <button
        class="btn btn-primary"
        [disabled]="disableContinue"
        (click)="continueClicked.emit()"
      >
        {{ "General.Continue" | translate }}
      </button>
    </div>
  </div>
</div>
