<p>Your password must contain:</p>
<ul>
  <li>
    @let hasEightOrMoreCharacters = isEightOrMoreCharacters();

    <span [class]="hasEightOrMoreCharacters ? 'text-success' : 'text-danger'">
      8 or more characters
    </span>
    @if (hasEightOrMoreCharacters) {
    <fa-icon [icon]="checkIcon" class="mg-l-5" />
    }
  </li>
  <li>
    @let lowerCase = hasLowercase();

    <span [class]="lowerCase ? 'text-success' : 'text-danger'">
      Has a lowercase letter
    </span>
    @if (lowerCase) {
    <fa-icon [icon]="checkIcon" class="mg-l-5" />
    }
  </li>
  <li>
    @let uppercase = hasUppercase();

    <span [class]="uppercase ? 'text-success' : 'text-danger'">
      Has an uppercase letter
    </span>
    @if (uppercase) {
    <fa-icon [icon]="checkIcon" class="mg-l-5" />
    }
  </li>
  <li>
    @let digit = hasDigit();

    <span [class]="digit ? 'text-success' : 'text-danger'"> Has a digit </span>
    @if (digit) {
    <fa-icon [icon]="checkIcon" class="mg-l-5" />
    }
  </li>
  <li>
    @let specialChar = hasSpecialChar();

    <span [class]="specialChar ? 'text-success' : 'text-danger'">
      Has a special character
    </span>
    @if (specialChar) {
    <fa-icon [icon]="checkIcon" class="mg-l-5" />
    }
  </li>
</ul>
