<div class="container-fluid">
  <div class="row row-sm">
    <div class="offset-xl-2 col-xl-3 offset-lg-1 col-lg-4 col-md-6 col-sm-6">
      <div class="card bg-primary-05">
        <div class="card-body ht-200 text-center">
          <fa-duotone-icon [icon]="faScrewdriver" size="5x"></fa-duotone-icon>
          <h6 class="text-drak text-uppercase mt-2">Multi-Discipline</h6>
          <span class="text-muted">
            Your firm will perform two or more technical services for this
            project.
          </span>
        </div>
        <button class="btn btn-success" (click)="multi()">Select</button>
      </div>
    </div>
    <div class="offset-xl-2 col-xl-3 offset-lg-2 col-lg-4 col-md-6 col-sm-6">
      <div class="card bg-primary-05">
        <div class="card-body ht-200 text-center">
          <fa-duotone-icon [icon]="faScrewdriverWrench" size="5x">
          </fa-duotone-icon>
          <h6 class="text-drak text-uppercase mt-2">Single Discipline</h6>
          <span class="text-muted">
            Your firm will perform one technical service for this project.
          </span>
        </div>
        <button class="btn btn-success" (click)="single()">Select</button>
      </div>
    </div>
  </div>
</div>
