@import "src/styles/variables";
@import "src/assets/scss/variables";

.dark-theme {
  .create-dialog {
    > .k-dialog {
      color: #eaecf3;

      > .k-dialog-titlebar {
        background: $dark-background;
      }
      > .k-dialog-content {
        text-align: left;
        width: 500px;
        background-color: $dark-theme;
      }
      > .k-actions {
        background-color: $dark-theme;
      }
    }
  }
}
