<!--<div class="aside-menu aside-menu-large">
  <img class="header-img" src="/assets/images/QUOTUS_Logo_White.png" />
  <nav>
    <a
      [class.selected]="(projectNavType$ | async) == 'all'"
      (click)="navigate(['/projects', 'view', 'all'])"
    >
      <kendo-icon name="i-folder"></kendo-icon>

      {{ 'Pages.MyProjects' | translate }} &nbsp; ({{ projects$ | async | length
      }})
    </a>
    <a
      class="indented"
      [class.selected]="(projectNavType$ | async) == 'planning'"
      (click)="navigate(['/projects', 'view', 'planning'])"
    >
      {{ 'Projects.Planning' | translate }} &nbsp; ({{ projects$ | async |
      projectListFilterLength: 'planning' }})
    </a>
    <a
      class="indented"
      [class.selected]="(projectNavType$ | async) == 'execution'"
      (click)="navigate(['/projects', 'view', 'execution'])"
    >
      {{ 'Projects.Execution' | translate }}&nbsp;({{ projects$ | async |
      projectListFilterLength: 'planning' }})
    </a>
    <a
      class="indented"
      [class.selected]="(projectNavType$ | async) == 'follow-up'"
      (click)="navigate(['/projects', 'view', 'follow-up'])"
    >
      {{ 'Projects.FollowUp' | translate }}&nbsp;({{ projects$ | async |
      projectListFilterLength: 'planning' }})
    </a>
    <a
      class="indented"
      [class.selected]="(projectNavType$ | async) == 'closed'"
      (click)="navigate(['/projects', 'view', 'closed'])"
    >
      {{ 'Projects.Closed' | translate }}&nbsp;({{ projects$ | async |
      projectListFilterLength: 'planning' }})
    </a>
  </nav>
</div>
-->
