<table class="table table-hover">
  <tr class="bg-dark text-white">
    @if (showWatchedColumn()) {
    <th class="pd-10 fw-normal">&nbsp;</th>
    }
    <th class="pd-10 fw-normal">Owner</th>
    <th class="pd-10 fw-normal">Name</th>
    <th class="pd-10 fw-normal">Type</th>
    <th class="pd-10 fw-normal">Last Updated</th>
    <th class="pd-10 fw-normal">Author</th>
  </tr>
  <tbody>
    @for (entry of entries(); track entry.entryId) {
    <tr
      class="pointer"
      [ngClass]="{ 'bg-gray-300': selected()?.entryId === entry.entryId }"
      (click)="selected.set(entry)"
    >
      @if (showWatchedColumn()){
      <td class="tx-16">
        <wbs-watch-indicator
          source="library"
          [alwaysShow]="false"
          [owner]="entry.ownerId"
          [entityId]="entry.entryId"
        />
      </td>
      }
      <td>{{ entry.ownerName }}</td>
      <td>{{ entry.title }}</td>
      <td>
        <fa-icon [icon]="entry.type | entryTypeIcon" />
        {{ entry.type | entryTypeTitle | translate }}
      </td>
      <td>{{ entry.lastModified | dateText }}</td>
      <td>{{ entry.authorName }}</td>
    </tr>
    }
  </tbody>
</table>
