<kendo-dialog
  width="80%"
  [title]="'Projects.ExportProjectToLibrary' | translate"
  (close)="dialog.close()"
>
  <div class="w-100">
    <div class="row mg-b-30">
      <label
        for="title"
        class="col-form-label col-md-2 col-sm-12 tx-md-normal tx-bold"
      >
        {{ "General.Title" | translate }}
      </label>
      <div class="col-md-10 col-sm-12">
        <input
          id="title"
          kendoTextBox
          [(ngModel)]="title"
          class="form-control"
          aria-describedby="titleHelp"
        />
        <wbs-info-message [message]="titleHint() | translate" />
      </div>
    </div>
    <div class="row mg-b-30">
      <label class="col-form-label col-md-2 col-sm-12 tx-md-normal tx-bold">
        {{ "General.Visibility" | translate }}
      </label>
      <div class="col-md-10 col-sm-12">
        <wbs-visibility-selection [(visibility)]="visibility" />
      </div>
    </div>
    <div class="row">
      <label
        [for]="resourceSwitch"
        class="col-form-label col-md-2 col-sm-12 tx-md-normal tx-bold"
      >
        {{ "LibraryExport.IncludeResources" | translate }}
      </label>
      <div class="col-md-10 col-sm-12 pd-t-5">
        <kendo-switch
          #resourceSwitch
          [(ngModel)]="includeResources"
          aria-describedby="includeResourcesHelp"
        >
        </kendo-switch>
        <div>
          <wbs-info-message
            [message]="'LibraryExport.IncludeResourcesHint' | translate"
          />
        </div>
      </div>
    </div>
  </div>
  <kendo-dialog-actions>
    <div class="d-flex justify-content-end gap-10">
      <button kendoButton themeColor="base" (click)="dialog.close()">
        {{ "General.Cancel" | translate }}
      </button>
      <wbs-save-button
        themeColor="primary"
        [disabled]="!isValid()"
        [isSaving]="saveState.state() === 'saving'"
        (click)="save()"
      />
    </div>
  </kendo-dialog-actions>
</kendo-dialog>
