<div class="d-flex justify-content-center">
  <div class="card dashboard-card wd-400 mg-15">
    <div class="card-header">
      {{ "General.Status" | translate }}
    </div>
    <div class="card-body pd-15 text-center">
      @if (saving()) {
      <fa-duotone-icon [icon]="faSpinner" size="5x" [spin]="true" />
      <h3 class="pd-t-20">
        {{ "General.SavingChanges" | translate }}
        ...
      </h3>
      } @else {
      <fa-icon [icon]="faCheck" size="5x" />
      <h3 class="pd-t-20">{{ "General.Done!" | translate }}</h3>
      <br />
      <button
        kendoButton
        themeColor="primary"
        class="mg-t-20"
        [routerLink]="url()"
      >
        {{ "General.Continue" | translate }}
      </button>
      }
    </div>
  </div>
</div>
