<section class="pd-x-50">
  <div class="wizard-body">
    What disciplines does this task apply to?
    <br />
    <br />
    <kendo-label text="Disciplines"> </kendo-label>
    <kendo-multiselect
      [data]="data"
      [(ngModel)]="disciplineIds"
      class="w-100"
      textField="label"
      valueField="id"
      [filterable]="true"
      [valuePrimitive]="true"
      [kendoDropDownFilter]="filterSettings"
    >
    </kendo-multiselect>
    <div class="w-100 text-center pd-t-50">
      <button class="btn btn-outline-dark" (click)="import()">
        Add Disciplines from Parent Task
      </button>
    </div>
  </div>
  <div class="wizard-footer">
    <wbs-node-bottom-buttons (nextClicked)="go()" (previousClicked)="back()">
    </wbs-node-bottom-buttons>
  </div>
</section>

<!--
  If Phase View:
      * Find Phase category of parent,
      * Display
      * Mark as read-only and explain why
      * Show multiple list disciplines
  If Discipline View:
      * Show single select phase list
      * Show multiple list disciplines
      * Find discipline of parent
      * Automatically add the discpline list
-->
