<div class="container-fluid mg-y-20">
  <div class="row">
    <div class="col-6">
      <div class="display-flex">
        <div class="wd-50 tx-center">
          <img
            *ngIf="category() | categoryIcon; let url"
            [src]="url"
            class="wd-30 h-auto"
          />
        </div>
        <h4 class="w-100 pd-5 mg-b-0">{{ title() }}</h4>
      </div>
    </div>
    <div class="col-6" style="line-height: 35px">
      <wbs-page-header />
    </div>
  </div>
</div>
<div class="card border border-dark">
  <div class="card-header py-0 mg-b-0 bg-dark">
    <wbs-project-navigation [links]="links" [userRoles]="roles()" />
  </div>
  <div
    class="card-body border-0 p-0 rounded-10 scroll"
    appFillElement
    [paddingBottom]="30"
  >
    <router-outlet />
  </div>
</div>
<wbs-project-checklist-modal #checklist />
