<div class="container-fluid mg-y-5">
  <div class="row">
    <div class="col-12" style="line-height: 35px">
      <wbs-page-header />
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <wbs-project-title [category]="category()" [title]="title()" />
    </div>
    <div class="col-6 mg-t-5 tx-right pd-r-15">
      <wbs-project-action-button [project]="project()" />
    </div>
  </div>
</div>
<div class="card border border-dark">
  <div class="card-header py-0 mg-b-0 bg-dark">
    <wbs-project-navigation
      [links]="links"
      [userRoles]="roles()"
      [claims]="claims()"
    />
  </div>
  <div
    class="card-body border-0 p-0 rounded-10 scroll"
    appFillElement
    [paddingBottom]="30"
  >
    <router-outlet />
  </div>
</div>
<wbs-project-checklist-modal #checklist />
