<div class="d-flex flex-column h-100">
  <div class="mg-y-10">
    <div class="d-block d-md-none mg-b-10 w-100 text-end">
      <wbs-page-header />
    </div>
    <div class="d-flex flex-align-center">
      <wbs-project-title
        [title]="title() ?? ''"
        [category]="category()"
        (titleChange)="titleChanged($event)"
      />
      @if (approvalEnabled()) {
      <wbs-approval-badge
        [approval]="approvals() | findById : 'project-title'"
      />
      }

      <div class="flex-fill tx-right">
        <div class="d-none d-md-block d-lg-inline-block mg-r-20">
          <wbs-page-header />
        </div>
        <wbs-project-action-button
          [claims]="claims()"
          [project]="project()!"
          [approvalEnabled]="approvalEnabled()!"
        />
      </div>
    </div>
  </div>
  <div class="card border border-dark flex-fill">
    <div class="card-header py-0 mg-b-0 bg-dark">
      <wbs-navigation
        [menu]="links()"
        [activeSubSection]="navSection()"
        (navigate)="navigate($event)"
      />
    </div>
    <div
      class="card-body border-0 p-0 rounded-10 d-flex flex-row w-100 bg-light"
    >
      <div class="flex-fill scroll">
        <router-outlet />
      </div>
      @if (approvalEnabled() && approvalView() === 'project' && approval(); as
      approval) {
      <wbs-project-approval-window
        [approval]="approval"
        [claims]="claims()"
        [userId]="userId()"
        [isReadyOnly]="project()?.status !== 'approval'"
        [chat]="chat() ?? []"
        [hasChildren]="approvalHasChildren()!"
      />
      }
    </div>
  </div>
</div>
<wbs-project-checklist-modal #checklist />
