<section class="pd-x-50">
  <div class="wizard-body">
    What is the name and description of this node?
    <br />
    <br />
    <kendo-floatinglabel text="Name" class="w-100">
      <kendo-textbox #name [ngModel]="title$ | async"> </kendo-textbox>
    </kendo-floatinglabel>
    <br />
    <br />
    <kendo-floatinglabel text="Description" class="w-100 pd-t-20">
      <textarea #description resizable="auto" [ngModel]="description$ | async">
      </textarea>
    </kendo-floatinglabel>
  </div>
  <div class="wizard-footer">
    <wbs-node-bottom-buttons
      (nextClicked)="go(name.value, description.value)"
      (previousClicked)="back()"
    >
    </wbs-node-bottom-buttons>
  </div>
</section>
