@if (store.project(); as project) {
<div class="card-header">{{ "General.Details" | translate }}</div>
<div class="card-body">
  <div class="wbs-detail-card">
    <div class="detail-header">{{ "General.RecordId" | translate }} :</div>
    <div>{{ project.recordId }}</div>

    <div class="detail-header">{{ "General.Title" | translate }} :</div>
    <div>
      <wbs-editable-text
        [viewText]="project.title"
        [saveState]="saveTitle.state()"
        [editText]="project.title"
        (saveText)="titleChanged($event)"
      />
    </div>

    <div class="detail-header">{{ "General.Category" | translate }} :</div>
    <div>
      <wbs-project-category-editor
        [canEdit]="store.canEditProject()"
        [categoryId]="project.category"
        [saveMode]="saveCategory.state()"
        (save)="projectCategoryChanged($event)"
      />
    </div>

    <div class="detail-header">{{ "Wbs.TaskCount" | translate }} :</div>
    <div>{{ store.viewModels()?.length ?? 0 }}</div>

    <div class="detail-header">{{ "General.LastModified" | translate }} :</div>
    <div>{{ project.lastModified | dateText }}</div>
  </div>
</div>
}
