<div
  id="phases-container"
  class="phases-container"
  appFillElement
  [paddingBottom]="20"
>
  <div class="phases-body">
    <ul
      class="list-group display-ib text-start wd-600"
      appMatchSize
      idToMatch="phases-container"
      [paddingBottom]="50"
      style="overflow-y: scroll"
    >
      <li
        *ngFor="let cat of cats$ | async"
        class="list-group-item d-flex flex-row"
      >
        <div class="pd-t-12 wd-60 ht-40">
          <fa-layers [fixedWidth]="true">
            <fa-icon size="3x" [icon]="faCircle"></fa-icon>
            <fa-layers-text
              *ngIf="cat.selected"
              [content]="cat.number!.toString()"
              transform="right-12"
            ></fa-layers-text>
          </fa-layers>
        </div>
        <div class="flex-grow-1">
          <div style="font-size: 16px">
            {{ cat.label }}
          </div>
          <div style="font-size: 12px; font-style: italic">
            {{ cat.description }}
          </div>
        </div>
        <div class="pd-t-5">
          <kendo-switch [(ngModel)]="cat.selected" (ngModelChange)="changed()">
          </kendo-switch>
        </div>
      </li>
    </ul>
  </div>
  <div class="phases-footer w-100 text-center">
    <div class="display-ib wd-600">
      <app-project-create-footer view="bc" (continueClicked)="nav()">
      </app-project-create-footer>
    </div>
  </div>
</div>
