@import "src/styles/variables";

.flex-col {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
}

.page-header {
  flex: 0 1 auto;
}

.page-card {
  flex: 1 1 auto;
  margin-bottom: 0;
}

.proj-create-form {
  flex: 1 1 auto;
}

.proj-create-footer {
  flex: 0 1 20px;
}

.dark-theme {
  .editor-body {
    color: white;
    background-color: $dark-background;
  }
}
