<ng-template #taskContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Task Details</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      [routerLink]="['./']"
    ></button>
  </div>
  <div class="modal-body pd-10">
    <router-outlet />
  </div>
  <div class="modal-footer">
    <div style="flex-grow: 1" class="tx-left">
      <a
        class="btn btn-outline-dark"
        *ngIf="task()?.previousTaskId; let taskId"
        [routerLink]="['task', taskId, 'about']"
      >
        {{ "General.Previous" | translate }}
      </a>
    </div>
    <div style="flex-grow: 1" class="tx-right">
      <a
        class="btn btn-outline-dark"
        *ngIf="task()?.nextTaskId; let taskId"
        [routerLink]="['task', taskId, 'about']"
      >
        {{ "General.Next" | translate }}
      </a>
    </div>
  </div>
</ng-template>
