<div class="tx-italic tx-10">&nbsp;</div>
<div class="flex-fill">
  <kendo-treelist
    #treelist
    class="h-100"
    kendoTreeListExpandable
    kendoTreeListSelectable
    [kendoTreeListFlatBinding]="disciplines()"
    parentIdField="treeParentId"
    idField="treeId"
    [initiallyExpanded]="false"
    [(expandedKeys)]="expandedKeys"
    [selectable]="settings"
  >
    <kendo-treelist-column
      field="levelText"
      [title]="'Wbs.Level' | translate"
      [width]="100"
      class="level-column tx-11"
      headerClass="level-header-column tx-14"
    />
    <kendo-treelist-column
      field="sameAsLevelText"
      title="Same As"
      [width]="100"
      class="level-column same-level tx-11"
      headerClass="level-header-column tx-14"
    />
    <kendo-treelist-column
      [expandable]="true"
      field="title"
      class="tx-11"
      headerClass="tx-14"
      [title]="'Wbs.Task' | translate"
    />
  </kendo-treelist>
</div>
