<div class="w-100 text-center h-100">
  <div class="d-inline-block text-start w-100 h-100 mx-wd-1200">
    <div class="two-column-grid pd-20 mn-ht-100p" resizedCss>
      <wbs-discipline-card
        [splitLimit]="650"
        [items]="project()?.disciplines ?? []"
        [canEdit]="claims() | check : UPDATE_CLAIM"
        noDisciplinesLabel="Projects.NoDisciplinesProject"
        [editRoute]="['../', 'settings', 'disciplines']"
      />
      <wbs-project-status-card
        [project]="project()!"
        [approvalEnabled]="approvalEnabled()!"
        [ngClass]="{ 'double-item': approvalEnabled() }"
      />
      @if (approvalEnabled()) {
      <wbs-project-approval-card [stats]="approvalStats()" />
      }
      <wbs-description-card
        [(askAi)]="askAi"
        [(editMode)]="descriptionEditMode"
        [saveState]="descriptionSave.state()"
        [canEdit]="claims() | check : UPDATE_CLAIM"
        [description]="project()?.description ?? ''"
        noDescriptionLabel="Library.NoDescriptionEntry"
        [approval]="approvals() | findById : 'project-description'"
        (descriptionChange)="descriptionChange($event)"
      />
    </div>
  </div>
</div>

@if (askAi()) {
<wbs-description-ai-dialog
  [description]="project()!.description"
  [startingDialog]="descriptionAiStartingDialog()"
  (descriptionChange)="aiChangeSaved($event)"
  (closed)="askAi.set(false)"
/>
}
<!--
@if (project(); as project) {
<div class="about-page-grid pd-20" resizedCss>

    <wbs-description-card
      [project]="project"
      [ngClass]="'card border full-item'"
      [approval]="approvals() | findById : 'project-description'"
      (descriptionChange)="descriptionChange($event)"
    />
    <div class="card border double-item">
      <div class="card-header">
        {{ "General.Contacts" | translate | uppercase }}
        &nbsp;
        <wbs-approval-badge
          [approval]="approvals() | findById : 'project-roles'"
        />
      </div>
      <div class="card-body">
        <ul class="list-group">
          @for (user of users(); track user.id) {
          <li class="list-group-item bd-gray-400 bd-t-1-f">
            <div class="d-inline-block wd-40">
              @if (user.picture){
              <img
                class="rounded-circle wd-30 ht-30 object-fit-cover"
                [src]="user.picture"
                alt="avatar"
              />
              }
            </div>
            {{ user.name }} - {{ user.roles | roleList : true }}
          </li>
          }
        </ul>
      </div>
    </div>

    <div class="card border double-item">
      <div class="card-header">
        {{ "Projects.PathToSuccess" | translate }}
      </div>
      <div class="card-body">
        <wbs-project-checklist [checklist]="checklist()" />
      </div>
    </div>
  </div>
</div>
}
-->
