@if (projectStore.project(); as project) {
<!---->
@let canEdit = projectStore.canEditProject();

<div class="w-100 h-100 mx-wd-1200">
  <div class="two-column-grid mn-ht-100p" resizedCss>
    <wbs-project-details-card />
    <wbs-discipline-card
      [splitLimit]="650"
      [canAdd]="true"
      [canEdit]="canEdit"
      [items]="projectStore.projectDisciplines()"
      [editItems]="editDisciplines()"
      [saveState]="disciplineSave.state()"
      noDisciplinesLabel="Projects.NoDisciplinesProject"
      (save)="disciplinesChanged($event)"
    />
    <!--<wbs-project-status-card
        [project]="project"
        [approvalEnabled]="approvalEnabled()!"
        [ngClass]="{ 'double-item': approvalEnabled() }"
      />
      @if (approvalEnabled()) {
      <wbs-project-approval-card [stats]="approvalStats()" />
      }-->
    <wbs-description-card
      [(askAi)]="askAi"
      [canEdit]="canEdit"
      [(editMode)]="descriptionEditMode"
      [saveState]="descriptionSave.state()"
      [description]="project.description"
      noDescriptionLabel="Library.NoDescriptionEntry"
      (descriptionChange)="descriptionChanged($event)"
    />
    <!--[approval]="approvals() | findById : 'project-description'"-->
    <wbs-project-resource-card />
    <wbs-project-contributor-card />
  </div>
</div>

@if (askAi()) {
<wbs-description-ai-dialog
  [description]="project.description"
  [startingDialog]="descriptionAiStartingDialog()"
  (descriptionChange)="aiChangeSaved($event)"
  (closed)="askAi.set(false)"
/>
} }
