@if (projectStore.project(); as project) {
<!---->
@let canEdit = projectStore.canEditProject();

<div class="w-100 text-center h-100">
  <div class="d-inline-block text-start w-100 h-100 mx-wd-1200">
    <div class="two-column-grid pd-20 mn-ht-100p" resizedCss>
      <wbs-project-details-card
        [project]="project"
        [tasks]="projectStore.viewModels()!"
      />
      <wbs-discipline-card
        [splitLimit]="650"
        [canAdd]="true"
        [canEdit]="canEdit"
        [items]="disciplines()"
        [editItems]="editDisciplines()"
        [saveState]="disciplineSave.state()"
        noDisciplinesLabel="Projects.NoDisciplinesProject"
        (save)="saveDisciplines($event)"
      />
      <wbs-project-status-card
        [project]="project"
        [approvalEnabled]="approvalEnabled()!"
        [ngClass]="{ 'double-item': approvalEnabled() }"
      />
      @if (approvalEnabled()) {
      <wbs-project-approval-card [stats]="approvalStats()" />
      }
      <wbs-description-card
        [(askAi)]="askAi"
        [canEdit]="canEdit"
        [(editMode)]="descriptionEditMode"
        [saveState]="descriptionSave.state()"
        [description]="project.description"
        noDescriptionLabel="Library.NoDescriptionEntry"
        [approval]="approvals() | findById : 'project-description'"
        (descriptionChange)="descriptionChange($event)"
      />
      <wbs-project-resource-card />
    </div>
  </div>
</div>

@if (askAi()) {
<wbs-description-ai-dialog
  [description]="project.description"
  [startingDialog]="descriptionAiStartingDialog()"
  (descriptionChange)="aiChangeSaved($event)"
  (closed)="askAi.set(false)"
/>
} }
