<div class="pd-15 text-center bg-white">
  <div class="d-inline-block w-100 mx-wd-xs-500 text-start card dashboard-card">
    <div class="d-flex card-header flex-align-center">
      <div class="flex-fill">
        {{ "General.Settings" | translate }} >
        {{ "General.Disciplines" | translate }}
      </div>
      <div class="text-end">
        <wbs-fading-message
          [icon]="checkIcon"
          message="General.Saved"
          [show]="saveState() === 'saved'"
          cssClass="tx-success tx-12 mg-r-10"
        />
        <wbs-save-button
          size="sm"
          [isSaving]="saveState() === 'saving'"
          (click)="save()"
        />
      </div>
    </div>
    <div class="card-body">
      <div class="tx-italic text-center pd-b-10 pd-l-10">
        {{ "Projects.DisciplineSettingsInfoTask" | translate }}
      </div>
      @if (disciplines(); as disciplines) {
      <wbs-discipline-editor
        [categories]="disciplines"
        (saveClicked)="save()"
      />
      }
    </div>
  </div>
</div>
