<div class="pd-15">
  <div class="container-fluid">
    @if (claims() | check : addClaim) {
    <div class="row">
      <div class="col-12 tx-right">
        <button class="btn btn-outline-dark" (click)="launchNew(content)">
          <fa-icon [icon]="faPlus" />
          &nbsp; {{ "Resources.AddResource" | translate }}
        </button>
      </div>
    </div>
    } @if (list().length === 0) {
    <div class="row">
      <div class="col-12 mg-t-40 text-center tx-20">
        <div>{{ "Resources.NoResourcesFound" | translate }}</div>

        <button
          class="btn btn-outline-dark mg-t-20"
          (click)="launchNew(content)"
        >
          <fa-icon [icon]="faPlus" />
          &nbsp; {{ "General.Add" | translate }}
        </button>
      </div>
    </div>
    } @else {
    <div class="row">
      <div class="col-12 mg-t-10">
        <wbs-record-resource-list
          [owner]="owner()"
          [claims]="claims()"
          [list]="list()"
          (save)="saveRecords.emit($event)"
        />
      </div>
    </div>
    }
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ "Resources.AddResource" | translate }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body resource-editor">
    <wbs-record-resource-editor [vm]="vm()!" />
  </div>
  <div class="modal-footer">
    @if (vm()!.type) {
    <button type="button" class="btn btn-outline-dark" (click)="saveClicked()">
      {{ "General.Save" | translate }}
    </button>
    }
  </div>
</ng-template>
