{{ "Wbs.Disciplines" | translate }} &nbsp;
<a kendoPopoverAnchor [popover]="myPopover" showOn="hover">
  <fa-duotone-icon [icon]="faCircleQuestion" />
</a>
<kendo-popover #myPopover position="left" [width]="400">
  <ng-template kendoPopoverTitleTemplate>
    <div class="tx-14">
      {{ "Wbs.DisciplineLegend" | translate }}
    </div>
  </ng-template>
  <ng-template kendoPopoverBodyTemplate>
    <div class="w-100 pd-5">
      <wbs-discipline-split-list
        altClass="bg-gray-200"
        itemClass="tx-11"
        [items]="list()"
        [splitLimit]="800"
      />
    </div>
  </ng-template>
</kendo-popover>
