<div class="w-100 tx-center pd-t-15">
  <div class="btn-group btn-group-sm" role="group">
    <button
      type="button"
      class="btn"
      [ngClass]="{
        'btn-dark': view() === 'phases',
        'btn-outline-dark': view() !== 'phases'
      }"
      (click)="view.set('phases')"
    >
      {{ "General.Phases" | translate }}
    </button>
    <button
      type="button"
      class="btn"
      [ngClass]="{
        'btn-dark': view() === 'disciplines',
        'btn-outline-dark': view() !== 'disciplines'
      }"
      (click)="view.set('disciplines')"
    >
      {{ "General.Disciplines" | translate }}
    </button>
  </div>
</div>
<div class="pd-15">
  @if (view() === 'phases') {
  <wbs-project-phase-tree [claims]="claims" [project]="project()" />
  } @else if (view() === 'disciplines') {
  <wbs-project-discipline-tree [project]="project()" />
  }
</div>

<wbs-task-modal />
