@import "src/styles/variables";

$level-width: 100px;

.k-grid-drag-hint {
  background-color: #c2bebe;
}
.dark-theme {
  .k-grid-drag-hint {
    background-color: #216259 !important;
  }
}

.node-level {
  display: inline-block;
  width: 60px;
}

.level-header-column {
  width: $level-width;
}

.level-column {
  width: $level-width;
  font-size: 12px;
}

.stat-line {
  margin: 5px 20px;
  > .stat-header {
    width: 120px;
    display: inline-block;
  }
}
