<table class="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="wd-40">&nbsp;</th>
      <th scope="col" class="pointer" [sortable]="'name'" [state]="state()">
        {{ "General.Name" | translate }} &nbsp;
        <wbs-sort-arrow [state]="state()" field="name" />
      </th>
      <th
        scope="col"
        class="pointer d-md-none d-lg-table-cell"
        [sortable]="'email'"
        [state]="state()"
      >
        {{ "General.Email" | translate }} &nbsp;
        <wbs-sort-arrow [state]="state()" field="email" />
      </th>
      <th scope="col">{{ "OrgSettings.LoginCount" | translate }}</th>
      <th scope="col">{{ "OrgSettings.LastLogin" | translate }}</th>
      <th scope="col">{{ "General.Roles" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members | tableProcess : state()">
      <td>
        <wbs-action-icon-list
          size="small"
          fillMode="link"
          [mainIcon]="gearIcon"
          [menuItems]="menu"
          (itemClicked)="userActionClicked(member, $event)"
        />
      </td>
      <td>{{ member.name }}</td>
      <td class="d-md-none d-lg-table-cell">{{ member.email }}</td>
      <td>{{ member.loginCount }}</td>
      <td>{{ member.lastLogin | dateText }}</td>
      <td>{{ member.roles | roleList : true }}</td>
    </tr>
  </tbody>
</table>
