<div class="horizontalMenucontainer">
  <div class="page">
    <div>
      <!-- // header -->
      <app-header></app-header>
      <!-- //sidebar -->
      <app-sidebar appHoverEffectSidebar></app-sidebar>
    </div>
    <div class="main-content app-content" #body appMainContent>
      <div
        class="main-container container-fluid"
        (click)="toggleSwitcherBody()"
      >
        <!-- // contetnt  -->
        <router-outlet>
          <app-loader></app-loader>
        </router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
<app-tab-to-top></app-tab-to-top>
