@if (member(); as member) {
<kendo-dialog
  [title]="'OrgSettings.EditMember' | translate"
  minWidth="500px"
  width="60%"
>
  <div class="container-fluid">
    <div class="row mb-3">
      <label class="col-sm-3 tx-12 col-form-label">
        {{ "General.Name" | translate }}
      </label>
      <div class="col-sm-9">
        <input
          disabled
          type="text"
          class="form-control"
          [value]="member.fullName"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-3 tx-12 col-form-label">
        {{ "General.Email" | translate }}
      </label>
      <div class="col-sm-9">
        <input
          disabled
          type="text"
          class="form-control"
          [value]="member.email"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-3 tx-12 col-form-label">
        {{ "General.Roles" | translate }}
      </label>
      <div class="col-sm-9">
        <kendo-buttongroup selection="multiple">
          @for (role of this.roles; track role.id) {
          <button
            kendoButton
            size="small"
            [selected]="doesUserHaveRole(member, role)"
            (click)="toggleRole(member, role)"
          >
            {{ role.abbreviation | translate }}
          </button>
          }
        </kendo-buttongroup>
      </div>
    </div>
  </div>

  <kendo-dialog-actions layout="end">
    <button
      kendoButton
      size="small"
      themeColor="primary"
      (click)="dialog.close(member)"
    >
      {{ "General.Save" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
}
