@if (approval(); as approval) {
<div class="wd-500 h-100 border d-flex flex-column">
  <div
    class="ht-30 d-flex flex-align-center bg-primary bd-solid bd-1 bd-gray-900 tx-16"
  >
    <div class="flex-fill pd-10">
      {{ "General.Approval" | translate }} &nbsp;-&nbsp;
      {{ approval.id | projectApprovalWindowTitle }}
    </div>
    <div class="wd-30 tx-center">
      <a (click)="closeApprovalWindow()">
        <fa-icon class="pointer" [icon]="faX" />
      </a>
    </div>
  </div>
  <div class="flex-fill d-flex flex-column bd-solid bd-1 bd-gray-900">
    @if (approval.id | taskName; as taskName){
    <div class="pd-t-10 tx-center tx-bold">
      {{ taskName }}
    </div>
    } @if (claims() | check : canApproveClaims) {
    <div class="ht-40 align-center">
      @if (hasChildren()) {
      <div ngbDropdown class="d-inline-block wd-50p tx-center pd-t-5">
        <button
          ngbDropdownToggle
          type="button"
          id="approveButton"
          class="btn btn-sm"
          [disabled]="isReadyOnly()"
          [ngClass]="
            approval.isApproved ? 'btn-success' : 'btn-outline-success'
          "
        >
          {{
            "General." + (approval.isApproved ? "Approved" : "Approve")
              | translate
          }}
        </button>
        <div ngbDropdownMenu aria-labelledby="approveButton">
          <button ngbDropdownItem (click)="changed(true, false)">
            {{ "Projects.ApproveTask" | translate }}
          </button>
          <button ngbDropdownItem (click)="changed(true, true)">
            {{ "Projects.ApproveTaskChildren" | translate }}
          </button>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block wd-50p tx-center pd-t-5">
        <button
          ngbDropdownToggle
          type="button"
          id="rejectButton"
          class="btn btn-sm"
          [disabled]="isReadyOnly()"
          [ngClass]="
            approval.isApproved === false ? 'btn-danger' : 'btn-outline-danger'
          "
        >
          {{
            "General." + (approval.isApproved === false ? "Rejected" : "Reject")
              | translate
          }}
        </button>
        <div ngbDropdownMenu aria-labelledby="rejectButton">
          <button ngbDropdownItem (click)="changed(false, false)">
            {{ "Projects.RejectTask" | translate }}
          </button>
          <button ngbDropdownItem (click)="changed(false, true)">
            {{ "Projects.RejectTaskChildren" | translate }}
          </button>
        </div>
      </div>
      } @else {
      <div class="d-inline-block wd-50p tx-center pd-t-5">
        <button
          class="btn btn-sm"
          [disabled]="isReadyOnly()"
          [ngClass]="
            approval.isApproved ? 'btn-success' : 'btn-outline-success'
          "
          (click)="changed(true, false)"
        >
          {{
            "General." + (approval.isApproved ? "Approved" : "Approve")
              | translate
          }}
        </button>
      </div>
      <div class="d-inline-block wd-50p tx-center pd-t-5">
        <button
          class="btn btn-sm"
          [disabled]="isReadyOnly()"
          [ngClass]="
            approval.isApproved === false ? 'btn-danger' : 'btn-outline-danger'
          "
          (click)="changed(false, false)"
        >
          {{
            "General." + (approval.isApproved === false ? "Rejected" : "Reject")
              | translate
          }}
        </button>
      </div>
      }
    </div>
    } @else {
    <div class="tx-center pd-15">
      @if (approval.isApproved == undefined) {
      {{ "Projects.NoApproval" | translate }}
      } @else if (approval.isApproved) {
      {{
        "Projects.ApprovedBy"
          | translate
          | textTransform
            : {
                name: (approval.approvedBy | userName | async),
                date: approval.approvedOn | date
              }
      }}
      } @else {
      {{
        "Projects.RejectedBy"
          | translate
          | textTransform
            : {
                name: (approval.approvedBy | userName | async),
                date: approval.approvedOn | date
              }
      }}
      }
    </div>
    }
    <kendo-chat
      [messages]="chat()"
      [user]="{ id: userId }"
      class="flex-fill w-100 h-100"
      [ngClass]="{ 'readonly-chat': !(claims() | check : canCommentClaims) }"
      (sendMessage)="sendMessage($event)"
    />
  </div>
</div>
}
