<div class="editor-body" appFillElement>
  <ng-template [ngIf]="node$ | async" let-node>
    <div class="action-panel">
      <div>Action Icons Here</div>
    </div>
    <div class="header-panel">
      <div>
        <kendo-dropdownbutton
          [data]="views$ | async"
          textField="label"
          valueField="id"
          size="small"
          fillMode="flat"
        >
          {{ (viewLabel$ | async) ?? "" | translate }}&nbsp;
          <fa-icon [icon]="faAngleDown"></fa-icon>

          <ng-template kendoDropDownButtonItemTemplate let-dataItem>
            {{ dataItem.label | translate }}
          </ng-template>
        </kendo-dropdownbutton>
      </div>
    </div>
    <div appFillElement class="main-panel">
      <ng-template [ngIf]="(view$ | async) === 'General'">
        <div class="editor-fields">
          <p class="field">
            <span class="field-header">{{ "General.Name" | translate }} </span>
            {{ node.title }}
          </p>
        </div>
        <div class="editor-fields">
          <p class="field">
            <span class="field-header"
              >{{ "General.Description" | translate }}
            </span>
            {{
              node.description ?? ("WbsEditor.InsertDescription" | translate)
            }}
          </p>
        </div>
      </ng-template>
    </div>
    <!--
      <kendo-expansionpanel
        title="General"
        [expanded]="true"
        (action)="onAction($event, 0)"
      >
        <div class="content">
        </div>
      </kendo-expansionpanel>
      <kendo-expansionpanel
        title="Training"
        [expanded]="false"
        (action)="onAction($event, 1)"
      >
        <div class="content">Coming soon...</div>
      </kendo-expansionpanel>-->
  </ng-template>
</div>
