<div class="pd-15">
  <wbs-tree
    view="phase"
    [width]="width()"
    [nodes]="phases()"
    [project]="project()"
    [rowReorderable]="claims() | check : canEditClaim"
    [expandedKeys]="phaseIds() ?? []"
    [menuItems]="phases() | taskMenu : taskId"
    [isDraggable]="true"
    (actionClicked)="service.action($event, taskId!)"
    (reordered)="service.reordered($event)"
    (selectedChanged)="taskId = $event.id"
    (showDetails)="navigate.toTask($event)"
  />
</div>

<wbs-task-modal />
