<div class="card dashboard-card mg-10">
  <div class="d-flex card-header flex-align-center">
    <div>
      {{ "General.Settings" | translate }} > {{ "General.General" | translate }}
    </div>
    <div class="flex-fill text-end">
      <wbs-fading-message
        [icon]="checkIcon"
        message="General.Saved"
        [show]="saveState() === 'saved'"
        cssClass="tx-success tx-12 mg-r-10"
      />
      <wbs-save-button
        size="small"
        [disabled]="!canSave()"
        [isSaving]="saveState() === 'saving'"
        (click)="save()"
      />
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid pd-15">
      <div class="row mb-5">
        <label class="col-md-2 col-sm-12 col-form-label">
          {{ "ProjectCreate.Category_Title" | translate }}
        </label>
        <div class="col-md-10 col-sm-12">
          <wbs-project-category-dropdown [(category)]="category" />
          <wbs-info-message
            cssClass="d-inline-block mg-t-5"
            message="ProjectCreate.Category_Description"
          />
        </div>
      </div>
      <div class="row mb-5">
        <label [for]="titleControl" class="col-md-2 col-sm-12 col-form-label">
          {{ "General.Title" | translate }}
        </label>
        <div class="col-md-10 col-sm-12">
          <input
            #titleControl
            kendoTextBox
            class="form-control"
            [(ngModel)]="title"
          />
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-2 d-none d-md-block">
          <label [for]="descriptionEditor" class="col-form-label">
            {{ "General.Description" | translate }}
          </label>
        </div>
        <div class="col-12 d-flex d-md-none">
          <label [for]="descriptionEditor" class="col-form-label">
            {{ "General.Description" | translate }}
          </label>
          <div class="flex-fill text-end">
            <wbs-ai-button
              themeColor="primary"
              size="small"
              (click)="askAi.set(true)"
            />
          </div>
        </div>
        <div class="col-md-10 col-sm-12">
          <div class="w-100 mg-b-5 text-end d-none d-md-block">
            <wbs-ai-button
              themeColor="primary"
              size="small"
              (click)="askAi.set(true)"
            />
          </div>
          <kendo-editor #descriptionEditor [(ngModel)]="description" />
        </div>
      </div>
    </div>
  </div>
</div>

@if (askAi()) {
<wbs-description-ai-dialog
  [(description)]="description"
  [startingDialog]="descriptionAiStartingDialog()"
  (descriptionChange)="askAi.set(false)"
  (closed)="askAi.set(false)"
/>
}
