<div class="container-fluid">
  <div class="row row-sm">
    <div class="offset-lg-1 col-lg-4 col-md-6 col-sm-6">
      <div class="card tx-center border-1 bd-primary">
        <div class="card-body">
          <img
            class="wd-40 hd-40"
            src="https://imagedelivery.net/UNpURFLvIIdmk6NSmOg2Rg/53c991cc-9d37-4b30-b911-962f61eea000/icon"
            alt="Library"
          />
          <h5 class="mg-t-10">
            {{ "ProjectCreate.From_Library_Title" | translate }}
          </h5>
          <p class="card-text ht-60">
            {{ "ProjectCreate.From_Library_Description" | translate }}
          </p>
          <button class="btn btn-primary w-100">Coming Soon...</button>
        </div>
      </div>
    </div>
    <div class="offset-lg-1 col-lg-4 col-md-6 col-sm-6">
      <div class="card tx-center border-1 bd-primary">
        <div class="card-body">
          <img
            class="wd-40 hd-40"
            src="https://imagedelivery.net/UNpURFLvIIdmk6NSmOg2Rg/7aa4520c-cb3d-4359-2f63-551f7e529100/icon"
            alt="By Hand"
          />
          <h5 class="mg-t-10">
            {{ "ProjectCreate.By_Hand_Title" | translate }}
          </h5>
          <p class="card-text ht-60">
            {{ "ProjectCreate.By_Hand_Description" | translate }}
          </p>
          <button class="btn btn-primary w-100" (click)="scratch()">
            {{ "General.Select" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-project-create-footer view="b-c"></app-project-create-footer>
