<div class="d-flex flex-align-start child-hoverer pd-r-20">
  @if (category() | projectCategoryIcon; as url) {
  <div class="wd-50 tx-center">
    <img
      [src]="url"
      [title]="category() | projectCategoryLabel | translate"
      class="wd-30 h-auto"
    />
  </div>
  } @if (editMode()) {
  <div>
    <kendo-textbox
      class="wd-300"
      [(ngModel)]="editTitle"
      (keydown)="keydown($event)"
    >
      <ng-template kendoTextBoxSuffixTemplate>
        <button kendoButton fillMode="clear" (click)="save()">
          <fa-icon
            class="pointer"
            [icon]="faFloppyDisk"
            [title]="'General.Save' | translate"
          />
        </button>
        <button kendoButton fillMode="clear" (click)="cancel()">
          <fa-icon
            class="pointer"
            [icon]="faXmark"
            [title]="'General.Cancel' | translate"
          />
        </button>
      </ng-template>
    </kendo-textbox>
  </div>
  } @else {
  <span class="tx-20 tx-medium mg-r-10">
    {{ title() }}
  </span>
  @if (canEdit()) {
  <fa-icon
    size="sm"
    class="pointer child-to-show"
    [icon]="faPencil"
    (click)="edit()"
    [title]="'General.Edit' | translate"
  />
  } }
</div>
