<div class="container-fluid">
  <div class="row mg-b-20">
    <div class="col-8 offset-2">
      <div class="card overflow-hidden">
        <div class="card-header pd-b-0 border-bottom-0 tx-center">
          <h4 class="card-title">Membership Rollup</h4>
        </div>
        <div class="card-body tx-center">
          <div class="row mb-2">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <p class="mb-1">Total Members</p>
              <h5>{{ members()?.length ?? 0 }}</h5>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <p class="mb-1">Total Invites</p>
              <h5>{{ invites()?.length ?? 0 }}</h5>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <p class="mb-1">Total Capacity</p>
              <h5>
                {{ capacity() ?? ("OrgSettings.Unlimited" | translate) }}
              </h5>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <p class="mb-1">Capacity Remaining</p>
              <h5>
                {{ remaining() ?? ("OrgSettings.Unlimited" | translate) }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-b-20">
      <div class="col-6">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn"
            [ngClass]="{
              'btn-primary': view() === 'members',
              'btn-outline-primary': view() !== 'members'
            }"
            (click)="view.set('members')"
          >
            {{ "General.Members" | translate }}
          </button>
          <button
            type="button"
            class="btn"
            [ngClass]="{
              'btn-primary': view() === 'invitations',
              'btn-outline-primary': view() !== 'invitations'
            }"
            (click)="view.set('invitations')"
          >
            {{ "OrgSettings.Invitations" | translate }}
          </button>
        </div>
      </div>
      <div class="col-6 tx-right">
        <button
          *ngIf="remaining() !== 0"
          class="btn btn-sm btn-primary"
          (click)="openInviteDialog()"
        >
          <kendo-svg-icon [icon]="plusIcon" />
          {{ "OrgSettings.InviteMembers" | translate }}
        </button>
      </div>
    </div>
    <div class="row mg-b-20">
      <div class="col-xl-8 col-lg-7 col-md-12 pd-lg-b-0 pd-md-b-20">
        <input
          type="text"
          [(ngModel)]="textFilter"
          class="form-control w-100"
          placeholder="Search by name or email"
        />
      </div>
      <div class="col-xl-4 col-lg-5 col-md-12">
        <wbs-role-filter-list (valueChanged)="roleFilters.set($event)" />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <wbs-member-list
          *ngIf="view() === 'members'"
          [roles]="roleFilters()"
          [members]="members()"
          [textFilter]="textFilter"
        />
        <wbs-invitation-list
          *ngIf="view() === 'invitations'"
          [roles]="roleFilters()"
          [invites]="invites()"
          [textFilter]="textFilter"
        />
      </div>
    </div>
  </div>
</div>
