<div class="container-fluid">
  <div class="row mg-b-20">
    <div class="col-6">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button
          type="button"
          class="btn"
          [ngClass]="{
            'btn-primary': view === 'members',
            'btn-outline-primary': view !== 'members'
          }"
          [routerLink]="['/', org, 'settings', 'members']"
        >
          {{ "General.Members" | translate }}
        </button>
        <button
          type="button"
          class="btn"
          [ngClass]="{
            'btn-primary': view === 'invitations',
            'btn-outline-primary': view !== 'invitations'
          }"
          [routerLink]="['/', org, 'settings', 'members', 'invitations']"
        >
          {{ "OrgSettings.Invitations" | translate }}
        </button>
      </div>
    </div>
    <div class="col-6 tx-right">
      <span class="pd-r-10">
        {{ members()?.length ?? 0 }} / Unlimited Seats
      </span>
      <button class="btn btn-sm btn-primary">
        <kendo-svg-icon [icon]="plusIcon" />
        Invite Members
      </button>
    </div>
  </div>
  <div class="row mg-b-20">
    <div class="col-lg-8 col-md-12 pd-lg-b-0 pd-md-b-20">
      <input
        type="text"
        [(ngModel)]="textFilter"
        class="form-control w-100"
        placeholder="Search by name or email"
      />
    </div>
    <div class="col-lg-4 col-md-12">
      <kendo-dropdownlist
        size="medium"
        class="w-100"
        [data]="roles"
        [(value)]="role"
        textField="text"
        valueField="name"
        [valuePrimitive]="true"
      >
        <ng-template
          kendoDropDownListItemTemplate
          kendoDropDownListValueTemplate
          let-dataItem
        >
          {{ dataItem.text | translate }}
        </ng-template>
      </kendo-dropdownlist>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <wbs-member-list
        *ngIf="view === 'members'"
        [role]="role"
        [members]="members()"
        [textFilter]="textFilter"
      />
      <wbs-invitation-list
        *ngIf="view === 'invitations'"
        [role]="role"
        [textFilter]="textFilter"
      />
    </div>
  </div>
</div>
