<div class="container-fluid">
  <div class="row mg-b-20">
    <div
      class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1"
    >
      <div class="card overflow-hidden">
        <div class="card-header pd-b-0 border-bottom-0">
          <h4 class="card-title tx-center">
            {{ "OrgSettings.MembershipRollup" | translate }}
          </h4>
        </div>
        <div class="card-body tx-center d-none d-sm-block">
          <div class="row mb-2">
            <div class="col-3">
              <p class="mb-1">
                {{ "General.Members" | translate }}
              </p>
              <h5>
                @if (isLoading()) {
                <fa-duotone-icon [icon]="faSpinner" size="sm" [spin]="true" />
                } @else {
                {{ members().length }}
                }
              </h5>
            </div>
            <div class="col-3">
              <p class="mb-1">
                {{ "OrgSettings.Invitations" | translate }}
              </p>
              <h5>
                @if (isLoading()) {
                <fa-duotone-icon [icon]="faSpinner" size="sm" [spin]="true" />
                } @else {
                {{ invites().length }}
                }
              </h5>
            </div>
            <div class="col-3">
              <p class="mb-1">
                {{ "OrgSettings.Capacity" | translate }}
              </p>
              <h5>
                @if (isLoading()) {
                <fa-duotone-icon [icon]="faSpinner" size="sm" [spin]="true" />
                } @else {
                {{ capacity() ?? ("OrgSettings.Unlimited" | translate) }}
                }
              </h5>
            </div>
            <div class="col-3">
              <p class="mb-1">
                {{ "OrgSettings.Remaining" | translate }}
              </p>
              <h5>
                @if (isLoading()) {
                <fa-duotone-icon [icon]="faSpinner" size="sm" [spin]="true" />
                } @else {
                {{ remaining() ?? ("OrgSettings.Unlimited" | translate) }}
                }
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body d-xs-block d-sm-none">
          <div class="row mb-2">
            <div class="col-6">
              {{ "General.Members" | translate }}
            </div>
            <div class="col-6 tx-center">
              <h5>
                @if (isLoading()) {
                <fa-duotone-icon [icon]="faSpinner" size="sm" [spin]="true" />
                } @else {
                {{ members.length }}
                }
              </h5>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-6">
              {{ "OrgSettings.Invitations" | translate }}
            </div>
            <div class="col-6 tx-center">
              <h5>
                @if (isLoading()) {
                <fa-duotone-icon [icon]="faSpinner" size="sm" [spin]="true" />
                } @else {
                {{ invites().length }}
                }
              </h5>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-6">
              {{ "OrgSettings.Capacity" | translate }}
            </div>
            <div class="col-6 tx-center">
              <h5>
                @if (isLoading()) {
                <fa-duotone-icon [icon]="faSpinner" size="sm" [spin]="true" />
                } @else {
                {{ capacity() ?? ("OrgSettings.Unlimited" | translate) }}
                }
              </h5>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-6">
              {{ "OrgSettings.Remaining" | translate }}
            </div>
            <div class="col-6 tx-center">
              <h5>
                @if (isLoading()) {
                <fa-duotone-icon [icon]="faSpinner" size="sm" [spin]="true" />
                } @else {
                {{ remaining() ?? ("OrgSettings.Unlimited" | translate) }}
                }
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @if (isLoading()) {
  <div class="row">
    <div class="col-12 tx-center mg-t-50">
      <fa-duotone-icon [icon]="faSpinner" size="5x" [spin]="true" />
      <h3 class="pd-t-20">
        {{ "General.Loading" | translate }}
      </h3>
    </div>
  </div>
  } @else {
  <div class="row">
    <div class="col-12">
      <div class="row mg-b-20">
        <div class="col-6">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              type="button"
              class="btn"
              [ngClass]="{
                'btn-primary': view() === 'members',
                'btn-outline-primary': view() !== 'members'
              }"
              (click)="view.set('members')"
            >
              {{ "General.Members" | translate }}
            </button>
            <button
              type="button"
              class="btn"
              [ngClass]="{
                'btn-primary': view() === 'invitations',
                'btn-outline-primary': view() !== 'invitations'
              }"
              (click)="view.set('invitations')"
            >
              {{ "OrgSettings.Invitations" | translate }}
            </button>
          </div>
        </div>
        <div class="col-6 tx-right">
          @if (canAdd()) {
          <button
            class="btn btn-sm btn-primary"
            (click)="showInviteDialog.set(true)"
          >
            <fa-icon [icon]="faPlus" />
            <span class="d-none d-sm-inline">
              {{ "OrgSettings.InviteMembers" | translate }}
            </span>
          </button>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-7 col-md-12 mg-b-20">
          <input
            type="text"
            [(ngModel)]="textFilter"
            class="form-control w-100"
            placeholder="Search by name or email"
          />
        </div>
        <div class="col-xl-4 col-lg-5 col-md-12 mg-b-20">
          @if (roleDefinitions(); as roles) {
          <wbs-role-filter-list
            [roles]="roles"
            (valueChanged)="roleFilters.set($event)"
          />
          }
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          @if (view() === 'members') { @if (roleDefinitions(); as roles) {
          <wbs-member-list
            [org]="org()"
            [filteredRoles]="roleFilters()"
            [roles]="roles"
            [(members)]="members"
            [textFilter]="textFilter"
          />
          } } @else if (view() === 'invitations') {
          <wbs-invitation-list
            [org]="org()"
            [filteredRoles]="roleFilters()"
            [(invites)]="invites"
            [textFilter]="textFilter"
          />
          }
        </div>
      </div>
    </div>
  </div>
  }
</div>
