<kendo-dialog
  *ngIf="open"
  actionsLayout="normal"
  [title]="'Wbs.DeleteNode' | translate"
  [width]="450"
  (close)="closeDelete()"
>
  <wbs-node-delete-reasons #reasons [(value)]="dReason">
  </wbs-node-delete-reasons>

  <div *ngIf="dReason?.id === 'delete-other'" class="other-panel">
    <label>{{ "Wbs.PleaseSpecify" | translate }}:</label>
    <kendo-textarea [style.width.%]="100" resizable="auto" [(ngModel)]="dOther">
    </kendo-textarea>
  </div>
  <kendo-dialog-actions layout="stretched">
    <button kendoButton (click)="closeDelete()">
      {{ "General.Cancel" | translate }}
    </button>
    <button
      kendoButton
      [disabled]="!dReason || (dReason?.id === 'delete-other' && !dOther)"
      (click)="finishDelete()"
      themeColor="primary"
    >
      {{ "General.Confirm" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
