<a
  *ngIf="resource.type === 'link'"
  class="text-decoration-none tx-black"
  [href]="resource.resource"
  target="_blank"
>
  <fa-icon [icon]="faEye" />
</a>
<a
  *ngIf="resource.type !== 'link'"
  class="pointer text-decoration-none tx-black"
  (click)="open(content)"
>
  <fa-icon [icon]="faEye" />
</a>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ resource.name }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('')"
    ></button>
  </div>
  <div *ngIf="resource.type === 'image'" class="modal-body">
    <img class="w-100" [src]="resource.resource" />
  </div>
  <div *ngIf="resource.type === 'pdf'" class="modal-body">
    <kendo-pdfviewer
      style="height: 100%"
      [tools]="tools"
      [url]="resource.resource"
      [saveFileName]="resource.name + '.pdf'"
    />
  </div>
  <div *ngIf="resource.type === 'youtube'" class="modal-body tx-center">
    <iframe
      frameborder="0"
      [wbsYouTubeSizer]="resource.resource"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</ng-template>
