<div class="pd-x-100">
  <kendo-floatinglabel text="Name" class="w-100">
    <kendo-multiselect
      [(ngModel)]="disciplineIds"
      textField="name"
      valueField="id"
      [valuePrimitive]="true"
      [data]="(disciplines$ | async) ?? []"
    >
    </kendo-multiselect>
  </kendo-floatinglabel>
  <br />
  <kendo-floatinglabel text="Description" class="w-100 pd-t-20">
  </kendo-floatinglabel>
</div>

<wbs-node-bottom-buttons (nextClicked)="go()" (previousClicked)="back()">
</wbs-node-bottom-buttons>

<!--
  If Phase View:
      * Find Phase category of parent,
      * Display
      * Mark as read-only and explain why
      * Show multiple list disciplines
  If Discipline View:
      * Show single select phase list
      * Show multiple list disciplines
      * Find discipline of parent
      * Automatically add the discpline list
-->
