<kendo-dialog
  actionsLayout="normal"
  [title]="'Wbs.DeleteNode' | translate"
  [width]="450"
  (close)="closeDelete()"
>
  <wbs-node-delete-reasons #reasons [(value)]="dReason">
  </wbs-node-delete-reasons>

  <div *ngIf="dReason?.id === 'delete-other'" class="other-panel">
    <label>{{ "Wbs.PleaseSpecify" | translate }}:</label>
    <textarea [style.width.%]="100" resizable="auto" [(ngModel)]="dOther">
    </textarea>
  </div>
  <kendo-dialog-actions layout="stretched">
    <button class="btn btn-outline-dark" (click)="closeDelete()">
      {{ "General.Cancel" | translate }}
    </button>
    <button
      class="btn btn-primary"
      [disabled]="!dReason || (dReason?.id === 'delete-other' && !dOther)"
      (click)="finishDelete()"
    >
      {{ "General.Confirm" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
