<kendo-dialog
  height="90%"
  width="90%"
  maxWidth="1200px"
  (close)="dialog.close()"
>
  <kendo-dialog-titlebar class="bg-gray-200">
    {{ "General.CreateProject" | translate }}
  </kendo-dialog-titlebar>
  <wbs-dialog-wrapper [view]="store.page()" [steps]="steps">
    @if (store.page() === 0) {
    <wbs-project-create-basics />
    } @else if (store.page() === 1) {
    <wbs-project-create-category />
    } @else if (store.page() === 2) {
    <wbs-project-create-phases />
    } @else if (store.page() === 3) {
    <wbs-project-create-disciplines />
    } @else if (store.page() === 4) {
    <wbs-project-create-roles />
    }
  </wbs-dialog-wrapper>
  <kendo-dialog-actions>
    <wbs-dialog-buttons
      [view]="store.page()"
      [canContinue]="store.canContinue()"
      [showSave]="store.page() === 4"
      [isSaving]="saving.state() === 'saving'"
      [saveLabel]="'General.Create'"
      [savingLabel]="'General.Creating'"
      (next)="next()"
      (back)="back()"
      (save)="save()"
    />
  </kendo-dialog-actions>
</kendo-dialog>
