<div *ngIf="categories" class="display-flex flex-flow-col flex-align-stretch">
  <div *ngIf="showButtons" class="pd-b-10 text-center">
    <button
      class="btn btn-outline-dark mg-x-10"
      (click)="hideUnselected.set(!hideUnselected())"
    >
      <fa-icon [icon]="hideUnselected() ? faEye : faEyeSlash" />
      {{
        (hideUnselected()
          ? "Projects.ShowUnselected"
          : "Projects.HideUnselected"
        ) | translate
      }}
    </button>

    <button class="btn btn-outline-dark mg-x-10" (click)="showCreate()">
      <fa-icon [icon]="faPlus" />
      {{ "General.Add" | translate }}
    </button>

    <button
      *ngIf="showSave"
      class="btn btn-dark mg-x-10"
      (click)="saveClicked.emit()"
    >
      <fa-icon [icon]="faFloppyDisk" />
      {{ "General.Save" | translate }}
    </button>
  </div>
  <div class="scroll mg-b-10" style="flex: auto">
    <div class="container">
      <div
        *ngFor="let dropTarget of dropTargets"
        kendoDropTarget
        (onDragEnter)="handleDragEnter(dropTarget)"
        (onDrop)="handleDrop(dropTarget)"
        (onDragLeave)="handleDragLeave()"
        [ngClass]="{
          'my-drop': true,
          entered: enteredBox === dropTarget && enteredBox !== currentBox
        }"
      >
        <div kendoDragTarget *ngIf="currentBox === dropTarget" class="my-drag">
          <button
            kendoButton
            kendoDragHandle
            [svgIcon]="moveIcon"
            fillMode="flat"
          ></button>
          {{ btnText }}
        </div>
        {{ currentBox !== dropTarget ? "Drop Here" : "" }}
      </div>
    </div>
    <!-- <kendo-listview
      class="demo-listview"
      [data]="categories"
      [itemClass]="{ 'item-border': true }"
      data-kendo-listview-index="0"
    >
      <ng-template kendoListViewItemTemplate let-cat="dataItem">
        <div
          *ngIf="!hideUnselected() || cat.selected"
          class="list-group-item display-flex flex-row pd-l-0"
        >
          <span class="k-icon k-i-reorder"></span>
          <div class="wd-60 tx-semibold text-center tx-28">
            <span *ngIf="cat.selected"> {{ cat.number }}. </span>
          </div>
          <div class="flex-grow-1">
            <div class="tx-16">
              {{ cat.label | translate }}
            </div>
            <div class="tx-12 font-italic">
              {{ cat.description | translate }}
            </div>
          </div>
          <div class="pd-t-5">
            <wbs-switch
              [(value)]="cat.selected"
              [confirmMessage]="cat.confirm?.label"
              [confirmData]="cat.confirm?.data"
              (valueChange)="changed()"
            />
          </div>
        </div>
      </ng-template>
    </kendo-listview>
  
    <kendo-sortable
      [kendoSortableBinding]="categories"
      [ngClass]="'list-group display-ib text-start w-100'"
      [itemStyle]="{ cursor: 'move' }"
      [itemClass]="'opacity-1'"
      emptyItemClass="h-30 bd-2 bd-dashed border-dark"
      [activeItemStyle]="{ border: '2px dashed black', opacity: '0.7' }"
      zone="innerZone"
      (dataMove)="rebuild()"
      (dragEnd)="rebuild()"
    >
      <ng-template let-cat="item">
        <div
          *ngIf="!hideUnselected() || cat.selected"
          class="list-group-item display-flex flex-row pd-l-0"
        >
          <div class="wd-60 tx-semibold text-center tx-28">
            <span *ngIf="cat.selected"> {{ cat.number }}. </span>
          </div>
          <div class="flex-grow-1">
            <div class="tx-16">
              {{ cat.label | translate }}
            </div>
            <div class="tx-12 font-italic">
              {{ cat.description | translate }}
            </div>
          </div>
          <div class="pd-t-5">
            <wbs-switch
              [(value)]="cat.selected"
              [confirmMessage]="cat.confirm?.label"
              [confirmData]="cat.confirm?.data"
              (valueChange)="changed()"
            />
          </div>
        </div>
      </ng-template>
    </kendo-sortable>-->
  </div>
</div>
