<div *ngIf="categories" class="display-flex flex-flow-col flex-align-stretch">
  <div *ngIf="showButtons" class="pd-b-10 text-center">
    <button
      class="btn btn-outline-dark mg-x-10"
      (click)="hideUnselected.set(!hideUnselected())"
    >
      <fa-icon [icon]="hideUnselected() ? faEye : faEyeSlash" />
      {{
        (hideUnselected()
          ? "Projects.ShowUnselected"
          : "Projects.HideUnselected"
        ) | translate
      }}
    </button>

    <button class="btn btn-outline-dark mg-x-10" (click)="showCreate()">
      <fa-icon [icon]="faPlus" />
      {{ "General.Add" | translate }}
    </button>

    <button
      *ngIf="showSave"
      class="btn btn-dark mg-x-10"
      (click)="saveClicked.emit()"
    >
      <fa-icon [icon]="faFloppyDisk" />
      {{ "General.Save" | translate }}
    </button>
  </div>
  <div class="scroll mg-b-10" style="flex: auto">
    <kendo-sortable
      *ngIf="!isMobile()"
      [kendoSortableBinding]="categories"
      [ngClass]="'list-group display-ib text-start w-100'"
      [itemStyle]="{ cursor: 'move' }"
      [itemClass]="'opacity-1'"
      emptyItemClass="h-30 bd-2 bd-dashed border-dark"
      [activeItemStyle]="{ border: '2px dashed black', opacity: '0.7' }"
      zone="innerZone"
      (dragStart)="onDragStart($event)"
      (dataMove)="rebuild()"
      (dragEnd)="rebuild()"
    >
      <ng-template let-cat="item">
        <wbs-category-list-item
          [cat]="cat"
          [hideUnselected]="hideUnselected()"
          (changed)="changed()"
        />
      </ng-template>
    </kendo-sortable>
    <div *ngIf="isMobile()" class="list-group display-ib text-start w-100">
      <div
        *ngFor="let cat of categories"
        class="opacity-1'"
        style="cursor: 'move'"
      >
        <wbs-category-list-item
          [cat]="cat"
          [hideUnselected]="hideUnselected()"
          (changed)="changed()"
        />
      </div>
    </div>
  </div>
</div>
