@if (phases(); as phases) {
<div class="d-flex flex-column">
  <div class="tx-italic tx-14 pd-b-5">
    {{ "Projects.TreeInstructions" | translate }}
  </div>
  <div class="flex-fill">
    <kendo-treelist
      #treelist
      class="tx-12"
      kendoTreeListExpandable
      kendoTreeListSelectable
      [kendoTreeListFlatBinding]="phases"
      parentIdField="treeParentId"
      idField="treeId"
      [rowReorderable]="claims | check : canEditClaim"
      [initiallyExpanded]="false"
      [(expandedKeys)]="expandedKeys"
      [selectable]="settings"
      [navigable]="true"
      (selectionChange)="taskId.set($event.items[0].dataItem.id)"
      (dblclick)="navigate.toTaskPage(taskId()!, 'about')"
      (rowReorder)="onRowReordered($event)"
      (cellClick)="onCellClick($event)"
    >
      @if (claims | check : canEditClaim) {
      <kendo-treelist-rowreorder-column [width]="40" />
      }
      <kendo-treelist-column
        field="levelText"
        [title]="'Wbs.Level' | translate"
        [width]="100"
        class="level-column tx-11"
        headerClass="level-header-column tx-14"
      />
      <kendo-treelist-column
        [expandable]="true"
        field="title"
        [title]="'Projects.Activity_Title' | translate"
        class="tx-11"
        headerClass="tx-14"
      />
      @if (project?.approvalStarted) {
      <kendo-treelist-column
        [width]="175"
        [title]="'Approval'"
        headerClass="tx-14"
      >
        <ng-template kendoTreeListCellTemplate let-dataItem>
          <div class="tx-12 w-100 d-flex flex-row flex-align-center">
            <wbs-approval-badge
              [fontSize]="11"
              [childrenIds]="dataItem.childrenIds"
              [approval]="approvals() | findById : dataItem.id"
            />
            @if (approvals() | findThemById : dataItem.childrenIds |
            childrenApproval; as stats) {
            <div class="d-ib wd-100 mg-l-10" [title]="stats.totalCount">
              <wbs-progress-bar
                [passPercent]="stats.passedPercent"
                [failPercent]="stats.failedPercent"
              />
            </div>
            }
          </div>
        </ng-template>
      </kendo-treelist-column>
      } @if ((width() ?? 0) > 800) {
      <kendo-treelist-column
        field="disciplines"
        [width]="150"
        class="discipline-column"
        headerClass="discipline-column tx-14"
      >
        <ng-template kendoTreeListHeaderTemplate>
          <wbs-tree-discipline-legend
            [idsOrCats]="project?.disciplines ?? []"
          />
        </ng-template>
        <ng-template kendoTreeListCellTemplate let-dataItem>
          <wbs-discipline-icon-list [disciplines]="dataItem.disciplines" />
        </ng-template>
      </kendo-treelist-column>
      }
    </kendo-treelist>
    <kendo-contextmenu
      [items]="menu()"
      (select)="service.action($event.item.action, taskId()!)"
    >
      <ng-template kendoMenuItemTemplate let-item="item">
        {{ item.text | translate }}
      </ng-template>
    </kendo-contextmenu>
  </div>
</div>
}
