<div class="card-header tx-16">
  <div class="d-flex flex-align-center">
    <div>{{ "General.Contributors" | translate }}</div>
    @if (store.canEditProject()) {
    <div class="flex-fill tx-right">
      <button
        kendoButton
        size="small"
        fillMode="flat"
        class="p-0"
        (click)="launchEdit()"
      >
        <fa-icon [icon]="editIcon" />
      </button>
    </div>
    }
  </div>
</div>
<div class="card-body d-flex flex-row flex-wrap gap-20">
  @for (x of contributors(); track x.user.userId + '-' + x.role) {
  <div class="card border text-start">
    <div class="card-header bg-light-blue-f">{{ x.role | roleTitle }}</div>
    <div class="card-body">
      <wbs-user-info [user]="x.user" />
    </div>
  </div>
  }
</div>
