<kendo-dialog [title]="'OrgSettings.SendInvite' | translate">
  <div class="container-fluid">
    <div class="row mb-3">
      <label for="emails" class="col-sm-2 col-form-label">
        {{ "General.Emails" | translate }}
      </label>
      <div class="col-sm-10">
        <input
          #emails
          type="text"
          class="form-control"
          [autocomplete]="false"
        />
        <div id="emailHelp" class="form-text">
          {{ "OrgSettings.InviteEmailHint" | translate }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">
        {{ "General.Roles" | translate }}
      </label>
      <div class="col-sm-10">
        <div class="btn-group">
          @for (role of roleDefinitions; track role.id) {
          <button
            class="btn"
            [ngClass]="{
              'btn-primary': roles().includes(role.id),
              'btn-outline-primary': !roles().includes(role.id),
            }"
            (click)="toggleRole(role.id)"
          >
            {{ role.abbreviation | translate }}
          </button>
          }
        </div>
      </div>
    </div>
    @if (errors.length > 0) {
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">
        {{ "General.Errors" | translate }}
      </label>
      <div class="col-sm-10">
        <p>{{ "OrgSettings.InviteErrorHeader" | translate }}:</p>
        <ul class="tx-danger">
          @for (error of errors; track $index) {
          <li>
            {{ error.email ? error.email + ": " : "" }}
            {{ error.error | translate }}
          </li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
  <kendo-dialog-actions layout="end">
    <button type="button" class="btn btn-outline-dark" (click)="dialog.close()">
      {{ "General.Close" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="submit(emails.value)"
    >
      {{ "OrgSettings.SendInvite" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
