<kendo-dialog
  [title]="'OrgSettings.SendInvite' | translate"
  (close)="dialog.close()"
>
  <div class="container-fluid">
    <div class="row mb-3">
      <label for="emails" class="col-sm-2 col-form-label">
        {{ "General.Emails" | translate }}
      </label>
      <div class="col-sm-10">
        <textarea
          #emails
          class="form-control"
          class="w-100"
          rows="5"
        ></textarea>
        <div id="emailHelp" class="form-text">
          {{ "OrgSettings.InviteEmailHint" | translate }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">
        {{ "General.Roles" | translate }}
      </label>
      <div class="col-sm-10">
        <kendo-buttongroup selection="multiple">
          @for (role of roleDefinitions; track role.id) {
          <button
            kendoButton
            size="small"
            [selected]="roles().includes(role.id)"
            (click)="toggleRole(role.id)"
          >
            {{ role.abbreviation | translate }}
          </button>
          }
        </kendo-buttongroup>
      </div>
    </div>
    @if (errors.length > 0) {
    <div class="row mb-3 tx-danger">
      <label class="col-sm-2">
        {{ "General.Errors" | translate }}
      </label>
      <div class="col-sm-10">
        <p>{{ "OrgSettings.InviteErrorHeader" | translate }}:</p>
        <ul>
          @for (error of errors; track $index) {
          <li>
            {{ error.email ? error.email + ": " : "" }}
            {{ error.error | translate }}
          </li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
  <kendo-dialog-actions layout="end">
    <button type="button" class="btn btn-outline-dark" (click)="dialog.close()">
      {{ "General.Close" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="submit(emails.value)"
    >
      {{ "OrgSettings.SendInvite" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
