<div [ngSwitch]="page$ | async">
  <div *ngSwitchCase="'starter'">
    <wbs-node-starter></wbs-node-starter>
  </div>
  <div *ngSwitchCase="'title'">
    <wbs-node-create-title></wbs-node-create-title>
  </div>
  <div *ngSwitchCase="'phase'">
    <wbs-node-phase-picker></wbs-node-phase-picker>
  </div>
  <div *ngSwitchCase="'discipline'">
    <wbs-node-discipline-picker></wbs-node-discipline-picker>
  </div>
  <div *ngSwitchCase="'flags'">
    <wbs-node-other-flags></wbs-node-other-flags>
  </div>
</div>
