<kendo-dialog
  actionsLayout="normal"
  [title]="title ?? '' | translate"
  [width]="width"
  (close)="close(null)"
>
  {{ message ?? "" | translate }}

  <kendo-textbox [(ngModel)]="value"> </kendo-textbox>
  <kendo-dialog-actions layout="stretched">
    <button class="btn btn-outline-dark" (click)="close(null)">
      {{ "General.Cancel" | translate }}
    </button>
    <button class="btn btn-primary" (click)="close(value)">
      {{ "General.Save" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
