<div cdkDropList (cdkDropListDropped)="onDrop($event)">
  <div class="rr-item rr-list-header">
    @if (claims() | check : editClaim) {
    <div class="reorder-item">&nbsp;</div>
    }
    <div class="type-item">{{ "General.Type" | translate }} &nbsp;</div>
    <div class="name-item">{{ "General.Name" | translate }}</div>
    <div class="description-item">{{ "General.Description" | translate }}</div>
    <div class="modified-item">
      {{ "General.LastModified" | translate }}
    </div>
    <div class="view-item">&nbsp;</div>
    @if (claims() | check : [editClaim, deleteClaim]) {
    <div class="actions-item">&nbsp;</div>
    }
  </div>
  @for (dataItem of list(); track dataItem.id) {
  <div class="rr-item rr-list-item" cdkDrag>
    @if (claims() | check : editClaim) {
    <div class="reorder-item">
      <span cdkDragHandle style="cursor: grab">
        <fa-icon [icon]="faBars" />
      </span>
    </div>
    }
    <div class="type-item">
      <wbs-resource-type-text [type]="dataItem.type" />
    </div>
    <div class="name-item">{{ dataItem.name }}</div>
    <div class="description-item">{{ dataItem.description }}</div>
    <div class="modified-item">{{ dataItem.lastModified | dateText }}</div>
    <div class="view-item">
      <wbs-resource-view-link
        [record]="dataItem"
        [apiUrlPrefix]="apiUrlPrefix()"
      />
    </div>
    @if (claims() | check : [editClaim, deleteClaim]) {
    <div class="actions-item">
      <a
        class="pointer text-decoration-none tx-black"
        (click)="edit.emit(dataItem)"
      >
        <fa-icon [icon]="faGear" />
      </a>
    </div>
    }
  </div>
  }
</div>
