@import "../../../../../styles/variables.scss";

.rr-item {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  font-size: 12px;
  padding: 10px;
}

.rr-list-header {
  font-weight: 600;
  color: #00b598;
  background-color: #383853;
}

.reorder-item {
  width: 40px;
  flex: 0 0 40px;
}

.type-item {
  width: 100px;
  flex: 0 0 100px;
}

.name-item {
  width: 200px;
  flex: 0 0 200px;
}

.description-item {
  flex: 1 1 auto;
}

.modified-item {
  width: 150px;
  flex: 0 0 150px;
}

.actions-item {
  width: 30px;
  flex: 0 0 30px;
  text-align: center;
}

.view-item {
  width: 30px;
  flex: 0 0 30px;
  text-align: center;
}

.rr-list-item:nth-child(odd) {
  background: $gray-200;
}

.k-listview-item:hover {
  background-color: $gray-400;
}

.k-d-flex.k-flex-wrap {
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .modified-item {
    display: none;
  }
}

@media (max-width: 576px) {
  .description-item {
    display: none;
  }

  .name-item {
    width: unset;
    flex: 1 1 auto;
  }
}
