<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <div
      class="navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
      <ul ngbNav class="tx-14 tx-medium">
        @for (link of links; track $index) { @if ((link.showIf == undefined ||
        link.showIf(store)) && (claims | check : link.claim)){ @if
        (link.children) {
        <li ngbDropdown class="nav-item tx-uppercase" [ngClass]="link.classes">
          <a
            ngbDropdownToggle
            class="nav-link pd-y-5 pd-x-20 pointer"
            role="button"
          >
            {{ link.title | translate }}
          </a>
          <div ngbDropdownMenu class="z-index: 10000;">
            @for (child of link.children; track $index) { @if (claims | check :
            child.claim) { @if (child.fragment) {
            <a
              ngbDropdownItem
              [routerLink]="
                link.fragment
                  ? ['./', link.fragment, child.fragment]
                  : ['./', child.fragment]
              "
            >
              {{ child.title | translate }}
            </a>
            } @else if (child.action) {
            <a ngbDropdownItem class="pointer" (click)="call(child.action)">
              {{ child.title | translate }}
            </a>
            } } }
          </div>
        </li>

        } @else {

        <li [ngClass]="link.classes" class="nav-item tx-uppercase">
          @if (link.fragment) {
          <a
            [routerLink]="['./', link.fragment]"
            class="nav-link pd-y-5 pd-x-20"
          >
            {{ link.title | translate }}
          </a>
          } @else if (link.action) {
          <a
            class="nav-link pd-y-5 pd-x-20 pointer"
            (click)="call(link.action)"
          >
            {{ link.title | translate }}
          </a>
          }
        </li>
        } } }
      </ul>
    </div>
  </div>
</nav>
