<div class="btn-group">
  <button
    type="button"
    class="btn"
    [ngClass]="{
      'btn-dark': view() === 'grid',
      'btn-outline-dark': view() !== 'grid',
    }"
    (click)="changed.emit('grid')"
  >
    <fa-icon [icon]="gridIcon" />&nbsp; Grid
  </button>
  <button
    type="button"
    class="btn"
    [ngClass]="{
      'btn-dark': view() === 'table',
      'btn-outline-dark': view() !== 'table',
    }"
    (click)="changed.emit('table')"
  >
    <fa-icon [icon]="tableIcon" />&nbsp; Table
  </button>
</div>
