<kendo-dialog
  width="80%"
  maxWidth="800px"
  [title]="'LibraryCreate.TitleTask' | translate"
  (close)="dialog.close()"
>
  <div class="pd-x-12 mb-3">
    <label for="templateTitle" class="form-label tx-18">
      {{ "LibraryCreate.TemplateTitle" | translate }}
    </label>
    <input
      kendoTextBox
      name="templateTitle"
      id="templateTitle"
      class="w-100"
      [(ngModel)]="templateTitle"
    />
    <label class="d-inline-block tx-12 tx-italic mg-t-5">
      {{ "LibraryCreate.TemplateTitleDescriptionPhase" | translate }}
    </label>
  </div>
  <div class="pd-x-12">
    <label class="form-label tx-18">
      {{ "General.Visibility" | translate }}
    </label>
    <wbs-visibility-selection [(visibility)]="visibility" />
  </div>

  <kendo-dialog-actions>
    <div class="w-100 text-end">
      <wbs-fading-message
        [icon]="checkIcon"
        message="General.Saved"
        [show]="saveState() === 'saved'"
        cssClass="tx-success tx-12 mg-r-10"
      />
      @if (newEntryId(); as newEntryId) {
      <button kendoButton class="btn btn-primary mg-l-5" (click)="nav()">
        {{ "General.View" | translate }}
      </button>
      } @else {
      <wbs-save-button
        size="small"
        [isSaving]="saveState() === 'saving'"
        (click)="save()"
      />
      }
    </div>
  </kendo-dialog-actions>
</kendo-dialog>
