<div class="main-header side-header sticky nav nav-item">
  <div class="main-container container-fluid">
    <div class="main-header-left">
      <div class="responsive-logo">
        <a routerLink="/" class="header-logo">
          <h1>PM Empower</h1>
        </a>
      </div>
      <div class="app-sidebar__toggle" data-bs-toggle="sidebar">
        <a appSidemenuToggle class="open-toggle" href="javascript:void(0);">
          <fa-icon [icon]="faAlignLeft" class="header-icon" />
        </a>
        <a appSidemenuToggle class="close-toggle" href="javascript:void(0);">
          <fa-icon [icon]="faX" class="header-icon" />
        </a>
      </div>
      <div
        *ngIf="info(); let header"
        class="mg-l-20 tx-medium tx-18 tx-uppercase"
      >
        <span *ngIf="header.titleIsResource">
          {{ header.title | translate }}
        </span>
        <span *ngIf="!header.titleIsResource">
          {{ header.title }}
        </span>
      </div>
    </div>
    <div class="main-header-right">
      <div
        *ngIf="info(); let header"
        class="display-flex w-100 mg-b-16 breadcrumb-header justify-content-between"
      >
        <div class="justify-content-center mt-2 mg-r-20">
          <ol class="breadcrumb" *ngIf="header.breadcrumbs">
            <li class="breadcrumb-item" *ngFor="let item of header.breadcrumbs">
              <a [routerLink]="item.route">{{ item.label | translate }}</a>
            </li>
            <li
              *ngIf="header.activeItem"
              class="breadcrumb-item active"
              aria-current="page"
            >
              {{ header.activeItem }}
            </li>
          </ol>
          <div *ngIf="header.rightButtons" role="group" class="btn-group">
            <ng-template ngFor [ngForOf]="header.rightButtons" let-item>
              <button
                type="button"
                *ngIf="item.type === 'link'"
                class="btn btn-dark btn-sm"
                [routerLink]="item.route"
              >
                <fa-icon *ngIf="item.icon" [icon]="item.icon" />
                <span *ngIf="item.text">
                  {{ item.text | translate }}
                </span>
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
