<header>
  <div class="header-title">{{ appTitle }}</div>
  <div class="header-toggler mg-l-20"></div>
  <div class="header-right">
    <div class="display-ib wd-60 mg-t-8 mg-r-20">
      <wbs-header-profile />
    </div>
  </div>
</header>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <span class="navbar-brand">
      {{ org()?.display_name }}
    </span>
    <!-- Collapsible wrapper -->
    <div
      class="navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <ul class="navbar-nav">
        <!-- Navbar dropdown -->
        <li *ngFor="let item of menu" class="nav-item mg-x-20" ngbDropdown>
          <a
            class="nav-link dropdown-toggle tx-uppercase"
            ngbDropdownToggle
            role="button"
          >
            {{ item.header | translate }}
          </a>
          <div ngbDropdownMenu class="pt-0">
            <ng-template ngFor [ngForOf]="item.items" let-link>
              <h6
                *ngIf="link.header"
                class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1 bg-black-1"
              >
                {{ link.header | translate }}
              </h6>
              <a
                *ngIf="link.url | orgUrl : org()?.name"
                ngbDropdownItem
                [routerLink]="link.url"
              >
                {{ link.text! | translate }}
              </a>
            </ng-template>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
