<kendo-dialog
  minWidth="600px"
  maxWidth="800px"
  width="75%"
  [title]="'Projects.ManageRoles' | translate"
  (close)="dialog.close()"
>
  <div class="w-100 text-center pd-b-5">
    <wbs-save-message [state]="saving.state()" />
  </div>
  <wbs-project-roles
    [members]="members()"
    [approvers]="approvers()"
    [pms]="pms()"
    [smes]="smes()"
    [mustConfirm]="true"
    [approvalEnabled]="approvalEnabled()"
    (addUserToRole)="add($event.role, $event.user)"
    (removeUserToRole)="remove($event.role, $event.user)"
  />
</kendo-dialog>
