<header
  class="d-flex w-100 bg-white pd-x-20 justify-content-center shadow mg-b-20"
>
  <div class="d-flex w-100 mx-wd-1200 flex-align-center ht-55">
    <div class="d-md-none pd-t-5 pd-r-5">
      <wbs-action-button [menu]="menu()" rounded="small" buttonClass="mg-y-4" />
    </div>
    <div class="header-title wd-200 tx-24 tx-semibold">
      <img
        class="w-100"
        [alt]="title"
        src="https://imagedelivery.net/UNpURFLvIIdmk6NSmOg2Rg/3e4f9947-dc82-48f4-8557-51691cf0d600/appheader"
      />
    </div>
    <div class="d-none d-md-block pd-l-20 pd-t-5">
      <kendo-menu
        [items]="menu()"
        class="header-menu"
        (select)="selected($event.item.route)"
      >
        <ng-template kendoMenuItemTemplate let-item="item">
          <div
            class="tx-14 tx-dark tx-uppercase"
            [class.tx-primary-f]="item.section === navigation.section()"
          >
            {{ item.resource | translate }}
          </div>
        </ng-template>
      </kendo-menu>
    </div>
    <div class="tx-right flex-1">
      <div class="d-inline-block">
        <wbs-workspaces />
      </div>
      <div class="d-inline-block wd-60">
        @if (profile(); as profile) {
        <wbs-header-profile [profile]="profile" [roles]="roles()" />
        }
      </div>
    </div>
  </div>
</header>
