<ng-template [ngIf]="title">
  <h4
    *ngIf="!(edit$ | async)"
    kendoTooltip
    filter="a"
    class="project-title edit-pencil-parent font-weight-semibold ms-md-4 ms-0 mb-1 pb-0"
  >
    {{ title }}
    <wbs-edit-pencil placeholder="Projects.EditProjectTitle" (click)="edit()">
    </wbs-edit-pencil>
  </h4>
  <div
    *ngIf="edit$ | async"
    class="ms-md-4 ms-0 mb-1 pb-0"
    kendoTooltip
    filter="button"
  >
    <wbs-title-editor
      [value]="editValue"
      (cancel)="edit$.next(false)"
      (save)="saveTitle($event)"
    ></wbs-title-editor>
  </div>
</ng-template>
