<div class="d-flex flex-flow-col flex-align-center tx-12">
  <div>
    <table [cellSpacing]="1" [cellPadding]="0">
      <tbody>
        <tr class="bg-gray-200">
          <td class="wd-200 border border-dark tx-center pd-5">
            {{ "General.PMs-Full" | translate }}
          </td>
          @if (approvalEnabled()) {
          <td class="wd-200 border border-dark tx-center pd-5">
            {{ "General.Approvers-Full" | translate }}
          </td>
          }
          <td class="wd-200 border border-dark tx-center pd-5">
            {{ "General.SMEs-Full" | translate }}
          </td>
        </tr>
        <tr class="bg-black-9 tx-white">
          <td class="border border-dark tx-center pd-5" [colSpan]="3">
            {{ "ProjectSettings.Assigned" | translate }}
          </td>
        </tr>
        <tr>
          <td class="wd-200 border border-dark pd-5 valign-top">
            <wbs-project-user-list
              [icon]="minusIcon"
              [users]="pms()?.assigned"
              noUsersLabel="ProjectSettings.NobodyAssigned"
              (selected)="remove(roles()!.pm, $event)"
            />
          </td>
          @if (approvalEnabled()) {
          <td class="wd-200 border border-dark pd-5 valign-top">
            <wbs-project-user-list
              [icon]="minusIcon"
              [users]="approvers()?.assigned"
              noUsersLabel="ProjectSettings.NobodyAssigned"
              (selected)="remove(roles()!.approver, $event)"
            />
          </td>
          }
          <td class="wd-200 border border-dark pd-5 valign-top">
            <wbs-project-user-list
              [icon]="minusIcon"
              [users]="smes()?.assigned"
              noUsersLabel="ProjectSettings.NobodyAssigned"
              (selected)="remove(roles()!.sme, $event)"
            />
          </td>
        </tr>
        <tr class="bg-black-9 tx-white">
          <td class="border border-dark tx-center pd-5" [colSpan]="3">
            {{ "ProjectSettings.Unassigned" | translate }}
          </td>
        </tr>
        <tr>
          <td class="wd-200 border border-dark pd-5 valign-top">
            <wbs-project-user-list
              [icon]="plusIcon"
              [users]="pms()?.unassigned"
              (selected)="add(roles()!.pm, $event)"
            />
          </td>
          @if (approvalEnabled()) {
          <td class="wd-200 border border-dark pd-5 valign-top">
            <wbs-project-user-list
              [icon]="plusIcon"
              [users]="approvers()?.unassigned"
              (selected)="add(roles()!.approver, $event)"
            />
          </td>
          }
          <td class="wd-200 border border-dark pd-5 valign-top">
            <wbs-project-user-list
              [icon]="plusIcon"
              [users]="smes()?.unassigned"
              (selected)="add(roles()!.sme, $event)"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
