<div class="d-flex h-100">
  <div class="flex-fill">
    <div class="d-flex h-100 flex-column">
      <div class="w-100 border-500">
        <button kendoButton fillMode="clear" (click)="back.emit()">
          <fa-icon [icon]="faArrowLeft" />
        </button>
        <span class="mg-l-15"> Chat with {{ model().title }} </span>
      </div>
      <div class="flex-fill">
        <kendo-chat
          [messages]="feed()!"
          [user]="service.you"
          class="h-100"
          (sendMessage)="sendMessage($event)"
          (executeAction)="setProposal($event.action.value === 'append')"
        />
      </div>
    </div>
  </div>
  <div class="w-50 pd-l-15 d-flex flex-flow-col">
    <div class="tx-bold d-flex ht-40 flex-align-center">
      <span>{{ "General.Description" | translate }}:</span>
    </div>
    <kendo-editor class="flex-fill" [(value)]="proposal" />
    <div class="btn-group w-100" role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn btn-outline-dark pd-8 rounded-0"
        (click)="proposal = ''"
      >
        <fa-icon [icon]="faEraser" />
        Clear
      </button>
      <button
        type="button"
        class="btn btn-outline-dark pd-8 rounded-0"
        (click)="revert()"
      >
        <fa-icon [icon]="faArrowRotateBack" />
        Revert
      </button>
      <button
        type="button"
        class="btn btn-outline-dark pd-8 rounded-0"
        (click)="descriptionChange.emit(proposal)"
      >
        <fa-icon [icon]="faThumbsUp" />
        Accept & Close
      </button>
    </div>
  </div>
</div>
