<div>
  <span class="d-ib wd-30">
    <wbs-project-status-tile-icon
      [status]="
        project.status === 'cancelled'
          ? 'unstarted'
          : project.status === 'planning'
          ? 'in-progress'
          : 'completed'
      "
    />
  </span>
  {{ "Projects.PlanningPhase" | translate }}
</div>
<div class="wd-20 ht-20 tx-center rotate-90">...</div>
@if (approvalEnabled) {
<div>
  <span class="d-ib wd-30">
    <wbs-project-status-tile-icon
      [status]="
        !project.approvalStarted
          ? 'unstarted'
          : project.status === 'approval'
          ? 'in-progress'
          : project.status === 'planning'
          ? 'rejected'
          : 'completed'
      "
    />
  </span>
  {{ "Projects.ApprovalPhase" | translate }}
</div>
<div class="wd-20 ht-20 tx-center rotate-90">...</div>
}
<div>
  <span class="d-ib wd-30">
    <wbs-project-status-tile-icon
      [status]="
        project.status === 'execution'
          ? 'in-progress'
          : project.status === 'planning' || project.status === 'approval'
          ? 'unstarted'
          : 'completed'
      "
    />
  </span>
  {{ "Projects.ExecutionPhase" | translate }}
</div>
<div class="wd-20 ht-20 tx-center rotate-90">...</div>
<div>
  <span class="d-ib wd-30">
    <wbs-project-status-tile-icon status="unstarted" />
  </span>
  {{ "Projects.ReviewPhase" | translate }}
</div>
@if (project.status === 'cancelled') {
<div class="wd-30 ht-20 tx-center rotate-90">...</div>
<div>
  <span class="d-ib wd-30">
    <wbs-project-status-tile-icon status="in-progress" />
  </span>
  {{ "Projects.ProjectCancelled" | translate }}
</div>
}
