<div class="h-100 d-flex flex-column">
  <div
    class="d-flex flex-row flex-align-center gap-10 bg-gray-200 border tx-12 pd-l-10 pd-y-5"
  >
    @if (task()) {
    <button
      #menuTarget
      kendoButton
      size="small"
      fillMode="flat"
      class="pointer p-0 ht-10"
    >
      <fa-icon
        size="sm"
        [icon]="menuIcon"
        (click)="buildMenu()"
        [title]="'General.Options' | translate"
      />
    </button>
    <kendo-contextmenu
      showOn="click"
      [items]="menu()"
      [target]="menuTarget"
      (select)="menuItemSelected($event.item.action)"
    >
      <ng-template kendoMenuItemTemplate let-item="item">
        <wbs-context-menu-item [item]="item" />
      </ng-template>
    </kendo-contextmenu>
    }
    <div class="fw-bold">
      {{ "General.TaskDetails" | translate }}
    </div>
    <wbs-save-message [state]="menuSave.state()" />
  </div>
  <div #taskDetails class="flex-fill scroll-y">
    @if (editTask(); as t) {
    <div class="task-detail-card tx-12">
      <div class="detail-header">
        <wbs-save-message [state]="titleSave.state()" />
        &nbsp;
        {{ "General.Title" | translate }}
      </div>
      <div>
        <wbs-task-title-editor [title]="t.title" (save)="saveTitle($event)" />
      </div>
      <div class="detail-header">
        @if (!editDisciplines() && t.disciplines.length > 0) {
        <span
          class="d-inline-block pointer tx-10 mg-r-5"
          (click)="editDisciplines.set(true)"
        >
          <fa-icon [icon]="editIcon" />
        </span>
        }
        {{ "General.Disciplines" | translate }}
      </div>
      <div>
        @if (editDisciplines() ) {
        <wbs-discipline-dropdown
          [saveIcon]="saveIcon"
          [data]="projectDisciplines()"
          [values]="t.disciplines"
          (save)="saveDisciplines($event)"
          (cancel)="editDisciplines.set(false)"
        />

        } @else if (t.disciplines.length === 0) {

        <span class="d-inline-block pd-5">
          <kendo-chip
            size="small"
            rounded="full"
            (contentClick)="editDisciplines.set(true)"
          >
            <fa-icon [icon]="addIcon" class="mg-r-5" />
            Add Disciplines
          </kendo-chip>
        </span>
        } @else {
        <kendo-chip-list>
          @for (d of t.disciplines; track d.id) {
          <kendo-chip
            size="small"
            rounded="full"
            (contentClick)="editDisciplines.set(true)"
          >
            <wbs-discipline-icon-label [item]="d" />
          </kendo-chip>
          }
        </kendo-chip-list>
        <wbs-save-message [state]="disciplineSave.state()" />
        }
      </div>
      <div class="detail-header">
        <label [for]="descriptionBox">
          {{ "General.Description" | translate }}
        </label>
        <div class="fw-normal">
          <wbs-save-message [state]="descriptionSave.state()" />
        </div>
      </div>
      <div>
        <kendo-textarea
          #descriptionBox
          class="w-100"
          [style.width.px]="200"
          [(ngModel)]="t.description"
          [rows]="5"
          flow="horizontal"
          resizable="none"
        >
          <kendo-textarea-suffix>
            <button
              kendoButton
              class="suffix-clear-button"
              fillMode="clear"
              (click)="descriptionChanged(t.description!)"
            >
              <fa-icon [icon]="saveIcon" />
            </button>
          </kendo-textarea-suffix>
        </kendo-textarea>
      </div>
      <div class="detail-header">
        {{ "General.Resources" | translate }}
      </div>
      <div>
        <wbs-project-task-details-resources [taskId]="t.id" />
      </div>
    </div>

    } @else {
    <div class="w-100 text-center pd-t-20">
      {{ "Wbs.SelectTask" | translate }}
    </div>
    }
  </div>
</div>
