<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="custom-card">
      <div class="card">
        <div
          *ngIf="pageTitle$ | async; let title"
          class="card-header tx-medium"
        >
          {{ "General.Settings" | translate }} > {{ title | translate }}
        </div>
        <div class="card-body p-0 border-0 p-0 rounded-10">
          <div class="pane-content" style="padding: 15px">
            <router-outlet />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
